[2021-08-22 10:29] tuxpeople commented on #343
Thanks! I see in the PR that there will be an information about the accepted extensions. That's good!

[2021-08-22 10:29] #343 closed

[2021-08-27 10:57] D-o-c opened #344 "Kubernetes API request failed: unexpected end of JSON input"
Hi all!

I have an issue when connecting to Rancher (using the Rancher Platform connector): for everything I try to access I get the error in the title.
Authentication is correct since if I change user/password (or the token) the error is different (and it is related to the authentication).

I have also noticed that if I try to reach the URL in the configuration (**https://myhostname:443/k8s/clust

[2021-08-28 11:00] jbravo94 commented on #344
@D-o-c

Are you able see the added cluster in the dropdown already or are you still having problems while adding?

Just for clarification - you entered only the the IP/Hostname in the Rancher Host input without https, port or any other  URL stuff like this:

![image](https://user-images.githubusercontent.com/26746017/131214878-44143314-4717-4dd0-8794-7c6645db1659.png)

If that works already - i th

[2021-08-31 15:32] D-o-c commented on #344
I have installed it on k3s which already deploy the metrics server.

Authentication works fine since I can select the cluster.

Are there some config I can provide you?

Thx

[2021-09-10 12:06] larivierec commented on #344
Could it be you installed k8s 1.22?
Im having issues with kubenav since upgrading, was wondering it it could be this

[2021-09-10 12:30] larivierec opened #345 "k8s 1.22 support"
Since upgrading from 1.21 to 1.22 a lot of deprecated features were completely removed from k8s.

For example the Ingress obj:
https://github.com/kubenav/kubenav/blob/master/src/components/resources/discoveryAndLoadbalancing/ingresses/IngressDetails.tsx#L69-L70

The example below is an example. Ingress objects no longer use `serviceName` `servicePort` but rather
[code]

These paths no longer exist

[2021-09-11 13:13] D-o-c commented on #344
Kubernetes Version: v1.21.4

The issue occurred only if I use Rancher settings to connect. If I import the kubectl config file it works fine

[2021-09-12 13:59] #345 closed

[2021-09-12 14:00] ricoberger commented on #345
Hi @larivierec, thanks for reporting.

I updated the versions used by Ingresses and Custom Resource Definitions in #346. A new version with the change will be available soon in the App Store and Google Play Store.

[2021-09-18 12:24] jbravo94 commented on #344
@D-o-c I think i need to reproduce it and need to setup you installation.

So you basically setup k3s v1.21.4
like this
https://rancher.com/docs/rancher/v2.6/en/installation/resources/k8s-tutorials/ha-with-external-db/
and
rancher with a helm chart like this
https://rancher.com/docs/rancher/v2.6/en/installation/install-rancher-on-k8s/
?

[2021-09-18 22:21] jbravo94 commented on #344
@D-o-c I am not finished with investigations, but i would suggest that you try to use not a self-signed certificate for accessing Rancher, if you currently use one?

[2021-09-19 08:04] D-o-c commented on #344
I wrote a recap of my installation to keep track of it. Here's the extraction for the first setup (single node for now):

# Install k3s and Cert-Manager

[code]

[...]

## Create the namespace for cert-manager

[code]

## Add the Jetstack Helm repository

[code]

## Install the cert-manager Helm chart

[code]

## Add the certificate issuer

[code]

# Install Rancher

## Preconfig

Add the rancher

[2021-09-26 15:59] LoEnzo commented on #344
I have been importing the Kubectl configuration file wrong, no matter ios or PC platform, could you please refer to your configuration，thanks

[2021-09-26 17:23] jbravo94 commented on #344
@D-o-c @LoEnzo I currently very busy, so i am sorry i cannot provide faster help.

The current things which if found are following:

1. Use valid SSL certificates and no self-signed ones
- "Kubernetes API request failed: unexpected end of JSON input" comes from from the official k8s-go-client library when connecting to a self-signed certificate if not specified
- My current workaround: kubeconfig

[2021-10-01 11:33] D-o-c commented on #344
Unfortunately I cannot use LetsEncrypt Certificate at Rancher installation level, as it leverages on HTTP validation <sub>[source](https://rancher.com/docs/rancher/v2.5/en/installation/install-rancher-on-k8s/#3-choose-your-ssl-configuration)</sub>, mine is just an home-just-for-fun setup :)

But I have added LetsEncrypt in the Rancher Ingress, through CertManager and Cloudflare Issuer. This is wha

[2021-10-06 10:07] RafPe opened #348 "Feature request - More insight into nodes in desktop client"
Hi,

First of all great tool and awesome you support it on mobile. Was really happy to start switching from more resource heavy projects.

I was wondering are there any plans on uprading overview of nodes section. Right now its a simple list but it would be cool to ohave more detailed overview things like:
* per node CPU
* per node memory
* CPU requests
* Memory requests
* and maybe in future cont

[2021-10-27 02:46] maobaolong opened #349 "Add support for crd"

[2021-10-27 09:37] #349 closed, assigned to nobody

[2021-10-28 08:47] tuxpeople opened #350 "Automatically bump homebrew version"
You could add https://github.com/marketplace/actions/homebrew-bump-formula to your release pipeline here, to automatically update the homebrew package. It should be pretty easy, when I look at this:

https://github.com/jesseduffield/lazygit/blob/master/.github/workflows/cd.yml#L24-L31

[2021-11-01 16:44] ricoberger commented on #348
Hi @RafPe, sorry for the late reply.

Finally I found some time to look into your request and created a PR (#352) to add the CPU and memory metrics to the overview page for the nodes.

It would be nice, if you can try the preview build from https://github.com/kubenav/kubenav/actions/runs/1408711373.

[2021-11-01 19:08] #316 closed

[2021-11-02 08:49] RafPe commented on #348
@ricoberger hey - downloaded the version and looks epic! Thanks very much for you work on this project! Thanks a lot for this!

[2021-11-06 22:04] #348 closed

[2021-11-14 02:08] bbigras opened #353 "not able to open the file picker on Android 12 to import a kubeconfig"
When I hit the "select kubeconfig" button I don't see a file picker.

Is the textbox below a place where I can paste my config? It didn't seem to work but maybe my config is wrong.

[2021-11-14 09:00] si458 commented on #353
Hi, I've just setup my new z fold 3 after migrating from iPhone, I'm using android 11 and it's also the same issue here
Click the button and nothing happens?
I've even gone into the app settings and enabled the file access incase that was the issue but no difference

[2021-11-17 15:33] ricoberger commented on #353
Hi @bbigras, I have the same issue on the Android Emulator. I will try to find a solution for the problem.

Pasting my config into the textfield below the "Select Kubeconfig" button is still working for me.

[2021-11-17 21:12] #353 closed

[2021-11-17 21:44] ricoberger commented on #353
With the update of Capacitor to version 3 (#355), this problem should be fixed or at least I can not reproduce it in the Android Emulator anymore 🤞

I will try to release a new version of kubenav by the beginning of next week.

If it is still not working please let me know.

[2021-11-17 22:00] #342 closed

[2021-11-17 22:02] ricoberger commented on #342
The URLs from a forwarded port are now opened in the in-app browser, this way we can avoid that the app becomes inactive.

The new version will be available by the beginning of next week. Hopefully this fixes the issue for you. If not please let me know.

[2021-11-20 03:34] ko5tas opened #360 "Android client not importing kube config file"
Android app
ADD A CLUSTER --> IMPORT KUBECONFIG --> SELECT KUBECONFIG

There is no prompt to select a file from the device's folders.

I have given permission to the application to read all files in device, still no luck.

[2021-11-20 08:32] si458 commented on #360
This is related to #353 and a fix has already been issued
We are just waiting for the next release :)

[2021-11-20 14:47] #360 closed

[2021-11-22 08:02] ricoberger commented on #360
[v3.8.0](https://github.com/kubenav/kubenav/releases/tag/3.8.0) with the fix, should now be available in the Google Play Store.

[2021-11-22 08:02] ricoberger commented on #353
[v3.8.0](https://github.com/kubenav/kubenav/releases/tag/3.8.0) with the fix, should now be available in the Google Play Store.

[2021-11-22 08:03] si458 commented on #360
Indeed works a treat! Bugs all fixed 😀

[2021-11-22 16:08] bbigras commented on #353
I'm now able to open the file picker, but for some reason I can't select my config file. I tried changing the extension to `.yml` or `.yaml` without success.

I also granted it permission to access files.

[2021-11-22 18:35] ricoberger commented on #353
Thanks for the feedback. I looked through some similar issues and it seems that it can also be related to the accepted files.

I created a PR #361 to remove this for the Android version and will publish a new version for Android. Let's hope that this fixes the issue 🤞

[2021-11-22 18:37] si458 commented on #353
What version of android are you using?
I have no issues here on my fold 3 running android 11?
Selects files no problem?
If the file stored on an sd card or in another app like mega maybe?

[2021-11-22 18:41] bbigras commented on #353
Android 12.

In the file picker, I can't even click on the file. It's weird.

I tried renaming the extension.

The file was initially in my download folder, but using the document folder didn't change anything.

[2021-11-22 23:39] bbigras opened #362 "invalid kubeconfig (minikube)"
My kubeconfig was invalid since it had some minikube stuff in it.

[code]

[2021-11-22 23:40] bbigras commented on #353
It works with the latest version, thanks! :+1:

[2021-11-23 17:28] ricoberger commented on #362
Hi @bbigras I think the problem with the config is the `certificate-authority` which can not be used for an import.

Instead it should be `certificate-authority-data` with the bas64 encoded certificate from `/home/bbigras/.minikube/ca.crt`.

[2021-11-23 17:46] bbigras commented on #362
Gotcha, thanks.

In my case, I just removed it.

I opened this issue if you want to handle this case but feel free to close the issue.

[2021-11-23 18:58] ricoberger commented on #362
I would stick with the invalid Kubeconfig message for now.

Thanks for your feedback, maybe we found a better way for the validation in the future 🙂

[2021-11-23 18:58] #362 closed

[2021-11-24 16:09] MarcoProcida opened #363 "Namespace filter"
In my case i have not the permission to see al-namespace.
Using lens on PC I add the name I can connect in the configuration of cluster.
It  is possible have something similar in kubenav?

[2021-11-24 16:34] ricoberger commented on #363
Hi @MarcoProcida yes you can also set the namespace you want to use manually. For that you can go to **Clusters** --> Swipe the Cluster where you want to change the namespace to the left --> click the **Edit** button --> scroll to the bottom, where you can change the namespace.

Does this help?

[2021-11-25 04:15] FriedCircuits commented on #308
Hello, any update on this? I tested the latest version and the same issue on Android and Windows. Also the Prometheus plugin option loads a blank page. I can port forward and load the Prometheus UI fine.

[2021-11-25 10:53] MarcoProcida commented on #363
Very well, it fix my issue. I don't see this possibility

[2021-11-25 18:55] ricoberger commented on #308
Hi @FriedCircuits, to understand whats going on here, it would be nice if you can provide the output for the commands from my previous comment:

[2021-11-25 18:56] ricoberger commented on #363
Nice, so I can close the issue?

[2021-11-26 00:19] FriedCircuits commented on #308
Sure here is my setup:
[code]

Here is the the beginning of the response

[code]

I am using mostly defaults from the helm chart. Only thing I am setting is `scrape_interval: 30s` for Lens and enable PVC. So `--web.external-url` and `--web.route-prefix` are default which is empty.

[2021-11-27 22:14] ricoberger commented on #308
Hi @FriedCircuits thanks for sharing. Can you maybe also share your settings for Prometheus from the kubenav app and the output of the following command:

[code]

[2021-11-28 01:44] FriedCircuits commented on #308
@ricoberger

[code]

App Settings
[code]

[2021-11-28 09:12] ricoberger commented on #308
Hi @FriedCircuits, I think the problem is the configured `selector`, which also matches other Pods in the `prometheus` namespace.

Can you try to use `app=prometheus,component=server` as selector, so that only the Prometheus Pod is selected?

[2021-11-28 18:40] FriedCircuits commented on #308
Worked perfectly! I get metrics throughout the app. Thanks for troubleshooting with me. Hopefully this helps someone else too.

[2021-11-29 01:42] rsliotta opened #364 "v3.8.1 - standard_init_linux.go:228: exec user process caused: no such file or directory"
Hello.

When I change the version to 3.8.1 or 3.8.0 in values.yaml.   I get the error on the subject line.  3.7.1 works fine.  Any idea.

[2021-11-30 19:49] dflottmann opened #365 "Aggregated Log-View for all pods contained in a deployment"
It would be great to see aggregated logs for all pods which are part of a deployment, with colour-coded log entries to differentiate better between the different pods. Also Filtering to a subset of pods for a deployment would be great.

Great Tool. Really love the approach! :)

[2021-12-02 20:37] webfrank opened #367 "Gboard shell problem"
Hi, on Android with gboard is not possible to use pod shell as while writing I got characters/ words repeated.

[2021-12-03 19:26] 2fst4u opened #368 "Show live resource usage per pod"
It would be great if you could see the resource usage as a graph like the kubernetes dashboard shows when you're looking at a pod. It's good to see the figure for how much CPU or memory is consumed, but a graph over time shows trends and peaks.

[2021-12-04 11:21] #364 closed

[2021-12-04 18:06] ricoberger commented on #364
Hi @rsliotta, thanks for reporting 🙂. This should be fixed in 3.8.2.

[2021-12-07 23:49] ko5tas commented on #353
unfortunately I still get a
"Could not save
Invalid kubeconfig"
error but this time it shows the config file's content.

Kubeconfig has GKE cluster entries, created with whatever gloud command is recommended by GKE's web console.

[2021-12-08 06:46] ricoberger commented on #353
Hi @ko5tas, can you share the structure of your kubeconfig file please?

[2021-12-12 01:01] rsliotta opened #370 "prometheus 3.8.2"
Hello,

Using MacOS 3.82.  I installed prometheus-operator.
Selector is app.kubernetes.io/name=prometheus

I can see new metrics all over kubenav so I think it is working.

Only place that does not work is if I click prometheus on the lefthand menu.  Output screen is black and goes unresponsive.

I ran debug and if I click there I do see focus/unfocus.  I suspect I missed something.  Am I supposed

[2021-12-13 22:07] #363 closed

[2021-12-13 22:09] ricoberger commented on #308
Nice to hear and thanks for the feedback.

I would close the issue for now. If someone still has problems with the metrics please let me know.

[2021-12-13 22:09] #308 closed

[2021-12-14 18:56] vainkop opened #372 "Feature request: add terminal with kubectl in context of cluster opened"
Please add terminal with kubectl in context of cluster opened for Android.

Same as in Lens.

P.S. not only your app is the only one working good with multiple managed Kubernetes but it works with AWS SSO which is very convenient.

Thanks!

[2021-12-14 19:10] vainkop commented on #372
Obviously kubectl also uses http so imo the creation of kubectl container & opening terminal in it can be handled easily all in Kubenav, no need to use kubectl to create a pod for it.
The following image or any similar can be used https://hub.docker.com/r/bitnami/kubectl

Similar can be done for helm https://hub.docker.com/r/dtzar/helm-kubectl/

P.S. Kubenav terminal looks not very convenient & sm

[2021-12-14 19:13] si458 commented on #372
this is exactually what i was suggesting!
create a container with kubectl in and then open a terminal to that container!
@ricoberger might have a better idea though 👍

[2021-12-14 19:21] vainkop commented on #372
That's not exactly what I'm suggesting as there's no way to use kubectl on Android with EKS as aws-aim-autheticator is not available for Android so no way to create any pod https://github.com/kubernetes-sigs/aws-iam-authenticator

Kubenav could implement all flow end to end like Lens does for ssh into nodes.

[2021-12-14 20:55] joscdk opened #373 "Error with re-auth using AWS SSO"
Hi,

I am testing kubenav out on my iPad connecting to an EKS cluster using AWS SSO. Everything works fine when i create the cluster in Kubenav.

After 8 hours my session expires, and i see an error on the overview page (As expected). If i go to e.g. Pods i can click a button to login again.

I go here, and click to verify credentials, and sign in using AWS SSO and grants access.
When proceeding i

[2021-12-18 09:32] #370 closed

[2021-12-18 09:33] ricoberger commented on #370
Hi @rsliotta, thanks for reporting. The issue should be fixed in the next version.

[2021-12-18 10:44] #197 closed

[2021-12-18 21:52] #368 closed

[2021-12-18 21:55] ricoberger commented on #368
Hi @2fst4u thanks for your input. The feature should be available in the next version please let me know if it is like you expected.

[2021-12-19 18:01] ricoberger commented on #373
Hi @joscdk thanks for reporting the issue. This should be fixed in the next version.

If you still have problems please let me know.

[2021-12-19 19:04] #373 closed

[2021-12-20 09:28] joscdk commented on #373
Thank you so much, will test as soon as the release is out. 😊

[2021-12-24 15:45] linsui opened #378 "F-Droid build failed"
[code]

Could you please take a look? Thanks!

[2021-12-25 10:32] ricoberger commented on #378
Hi @linsui, thanks for the hint.

I think this is related to the latest updates and hopefully should be fixed by https://gitlab.com/fdroid/fdroiddata/-/merge_requests/10281.

[2021-12-25 14:12] #378 closed

[2022-01-06 11:48] egvimo opened #379 "Add option to hide Kubernetes system namespaces"
Would it be possible to add an option to hide the `kube-*` namespaces when filtering for all Namespaces?

Currently this would be `kube-system`, `kube-public` and `kube-node-lease` but maybe it is easier to hide everything starting with `kube-`.

[2022-01-25 08:04] jaudiger opened #380 "Failed to add EKS cluster from EU-West-1 region"
Hi,

First of all thanks for your application, I'm currently using your iOS application, and it works as expected. I only encounter one weird issue that I can't really explain.

Currently, I have 3 clusters deployed on 3 different AWS regions, I was able to add 2 of the 3 clusters by importing the configuration using the dedicated interface based on:
- Access Key ID
- Secret Key
- Region

The one

[2022-01-26 03:01] jackmanwu opened #381 "unable to start"
macOS Monterey
version: 12.0.1
Apple M1

APP unable to start in env

[2022-01-26 18:57] ricoberger commented on #381
Hi @jackmanwu, can you try to start the app by running the following command in your terminal:

[code]

[2022-01-26 19:45] ricoberger commented on #380
Hi @jaudiger thanks for reporting the issue. Does this also happen when you restart the app and try to add the third cluster?

[2022-01-26 21:41] jaudiger commented on #380
Hi @ricoberger, I just tried your trick and it worked.. Well, I’m one of those guys who never close an application on mobile phone.

After restarting the application, I saw my third cluster in the targeted region. Thanks, for the suggestion.

Anyway, I think, there is still a bug here since this is mostly a workaround. But at least it exists and it is simple to put it in practice.

Feel free to cl

[2022-01-27 06:30] ricoberger commented on #380
Hi @jaudiger, thanks for testing 🙂.

I will keep the issue open and try to find the problem as soon as possible.

[2022-01-30 18:40] 2fst4u commented on #367
I get this same issue too. It can be a bit frustrating to use.

[2022-01-30 18:43] 2fst4u opened #383 "When resource usage is a very small number, an insanely huge number shows"
Quite often when checking resource usage a pod will show something like "5444020000mi" when my wee raspberry pis only have 4 cores to work with. After a refresh sometimes these pods will show they're actually using "5mi" or something very very low.

Quite often though many of them won't go back to showing a small number and just keep showing a huge number. I have attached a screenshot of my cluste

[2022-02-01 21:44] theAkito opened #384 "[Android] Obsolete Warnings remain in Overview"
When some pods create warnings, the warnings show as events in the overview for a very long time and I did not find a way to clear the warnings once I found out that they are obselete. Half of the warnings were even addressing pods that do not even exist, anymore.

I would like to know where the button is to clear the overview from all warnings. Something like a checkmark for acknowledging that th

[2022-02-01 21:47] theAkito opened #385 "[Android] When pasting a faulty Kube Config an unspecified error is shown"
Instead of showing an unspecified error, the error should clearly state what is wrong. For example, in my case the syntax for the config was incorrect, because I accidentally did not paste the entire config into the field.
I wouldn't have needed to debug that issue manually, if the app just would've told me straight away about the syntax issue, instead of showing something like "an unknown error o

[2022-02-02 14:55] paulvaneijden opened #386 "When adding a cluster after transferring data to a new phone auth fails"
Just bought a new iPhone and after transferring data from the old phone kubenav config is empty (so it seems). However when trying to add a cluster (EKS, using secrets), the app gives a generic InvalidSignatureException. Remedy is deleting the app (which also deletes it's data), after reinstalling adding a cluster works just fine.

I would expect if kubenav config is empty it also should not retai

[2022-02-06 20:15] ricoberger commented on #384
Hi @theAkito, when the event is still returned by the Kubernetes API it will also remain in the view and can not be removed.

Currently we are just displaying the first x events of type warning, without checking how old they are. Maybe we can improve this by sorting the events by the last seen value, so that fixed warnings are at not visible anymore or at the end of the list.

I will add this as e

[2022-02-06 20:16] ricoberger commented on #383
Hi @2fst4u, thanks for reporting. I will check why this happens. Since I'm currently working on kubenav v4. I'm not sure if this will be already fixed soon in v3 or with the v4 release.

[2022-02-06 20:20] ricoberger commented on #386
Hi @paulvaneijden, thanks for reporting.

Currently I have no idea how this can happen. Since we are changing the underlying architecture of the app with version 4, I would like to recheck if this still happens with v4 instead of trying to fix it in the current version.

[2022-02-16 18:53] tbrodbeck opened #387 "Editor hidden below keyboard"
Hi. I noticed that in the edit view the keyboard is hiding the bottom part of the editor completely.

This is occurring on ios. Version 3.9.0

[2022-02-25 22:16] ricoberger commented on #387
Hi @tbrodbeck, thanks for reporting.

I'm currently working on version 4 of kubenav and would like to fix it with the new major release if this is ok for you.

[2022-03-04 03:33] lack opened #388 "Feature request: Guided object create/edit based on openapi definitions"
Rather than a simple text editor to create and edit objects, kubenav could show:
- The possible field names for that Kind
- The default value (if present)
- The description (if present)
- Any constraints, such as:
  - Integer min/max values
  - List of choices for enum types
  - etc
- Locally validate object before apply

[2022-03-04 03:37] lack opened #389 "Feature request: easier access to "scale" feature"
For StatefulSets, Deployments, or any other scalable type, the option to adjust the scale should be part of the slide menu on Android (currently the choices in the slide menu are "view" and "delete")

[2022-03-14 21:35] ricoberger opened #390 "kubenav v4"
During the last weeks we worked on kubenav v4. For the next major release we decided to switch from Capacitor to Flutter, to improve the performance of the app across all devices and to fix some long open issues.

If you want to try out the beta version of kubenav v4 you can do this via [Apple Testflight](https://testflight.apple.com/join/RQUFGkHi) or [Google Play](https://play.google.com/store/ap

[2022-03-15 22:20] jaudiger commented on #390
Hi @ricoberger ,

could you post here the TestFlight code needed to test the v4 version on iOS?

[2022-03-16 06:40] ricoberger commented on #390
Hi @jaudiger, unfortunately the submitted beta version is still in review. I will share the link as soon as the new version is available via Testflight.

[2022-03-16 21:15] Eweol opened #391 "Choose config file on Android"
Hi,
I registred to your Android beta program and got Version 3.10.0 befor 2 or 3 days.
Since than I cannot connect to my K8s-Cluster anymore, by using Kubeconfig.
I tried to click on the TextField and expected a filechoosingdialog but got an TextField Marker.
So I tryed to add the local path of my config file and clicked "Add Cluster", but nothing happens.
No error, no confirmation, nothing.

I us

[2022-03-16 21:39] ricoberger commented on #391
Hi @Eweol, thanks for trying out the beta 🙂.

You have to paste the content of you kubeconfig file into the TextField. The support for selecting a kubeconfig file will be re-added later, but before the official v4 release.

[2022-03-17 05:24] Eweol commented on #391
Hi @ricoberger,

Thank you for your help. I think it is a little bit confusing this way, maybe a comment or something like that would clarify this workflow.
By copieing content within the TextField it worked like a charm.

Thank you very much for this ver beautifull application and you support.

[2022-03-17 05:24] #391 closed

[2022-03-17 06:27] ricoberger commented on #390
Hi @jaudiger the TestFlight beta, should now be available via the following link https://testflight.apple.com/join/RQUFGkHi.

[2022-03-17 06:57] mmalyska opened #392 "Oidc disappearing scopes on Android"
Hi, I have problem with dissapearing scopes when using oidc auth on Android.
Before re-authentication I had scopes filled
![Screenshot_20220317_075021](https://user-images.githubusercontent.com/999598/158753585-938cb194-7354-4ad6-b627-4a60ee897bec.jpg)

But after re-authenticating the scopes are no more, so when token expires I need to fill scopes before authenticating again.
![Screenshot_20220317

[2022-03-17 19:02] Eweol opened #393 "ServiceWorker will not be provided"
I installed Kubenav in my Cluster as Web-Service with help of Kostomize.
After changing the image version manually to 3.9.0 I saw what I expected in my Web-browser.
I had some investigations regarding PWA support of the Web-Service and was positiv surprised that it is already implemented.
But there seems to be a problem by providing the ServiceWorker to browser.
The manifest file will be provided

[2022-03-18 22:06] jaudiger commented on #390
I really appreciate the new version of kubenav. The interface is much more cleaner and easy to use (IMO).

Let me give you some feedbacks below. The device i’m using is an iPhone 13 pro if you want to test thing in the XCode iPhone  simulator.

When I want to add clusters from a kube configuration file. And can’t click on the arrow button at the top of the pop up:
![A10FB2FC-04D8-48A2-B771-171E54E

[2022-03-19 16:20] voarsh2 opened #394 "Android: can't connect to Rancher on 443"
I'm using Android, app version 3.9 with Rancher 2.6X and I get "could not load Rancher Clusters", "failed to fetch".

I can't grab any app logs, does the app try and talk to ports other than 80/443??

[2022-04-15 14:40] rsbrisci opened #396 "[3.9.0 MacOS]: Unable to Scroll in the Cluster (Context) Selection Menu"
I have very many contexts in my local `~/.kube/config` and am unable to swap between them past "F" because the context selection window on Mac either doesn't scroll, or not all of them are being loaded into the selection window.

<img width="658" alt="Screen Shot 2022-04-14 at 3 06 48 PM" src="https://user-images.githubusercontent.com/9117801/163584046-fbb7416f-621c-4df9-bcff-bc79d0b4313b.png">

H

[2022-04-15 17:30] jeremyjpj0916 commented on #396
+1

[2022-05-02 17:13] cchatfield opened #397 "GKE only listing one of the clusters"
When using version 3.9.0 and the google oauth 2 configuration, I only see the last of the three clusters.

I have 3 clusters in 3 different accounts and the user has access to all accounts.

[2022-05-07 03:06] tk-focus-rs opened #398 "Able to add cluster in desktop, but not in iOS with the same kubeconfig import file"
Running version 3.9.0.  I am able to add my cluster using import of kubeconfig in my Mac (OS 11.6.1) to kubenav.  However using the same kubeconfig to my iOS (15.4.1), I can't add my cluster using import kubeconfig.  Error message of "could not save.  invalid kubeconfig".

Perplexed since I can use the same kubeconfig file for desktop and it works fine.

[2022-05-08 08:05] ricoberger commented on #398
Hi @tk-focus-rs, thanks for reporting the issue. Can you share the structure of you kubeconfig file please?

[2022-05-08 08:06] ricoberger commented on #397
Hi, thanks for reporting. I will try to reproduce the problem.

[2022-05-10 06:35] ricoberger commented on #398
Hi @tk-focus-rs thanks for sharing. The problem is that the cluster is using the `auth-provider` field, since we can not run the `gcloud` binary on mobile the Kubeconfig import isn't working.

To use the mobile version of kubenav with GKE you can use the Google Provider: https://docs.kubenav.io/mobile/google/

[2022-05-10 15:59] tk-focus-rs commented on #398
@ricoberger thanks for the feedback!

[2022-05-21 04:04] bbigras commented on #136
The "re-authenticate" button doesn't seem to do anything for me.

Note that I initially set `PKCE Method` to `S256` when I first added the cluster, and I don't see this option anymore when I edit it.

[2022-05-28 18:30] lsascha opened #399 "Android version missing prometheus and other options, plugins view empty"
I am playing aroung with kubenav and installed it on my desktop (windows 10) where everything works nicely.
metrics show up after i changed the namespace and selector as well.

But trying it on Android i get no metrics, no config i could find to set it up and the plugins window is just empty.

Am i missing something or is this probably a bug?

[2022-05-30 07:26] ricoberger commented on #399
Hi @lsascha, are you using the Beta version on Android, because there are some feature (like metrics) missing at the moment?

[2022-05-30 10:56] lsascha commented on #399
@ricoberger i was using the Beta, but opted out to see if it has to do with the Beta.
Appears that even after uninstalling and reinstalling, Google Play still gave me the Beta.
Tried it again today and now i have the missing options. :)

Sorry for the confusion. Everything is fine now.

[2022-05-30 10:56] #399 closed

[2022-06-05 13:47] macmiranda opened #400 "[Android] Cannot add cluster via AWS SSO"
When trying to add a new cluster, I fill in the SSO start data
<img src="https://user-images.githubusercontent.com/17923899/172053567-77147deb-e999-4791-b88e-0b42213a6469.jpg" width="200">

Go through the usual flow
<img src="https://user-images.githubusercontent.com/17923899/172053667-84e9eea6-3303-4163-8081-05fcd41e382e.jpg" width="200">

Device is authorized
<img src="https://user-images.github

[2022-06-15 16:30] pcgeek86 opened #401 "PowerShell cannot be invoked inside Pod"
### Summary

I use the cross-platform PowerShell container image `mcr.microsoft.com/powershell` to deploy many Pods on Kubernetes.
In Kubenav, I navigate to a specific Pod, and use the Shell command to invoke PowerShell interactively inside the Pod.
Under the **Select a Shell** section, I choose PowerShell, however it fails to start.

This happens because Kubenav is attempting to invoke `powershel

[2022-06-20 07:23] ricoberger commented on #401
Hi @pcgeek86, thanks for reporting.

I implemented you proposed fix in the latest beta version.

[2022-06-23 21:33] macmiranda commented on #400
Any ideas?

[2022-06-24 07:23] filiphr opened #402 "Long namespaces are cutoff in the desktop application"
In the namespace filter dropdown there is a 25 character cutoff limit. The policy at our company is to prefix the namespaces with a specific prefix (which can be long). This means that the most interesting bit of the namespace name is not shown.

It would be good if there is a tooltip that will show the name of the namespace, and / or if the size of the dropdown can be increased. I think that ther

[2022-06-27 05:43] ricoberger commented on #400
HI @macmiranda and sorry for the late reply. In the current version we merged the `Create Token` step together with the `Get Clusters` step, so that the token is created before we try to get the clusters.

Currently I'm not sure why it throws an 403 error, can you maybe try the latest beta version at https://play.google.com/apps/testing/io.kubenav.kubenav

[2022-06-27 09:41] marrau commented on #397
Hi, i have some similiar problems. I can only see the Cluster in one of our Projects.

@cchatfield Is it possible that your Clusters are spread across different Projects? And do you have Projects that does not have any Clusters?

For me it looks like, that the API is calling all Projects you have access to, and then iterates over all Projects and tries to list all Clusters in it.
But not all Proje

[2022-06-27 11:27] marrau commented on #397
Sry. Cannot find the log where i have seen this.

[2022-06-27 16:13] macmiranda commented on #400
Hi @ricoberger

Tried the beta version.
Once I get to the following page, there is just no way to go forth or back, so I have authenticated and authorized the embedded browser but continue stuck.
![Screenshot_20220627-180806.jpg](https://user-images.githubusercontent.com/17923899/175986994-49e19ab4-16a3-404a-9c05-add4dd80638a.jpg)

[2022-06-28 05:33] ricoberger commented on #400
HI @macmiranda, I pushed an update, which should fix the problem on Android.

[2022-06-28 11:12] ricoberger commented on #400
Hi, if I run the following command `aws configure sso` and complete the SSO process, I see the following message to get the Account ID and Role Name:

[code]

When I check it via the UI I can find these information in the AWS SSO -> Accounts section

![Bildschirmfoto 2022-06-28 um 13 08 53](https://user-images.githubusercontent.com/18552168/176165149-7eca3610-4a93-4d1d-8abc-94aa6832333c.png)

[2022-06-28 13:27] macmiranda commented on #400
Ok, got it. That allowed me to Get Credentials and Add Cluster but now getting the following errors in the log:
[code]

[2022-06-29 05:24] ricoberger commented on #400
HI @macmiranda, I pushed another update, which should fix the issue.

[2022-06-29 07:10] macmiranda commented on #400
Thanks for the quick responses
Still throwing an exception though (after the device has been authorized on the browser)
![Screenshot_20220629-090220.jpg](https://user-images.githubusercontent.com/17923899/176373257-28e2f833-7e41-4c36-a148-05eac565df0f.jpg)

Logs
[code]

[2022-06-29 09:17] ricoberger commented on #400
Thanks for reporting currently I can not reproduce the problem, but I will try to look deeper into it this afternoon.

One question did you re-add the AWS SSO provider or do you used the existing one from before the update?

[2022-06-29 10:23] macmiranda commented on #400
Hi @ricoberger, thanks for looking into it. I re-added the provider.
The first line in the log is still from the old provider, the subsequent lines are from the newly created one.

[2022-06-29 14:08] 0ff opened #403 "Feature request: AWS login provider allow to assume role"
Hi there, we love your project and especially your mobile apps!
Unfortunately, we cannot seem to get it working when using AWS STS assumed roles instead of "direct logins".

Our setup looks like this:
* AWS Account A (here are all the Users with their Keys and Secrets)
  * AWS Account B (here is our EKS Cluster and a role that allows Users of Account A to assume it)

This means that our users don'

[2022-06-29 17:57] ricoberger commented on #400
Hi @macmiranda, I pushed another update 🤞

[2022-06-29 20:07] macmiranda commented on #400
🎉🎉🎉 It worked
![Screenshot_20220629-220043.jpg](https://user-images.githubusercontent.com/17923899/176535241-641c05da-24b9-4049-ae2c-22d94696b6b1.jpg)
Thanks a lot, @ricoberger
Expect a small contribution going your way.

[2022-06-29 20:08] #400 closed

[2022-06-30 08:50] marrau commented on #397
So, i´ve checked it and found the actual problem and could fix it.

It was just a misplaced "return" resulting in just a Single Project being asked for Clusters.

Although i did added the additional Check for the Active API and that the Project is not "Pending Deletion" (actually a coincidence that i have a Project like that - it ended with an Error tryting to access it :-D)

Now we just need to s

[2022-06-30 09:38] ricoberger commented on #400
Awesome and thank you very much 🙂

Feel free to provide you feedback about the beta in #390. If you encounter any other problems please create a new issue.

[2022-06-30 19:27] ricoberger commented on #403
Hi @0ff, this sound like a useful addition and a PR would be very welcome.

If you want to start working on this, it would be awesome if you can create a PR against the [v4](https://github.com/kubenav/kubenav/tree/v4) branch. This should be implemented in the following file https://github.com/kubenav/kubenav/blob/04573da3b5a50c4974c60a2421a7256375d3920e/cmd/kubenav/aws.go.

[2022-07-12 08:45] 0xADD1E opened #405 "Feature Request: Pomerium Clusters"
What sort of steps would be necessary to allow the app to authenticate to clusters using https://www.pomerium.com/docs/guides/kubernetes#configure-kubectl ?

[2022-07-18 15:40] nixiam commented on #14
Hi, I tried to follow your 2* point but, I produced sa and secret yaml but can you share the filled manual configuration in kubenav? I tried but it doesn't work. Thank's

[2022-07-28 20:12] 2fst4u opened #406 "Feature request: live refresh"
I'm sure we had this in the previous version, but it would good if a configurable live refresh of the data on screen could be set. I find myself just continually hitting the refresh button just to see what's happening to a particular pod.

This would happen ideally in every part of the app from the home page to the individual pods etc.

[2022-07-28 20:14] 2fst4u opened #407 "Feature request: Show units on Y scale on live metrics graphs"
In the live metrics the graph scales automatically but unless you look at the number at the bottom, there's no indication as to what the actual unit is.

Additionally, if the Y axis showed the request and limit set for the pod that would be brilliant to see where the graph is in relation to these figures.

[2022-08-09 23:55] Sierra1011 commented on #390
Just upgraded from V3 to V4, and overall I like it!
Couple of comments for you though:
- no dark mode? V3 had one so would love to see it again!
- when looking at metrics, there appears to be some rounding going on which is actually obscuring some numbers that are obviously different. I'll add a screenshot to demonstrate, but in essence I've gone from seeing millicores to rounded-whole-cores, and

[2022-08-10 09:30] babs opened #408 "Ubuntu 22.04 / NVIDIA Graphic card app crashes"
The application crashes when running on ubuntu 22.04 with nvidia graphic cards.

After some research, a possibility would be to launch electron with `--ignore-gpu-blacklist` flag, it *might* solve the problem.
Would it be possible to add flags on kubenav cli to pass through to electron invocation to check different options ?

Following: kubenav --debug
[code]

[2022-08-20 01:45] 223311 opened #409 "Feature request: Helm uninstall and get all values (both user supplied and helm suppled)"
Hi, it would be more useful, if we have the operation like helm uninstall, update modify and get the values.

[2022-08-20 01:50] 223311 opened #410 "Feature request: separate configuration for cluster login"
while opening the kubenav it automatically login to the k8 cluster, instead of that, if we have one cluster page and show a list of clusters based on user input it will log in to that cluster.

[2022-09-11 20:57] ricoberger commented on #390
Hi @jaudiger and @Sierra1011, thanks for all your feedback. I just wanted to give you a quick update on some of your points:

I didn't find a nice solution for this yet. At the moment I'm playing with the idea to display landscape mode for the app.

Same here, I didn't find a nice solution to implement this and will most likely not implement it.

This will be implemented in one of the next version

[2022-09-11 21:06] ricoberger commented on #14
Hi @nixiam, sorry that I missed your question.

Can you have a look at the following page please, to see which value must be used in which field https://docs.kubenav.io/mobile/manual/

Besides the certificate authority data and the token values, you just have to provide the server url in the manual configuration, then it should be working.

If you have any further question please let me know.

[2022-09-11 21:12] ricoberger commented on #397
Hi @cchatfield, the fix provided by @marrau 🙂 should be available in the newest version, so that I would close this issue. Please let me know if there are any other problems.

PS: The Google provider is now also available in the newest [beta version](https://github.com/kubenav/kubenav/issues/390). If one of you wants to try this out, I would be very interested in your feedback.

I hope the followi

[2022-09-11 21:12] #397 closed

[2022-09-11 21:17] ricoberger commented on #136
Sorry for abusing this old issue. I'm currently working on version 4 of kubenav and added the OIDC provider in the latest [beta version](https://github.com/kubenav/kubenav/issues/390).

If you have some time to try the OIDC provider, I would be very interested in your feedback.

Note: The redirect url was change to https://kubenav.io/oidcv4.html in the beta version.

[2022-09-12 00:28] cchatfield commented on #397
Tried to add via beta and received the following message.

On Sun, Sep 11, 2022, 3:12 PM Rico Berger ***@***.***> wrote:

[2022-09-12 05:01] jaudiger commented on #390
HI @ricoberger, thanks for the news ! I'm really looking forward for the next version of Kubenav, your work is just amazing !

[2022-09-12 19:54] ricoberger commented on #397
Hi @cchatfield, thanks for testing.

I published a new beta version. Can you try it again please. If it is still not working can you share the logs from the **Help** section in the **Settings** tab please. The logs may contain some credentials please remove them before sharing.

[2022-09-12 20:45] ricoberger commented on #405
Hi @0xADD1E, Pomerium is currently not supported, but maybe a Service Account and the manual cluster configuration option can be used as workaround https://docs.kubenav.io/mobile/manual/#use-a-service-account

[2022-09-13 05:33] cchatfield commented on #397
Here is the log.  I removed the old config and the tried to add the new config but the new one is not persisted.  No message, just back to the add provider.

Time: 2022-09-12 23:29:31.852395
Name: GoogleService getTokensFromCode
Message: Response status: 200
Detail: {
  "access_token": "",
  "expires_in": 355

[2022-09-19 18:53] ricoberger commented on #408
Hi @babs, this should be fixed in kubenav v4. A preview can be found at https://github.com/kubenav/kubenav/actions/runs/3084794745

[2022-09-20 08:19] babs commented on #408
Hi @ricoberger looks good to me, thanks :)

[2022-09-21 15:46] bbigras commented on #136
I'm trying v4 now. I'll wait a few days to see what happens.

Thanks!

[2022-10-02 20:09] raider444 opened #414 "Kubernetes 1.25 not fully supported due to breaking changes"
After upgrading cluster to k8s 1.25 the following resources stopped working:
- Cron Jobs
- Horizontal Pod Autoscalers
- Pod Disruption Budgets
- Pod Security Policies

Due to [deprecation](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-25) of APIs:
- batch/v1beta1
- discovery.k8s.io/v1beta1
- events.k8s.io/v1beta1
- autoscaling/v2beta1
- policy/v1beta1
- node.k8s.io/v1beta1

[2022-10-03 17:35] ricoberger commented on #414
Hi @raider444, thanks for reporting. I updated all the resources in #415, so that Kubernetes 1.25 should be properly supported in the next beta version for kubenav v4.

Currently I plan to release kubenav v4 by the end of the month. Until then the beta version of kubenav v4 can be used.

The beta version can be downloaded via [Apple Testflight](https://testflight.apple.com/join/RQUFGkHi) or [Googl

[2022-10-14 17:59] #407 closed

[2022-10-15 06:27] fastlorenzo commented on #136
FYI I've tried it and it doesn't ask to login again once refresh token is expired. Furthermore, it would be better to have a redirect that sends back to the kubenav app to get the code from oidc, not the most user friendly to do it with copy paste and send the code to an external url 😊
Happy to test whatever is needed (using keycloak as idp)

[2022-11-13 01:55] #383 closed

[2022-11-14 15:51] arcreative opened #419 "Modifier/special keys in terminal"
This app is fantastic! The only thing I wish I had is the ability to his control/alt/tab/arrow/etc. keys in the terminal, since as soon as you run something like `top` you get stuck and can't Ctrl+c out of it. Can we get a little ansi menu for all the common keys? Would make this app perfect!

[2022-11-16 12:50] ihsancemil opened #420 "@ricoberger when I use -kubeconfig with a conf file, it works perfectly. But when I try -kubeconfig-include with multiple conf file, I get "the server has asked for the client to provide credentials". Each configuration file define a users tag to connect cluster."
@ricoberger when I use -kubeconfig with a conf file, it works perfectly. But when I try -kubeconfig-include with multiple conf file, I get "the server has asked for the client to provide credentials". Each configuration file define a users tag to connect cluster.

_Originally posted by @ihsancemil in https://github.com/kubenav/kubenav/issues/75#issuecomment-1316972038_

[2022-11-16 18:18] ricoberger commented on #419
Hi @arcreative, sounds like a very useful addition, I will look into this after the v4 release.

After a first quick look, I think the following example could be a nice starting point for the implementation: https://github.com/TerminalStudio/xterm.dart/commit/44c91984f4d8a55dccaa20768530cd8f460b4554

[2022-11-16 20:56] arcreative commented on #419
@ricoberger looks great! I'm not super familiar with the Flutter/Dart stuff, but looks like a good start for modifiers. Arrows and Tab should round it out quite nicely, but aren't showstoppers for me like Ctrl key is.