[2020-01-05 19:48] ricoberger opened #1 "Create iOS Version"
The `framework` from the [kubenav/bind](https://github.com/kubenav/bind) does not work with iOS (see https://github.com/ionic-team/capacitor/issues/2262).

There are multiple solutions:

- Fix the bug from https://github.com/ionic-team/capacitor/issues/2262 and use the bindings like it was planed. This is the preferred solution.
- Implement the request function in Swift.
- Create a server which ma

[2020-01-06 18:50] ricoberger opened #2 "Deletion of Pods doesn't work"
On the desktop version of kubenav the deletion of pods doesn't work. The mobile version isn't effected.

Tested with version 1.0.0 on macOS.

[2020-01-06 19:17] #2 closed

[2020-01-15 05:43] #1 closed

[2020-01-22 18:59] mozai opened #11 "feature request: "kubectl logs""
The readme file mentions "The details view of your workloads contains all the necessary logs and events..."  How do I summon the logs for a container in a pod?  I expected it to be offered in the per-pod details.

The option to view the previous log (`kubectl logs -p`) would be very helpful when dealing with a pod stuck in a restart loop.

[2020-01-22 19:00] mozai commented on #11
Forgot to mention: I'm using kubenav-1.1.0-linux-amd64.AppImage

[2020-01-22 19:40] ricoberger commented on #11
Hi, thanks for your request. To view the logs of a container you can swipe left on the name of a container in the pod details view. On desktop you need click and hold the left mouse key and swipe left. Currently this is not that clear, maybe I add a button for this next to each container for better access to the logs on desktop.

![IMG_1309](https://user-images.githubusercontent.com/18552168/72927

[2020-01-22 22:18] entropitor opened #13 "Use host .kube/config file / kubectl command on Mac OS X"
I was wondering how to configure kubenav. When I try to copy past my ~/.kube/config file in, I get an error as I have a GKE cluster in there which doesn't have the fields listed needed for this project.

But even for minikube, this app seems to be failing as my config has a path to a file at `certificate-authority` instead of `certificate-authority-data`

[2020-01-23 12:16] ricoberger commented on #13
Hi and thanks for your request. For now you can try to use the **Manual** option to add a cluster. If you copy the content from the file under `certificate-authority` into the **Certificate Authority Data** field it should work to.

For the future I want to support OIDC for GKE, EKS and AKS. Also supporting the local kubeconfig from `~/.kube/config` would be a nice addition.

[2020-01-24 18:41] dobegor opened #14 "Can't add a GKE cluster"
I can't add a GKE cluster. It doesn't allow to save the kubeconfig file (says it's invalid) and I can't add it manually, as GKE instructs kubeconfig to use gcloud command line tool to obtain login info.

There's a [scope](https://developers.google.com/identity/protocols/googlescopes#containerv1) to access Google Cloud with OAuth2, though.

[2020-01-24 19:49] ricoberger commented on #14
Hi and thanks for trying kubenav. Can you check your kubeconfig file if it uses the `certificate-authority` field instead of `certificate-authority-data`, then you can copy the content from this file into the `Certificate Authority Data` field.

- `certificate-authority` -> `certificate-authority-data`
- `client-certificate` -> `client-certificate-data`
- `client-key` -> `client-key-data`

I will

[2020-01-24 20:18] dobegor commented on #14
The thing is there's no `client-certificate` and `client-key` fields, there's only `access-token` field and it doesn't work if I paste it into "Token" field in Kubenav.

[2020-01-24 20:19] dobegor commented on #14
my kubeconfig looks like this:
[code]

[2020-01-25 19:10] ricoberger commented on #14
Hi and thanks for the example kubeconfig. As long as I'm working on OIDC support you can try the following two solutions. I couldn't test the first one, but the second one should definitely work.

**Solution 1: Use Bearer Token from OIDC**

Run `kubectl get ns -v 10`, then there should be a line in the output similar to the following one:

[code]

If the authorization header includes a bearer toke

[2020-01-25 21:13] ricoberger commented on #13
As workaround for GKE you can also try one of the solutions from #14.

[2020-01-25 23:05] ricoberger commented on #11
If you want, you can take a look at #16.

[2020-01-27 11:56] dobegor commented on #14
Awesome thanks for such a detailed answer!
I was able to add a GKE cluster using Service Account successfully.

[2020-01-27 17:49] ricoberger commented on #14
Nice to hear and thanks for the feedback.

[2020-01-28 05:49] #11 closed

[2020-02-03 16:13] jicowan commented on #14
Cannot add an EKS cluster either.
Sample Kubeconfig:
[code]

[2020-02-03 19:24] strigona-worksight opened #18 "Can't add microk8s config"
Similar to #14, I can't add the config file from [microk8s](microk8s.io/). Here's my local file (with some info redacted):

[code]

[2020-02-03 19:26] strigona-worksight commented on #18
Just did some more poking around and I'm guessing #15 resolves this issue and we're just waiting on a release with it included?

[2020-02-03 21:23] ricoberger commented on #14
Hi @jicowan, thanks for the example kubeconfig file. I'm currently working on the integration of GKE and EKS, which hopefully gets into the next release.

For now you can try the workaround via service account.

[2020-02-03 21:27] ricoberger commented on #18
Hi @strigona-worksight, you are right. Basic auth support was added in #15. The next release is planned for mid of February, as I would like to have a first version for GKE and EKS support ready at this point.

[2020-02-03 22:09] strigona-worksight commented on #18
Ok great, I'll keep an eye out for that :)

[2020-02-03 22:09] #18 closed

[2020-02-04 03:38] mattdornfeld commented on #14
Hi @ricoberger, would very much appreciate support for gke kubeconfigs out of the box. It seems the options in manual configuration will not work very well as they disable client certificates by default and recommend they stay disabled https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster.

[2020-02-05 22:08] ricoberger commented on #14
Short update from my side: I added support for GKE via OIDC (see #19). Currently only the approvement of the Google **OAuth consent screen** screen and extensive testing is missing.

If I understand it correctly, the approvement can take some time, so I'll deal with EKS next.

[2020-02-06 15:58] Ziul opened #20 "Cannot edit a cluster"
Included a cluster with similar problems of #14, but it looks like I used an invalid certificate. Now I cannot find a way to edit the cluster-info so I can update the certificate data.

[2020-02-06 16:27] ricoberger commented on #20
Hi, to edit a cluster you have to swipe the cluster name to the left. Then the edit button becomes visible.

I hope this helps, if not please report again.

![IMG_0033](https://user-images.githubusercontent.com/18552168/73956790-bba46a00-4905-11ea-8489-7b0a6b1da343.PNG)

[2020-02-06 18:40] Ziul commented on #20
Thank you! Works like a charm!

[2020-02-06 18:40] #20 closed

[2020-02-11 22:07] ricoberger commented on #14
Update:

- EKS clusters are now also supported. Therefor you have to provide an access key id, a secret key and a region. The credentials are needed to import the clusters and to generate the bearer tokens for the Kubernetes API requests.
- Google does not approve the **OAuth consent screen**, because the required API endpoint is not allowed for external applications. I will adjust the code, so ev

[2020-02-12 19:52] #14 closed

[2020-02-18 17:40] strigona-worksight commented on #18
Confirming that with 1.2.0 I was able to add my config with the Manual option.

[2020-02-18 18:17] ricoberger commented on #18
Thanks for the feedback 🙂

[2020-02-21 16:18] #13 closed

[2020-02-21 16:32] ricoberger commented on #13
Hi, I merged PR #25, which adds support for the kubeconfig file from `~/.kube/config. The changes will be available in the next version.

[2020-02-22 06:39] SeriousM opened #26 "Import from Microsoft Azure"
I like the idea a lot to not use the web management from k8s! Will there be an import function from Azure?

[2020-02-22 16:16] SeriousM commented on #26
For everyone who needs to get the kubeconfig from AKS:

[code]

copy the content and add it to kubenav.

btw, opening a file on the phone would be much easier than copy/paste the content of the file as this task is very tedious.

[2020-02-22 21:08] ricoberger commented on #26
Hi, Azure support is on the roadmap. I can't promise when Azure support is implemented, but goal would be the next release.

Thanks for the the example. This is very useful.

[2020-02-24 15:10] entropitor commented on #13
Nice, do you have any idea when the next version might be?

[2020-02-24 18:04] ricoberger commented on #13
The next release is currently planned for mid-March. The submission of the app to the App Store and to Google Play is a little bit time consuming and therefore I planned a release every four weeks.

Maybe I can improve the publishing of the desktop versions to provide something like nightly builds...

I will definitely reply to this issue when the new version is available.

[2020-02-25 08:57] 094459 opened #27 "Does this work on AWS EKS?"
I am not sure from the documentation whether this is for KB8s you roll yourself or whether you can use this against a managed Kubernetes cluster, such as the one from AWS EKS.

(disclaimer; I work for AWS)

[2020-02-25 09:43] AmazingTurtle opened #28 "Can't delete clusters"
As seen on the screenshot there is no functionality to delete or modify clusters. If I was supposed to right click into a context menu and delete it there: that doesn't work either. The only thing that works is adding a new cluster (plus icon in top right) or switching the cluster with the radio button to the right.

![image](https://user-images.githubusercontent.com/2357438/75234767-744e2280-57bb

[2020-02-25 09:45] AmazingTurtle opened #29 "Needs restart to show new cluster in toolbar"
As seen in the screenshot I have added a cluster via import kubeconfig. It shows up in the list but not in the toolbar. It only reloads on restart of the program.

![image](https://user-images.githubusercontent.com/2357438/75234999-e32b7b80-57bb-11ea-8f7c-b811220d31a4.png)

[2020-02-25 09:46] AmazingTurtle opened #30 "User "system:anonymous" cannot list resource"

[2020-02-25 09:49] AmazingTurtle opened #31 "User "system:anonymous" cannot list resource"
I have added a GKE cluster via `import kubeconfig`. Kubenav does not pick up my user (it's using system:anonymous). Perhaps it's not picking up the auth-provider section in particular. My config looks as follows (redacted):

[code]

Error messages are as follows:

[code]

Example screenshot for cronjobs

![image](https://user-images.githubusercontent.com/2357438/75235415-7b296500-57bc-11ea-8cfd-cd

[2020-02-25 09:50] matt-canty-dragon opened #32 "Using kubeconfig from Rancher does not work"
I tried using the kubeconfig approach to using kubenav. The Add Clusters popup includes a note to say:

<img width="601" alt="image" src="https://user-images.githubusercontent.com/56073682/75235524-474a4180-57b4-11ea-9e4c-de83a87d1952.png">
My kubeconfig contains `certificate-authority-data` however it is on a fqdn cluster...:
<img width="203" alt="image" src="https://user-images.githubusercontent

[2020-02-25 09:51] ricoberger commented on #28
Hi to delete a cluster, you can swipe the cluster name to the left, then the `Edit` and `Delete` buttons become visible (#20).

For the desktop version this will be improved in the next version, where it is not necessary anymore to add the clusters in kubenav. Instead the Kubeconfig file from `~/.kube/config` will be used (#25).

[2020-02-25 09:51] #30 closed

[2020-02-25 10:07] ricoberger commented on #27
Hi, for the mobile version EKS (and also GKE) support was added in the last version (https://github.com/kubenav/kubenav/releases/tag/1.2.0). For the desktop version EKS support will be available in the next version, within the support for the Kubeconfig file from `~/.kube/config` (#25).

If you have any further questions about EKS support, feel free to ask them.

[2020-02-25 12:07] #27 closed

[2020-02-25 12:10] ricoberger commented on #29
Hi and thanks for the bug report. The problem is fixed by #25. When the new version is published, the menu entries will be created during the start of kubenav from the Kubeconfig file.

One problem which will still exists is, that you have to restart kubenav when you add a cluster to your Kubeconfig file.

[2020-02-25 12:19] ricoberger commented on #32
Hi, what I can see from your provided Kubeconfig, the problem is within the first cluster (`***-apps`), where the `certificate-authority-data` key is missing. You can try to add the `***-apps-fqdn` cluster via the manual option, since the `certificate-authority-data` key is required at the moment.

For desktop this should be fixed in #25. For the mobile version of kubenav, I will come up with a PR

[2020-02-25 12:26] ricoberger commented on #31
Hi and thanks for reporting the issue. In the current version of kubenav GKE (and also EKS) clusters are not supported. This is fixed in #25 and will be available with the next version.

Instructions for a workaround can be found here: https://github.com/kubenav/kubenav/issues/14#issuecomment-578434342

I will try to add some nightly builds this week, to provide the fix for such bugs instantly. Al

[2020-02-25 16:45] strigona-worksight commented on #28
For what it's worth, I don't find the drag-name UI particularly discoverable or useful on desktop. I can appreciate it a bit more on mobile where screen real estate is more valuable, but I still don't think it's very discoverable. I almost opened a ticket last week, but I eventually found #20

[2020-02-25 20:13] ricoberger commented on #32
Hi @matt-canty-dragon, on desktop you can try out the [nightly builds](https://github.com/kubenav/kubenav#nightly-builds) where the fix for your issue is included.

[2020-02-25 20:15] ricoberger commented on #31
Hi @AmazingTurtle, you can try out the [nightly builds](https://github.com/kubenav/kubenav#nightly-builds) where the fix for your issue is included.

[2020-02-25 20:17] ricoberger commented on #28
Hi @strigona-worksight, I'm completely with you. The experience on desktop with the swiping is horrible. These are some left overs from the mobile version.

In the latest [nightly builds](https://github.com/kubenav/kubenav#nightly-builds) there shouldn't be any remaining swiping gestures on desktop.

[2020-02-25 20:18] ricoberger commented on #13
Hi @entropitor, you can try out the [nightly builds](https://github.com/kubenav/kubenav#nightly-builds) where the fix for your issue is included.

[2020-02-25 20:19] ricoberger commented on #26
Hi @SeriousM, for desktop you can try out the [nightly builds](https://github.com/kubenav/kubenav#nightly-builds) where Azure support should already work.

[2020-02-25 21:01] strigona-worksight commented on #28
Thanks! I look forward to trying out the nightly :)

[2020-02-25 22:03] ricoberger commented on #27
Hi @094459, you can try out the [nightly builds](https://github.com/kubenav/kubenav#nightly-builds) where EKS support for desktop is already available.

[2020-02-26 10:18] SeriousM commented on #26
@ricoberger Where can I add a new cluster on the desktop version?
When I go to Clusters, I just see the existing ones but not an add button...

[2020-02-26 17:02] ricoberger commented on #26
Hi, it is not possible to add new clusters to kubenav in the new version. Only clusters which where added to the Kubeconfig file at `~/.kube/config` are available.

To understand your requirements better: Why do you want to add a cluster to kubenav, which is not available through your Kubeconfig file?

Thanks for your feedback, this helps me a lot to understand the different requirements.

[2020-02-27 06:32] casidiablo opened #35 "Importing AWS EKS cluster returns just one cluster"
I have an account with multiple EKS clusters. Only one of them is listed when running the import for EKS.

This happens to me on version `1.2.0` on Android.

[2020-02-27 06:33] casidiablo commented on #35
Also, could not figure out how to build the app myself. I understand that this uses ionic and potentially capacitator, but a basic README on how to build an APK would be nice

[2020-02-27 12:11] entropitor commented on #13
Works like a charm, thanks!

[2020-02-27 14:29] SeriousM commented on #26
My first version of kubenav was the mobile one where you can add them manually.
Since the desktop version shares alot of code I was searching for this functionality there as well - not demanding it.

[2020-02-27 17:32] ricoberger commented on #35
Thanks for reporting. I only tested with one EKS cluster, so I will look deeper into it.

Are all your clusters in one region, because if they are in separate regions you have to add the AWS credentials for each region.

[2020-02-27 17:47] casidiablo commented on #35
Yeah, all of them in the same region. The weird thing is that looking at the code it does look like you are returning ALL clusters: https://github.com/kubenav/kubenav/blob/649dead1873192654c71860071dd38d706b61385/src/utils/api.ts#L42-L50

For the record, this is the output of `awscli`:

[code]

[2020-02-29 11:20] ricoberger commented on #35
Hi, thanks for the detailed report. I was able to reproduce the issue and will look for a solution.

[2020-02-29 15:05] #35 closed

[2020-02-29 15:06] ricoberger commented on #35
Thanks again, for reporting. The fix will we included in the next release.

[2020-03-02 11:54] matt-canty-dragon commented on #32
I downloaded https://storage.googleapis.com/kubenav/2020-03-01/kubenav-1.2.0-darwin-amd64.dmg

I get this in the clusters page

<img width="1225" alt="image" src="https://user-images.githubusercontent.com/56073682/75674219-8f69d800-5c7c-11ea-93b4-2cbd7c51b7f8.png">

[2020-03-02 18:51] ricoberger commented on #32
Mh currently I have no idea, whats going wrong there. There are some open issues regarding certificates in the http://github.com/kubernetes-client/javascript repo, but I do not know if they are related.

Do you have node installed and can run the following, this would be super helpful to see if the error is within kubenav or the used client library:

[code]

The script uses the current context fro

[2020-03-03 15:04] matt-canty-dragon commented on #32
Hey so it's working now. I did the following: given some KUBECONFIGs

[code]
[code]

I merged them and removed the fqdn cluster definitions

[code]

This works for cluster selection, however now I have another issue:

How do I switch namespaces?
I have to do this a lot. I can see how I view namespace

[2020-03-03 17:55] ricoberger commented on #32
Hi, good to hear. There is a `filter` icon in the top right corner in the list view for a resource. When you click on the icon a list with all your namespaces becomes visible and you can select one.

![Bildschirmfoto 2020-03-03 um 18 49 55](https://user-images.githubusercontent.com/18552168/75804575-79454000-5d80-11ea-8be2-02b393831988.png)

[2020-03-04 09:17] matt-canty-dragon commented on #32
Nice. I really like it. So lean.

Bravo 👏

[2020-03-04 09:17] #32 closed

[2020-03-11 19:11] #26 closed

[2020-03-11 19:14] ricoberger commented on #26
Hi @SeriousM, support for Microsoft Azure on the mobile version of kubenav was added in the PR #46. A new version of the mobile app should be available by mid-next week at the latest.

[2020-03-16 07:40] donbeave commented on #11
Is it not released yet for iOS? I’m using 1.2.0 version, but can not see this “Logs” new button in containers block.

[2020-03-16 07:54] ricoberger commented on #11
Hi @donbeave. For iOS and Android the button will become visible, when you swipe the container name to the left.

![IMG_1344](https://user-images.githubusercontent.com/18552168/76734467-44af8c00-6763-11ea-8662-2c209742c187.PNG)

Then a modal with the logs is shown. In the upper right corner you have the options to load all log lines (by default only the last 1000 lines are loaded) or to load the l

[2020-03-16 17:39] donbeave commented on #11
@ricoberger Thank you! Found it!

[2020-03-18 17:25] harshmaur opened #48 "Ability to add IBM Cluster"
Hey! This looks like a great app to be able to manage kubernetes cluster from a mobile app. Is there a way to add a cluster on IBM Cloud?

[2020-03-18 18:32] ricoberger commented on #48
Hi @harshmaur, atm IBM is not supported by the mobile version of kubenav. The desktop version should support IBM Cloud.

I personally have no experience with IBM Cloud, could you maybe share a corresponding Kubeconfig file? Which authentication method do they use?

Maybe you can also try the workaround via Service Account: https://github.com/kubenav/kubenav/issues/14#issuecomment-578434342

[2020-03-18 18:34] ricoberger commented on #31
Hi, is this still a valid issue in version [1.3.0](https://github.com/kubenav/kubenav/releases/tag/1.3.0) or can I close the issue?

[2020-03-18 18:34] ricoberger commented on #28
Hi, is this still a valid issue in version [1.3.0](https://github.com/kubenav/kubenav/releases/tag/1.3.0) or can I close the issue?

[2020-03-19 11:38] SeriousM opened #49 "Feature: find in lists"
Hi!

Our cluster has a lot of pods and it's quite hard to locate them in an endless list.
Could you add a searchbar ontop of the list to filter the elements?

Thank you very very much!

[2020-03-19 11:42] SeriousM opened #50 "Feature: Set as current Cluster"
Hi!

kubectl has the ability to set a cluster as the "current" one so that every command is executed on the current selected cluster.
Could you add an option to the windows/linux version which triggers the kubectl command to set the current cluster to the one selected in kubenav?

Best regards, Bernhard

[2020-03-19 19:29] ricoberger commented on #49
Hi @SeriousM,

I like the idea very much and created a PR (#51). It would be nice if you can try out the the nightly build tomorrow. I would be very grateful for your feedback.

If you have any problems feel free to reopen the issue.

[2020-03-19 19:29] #49 closed

[2020-03-20 17:37] SeriousM commented on #49
oh wow, that was fast! ty!

[2020-03-22 05:33] harshmaur commented on #48
@ricoberger I can share the kubeconfig file with you. Let me know how do I do that.

[2020-03-22 16:06] ricoberger commented on #48
Hi, thank you. It would be enough if you post the structure of the file in this issue, without credentials, etc.

[2020-03-22 16:11] harshmaur commented on #48
[code]

[2020-03-27 15:34] AmazingTurtle commented on #31
For me it works with 1.3.0

[2020-03-27 15:34] #31 closed

[2020-04-09 00:19] uhlhosting opened #52 "Error on macos"
`Uncaught Exception:
Error: Object has been destroyed
    at click (/Applications/kubenav.app/Contents/Resources/app.asar/index.js:20:20)
    at MenuItem.click (electron/js2c/browser_init.js:1501:9)
    at Function.executeCommand (electron/js2c/browser_init.js:1762:13)`

[2020-04-09 18:19] uhlhosting commented on #52
`Uncaught Exception:
TypeError: Cannot read property 'clusters' of undefined
    at KubeConfig.loadFromString (/Applications/kubenav.app/Contents/Resources/app.asar/node_modules/@kubernetes/client-node/dist/config.js:105:56)
    at KubeConfig.loadFromFile (/Applications/kubenav.app/Contents/Resources/app.asar/node_modules/@kubernetes/client-node/dist/config.js:75:14)
    at KubeConfig.loadFromDefa

[2020-04-09 21:08] ricoberger commented on #52
Hi and thanks for reporting. I'm not able to reproduce the error, but it looks like the structure of your Kubeconfig file is different from what kubenav expects.

 kubenav will look for a Kubeconfig at `~/.kube/config`. Can you share the structure of this Kubeconfig file please?

[2020-04-09 21:32] uhlhosting commented on #52
@ricoberger that file was used by minikube, i removed it and before had the namespace mannually removed from default into ... this could had made the issue.

Would be great to have the feature of https://github.com/sbstp/kubie
to detect by itself token files on ~/.kube/cluster1/config ~/.kube/cluster2/config .

example:
# Configure where to look for kubernetes config files.
configs:

    # Include

[2020-04-09 21:32] uhlhosting commented on #52
Also when would you plan to add multi cluster support in desktop app, i did not seem to find a way to add more clusters.

[2020-04-09 21:47] ricoberger commented on #52
Hi @uhlhosting, thanks for the fast update.

1. I heard for the first time from **kubie** this week and this would also be a really cool feature if kubenav can support it in a similar way. I will look deeper into this.
2. kubenav supports multiple clusters in the desktop app, when all clusters are defined in the **~/.kube/config** file. They feature of adding a cluster manually in the desktop app,

[2020-04-13 12:13] ricoberger commented on #48
Hi @harshmaur I finally found some time to finish the OIDC support for kubenav. With the new version of kubenav it will be possible to use IBM clusters. I will submit the new version to the App Store and Google Play this week, so that they should be available at the end of the week at the latest.

Since I haven't found a way to create a client id and client secret at IBM cloud, I used the workarou

[2020-04-13 12:38] #48 closed

[2020-04-13 12:45] uhlhosting commented on #48
@ricoberger maybe they from http://kui.tools know more about this. or their modules/plugins can help to get the details needed.

[2020-04-13 13:16] ricoberger commented on #48
Hi @uhlhosting, thanks for sharing 🙂

[2020-04-13 16:57] ricoberger commented on #28
Hi, I will close this issue. Managing the Kubeconfig file is out of scope for kubenav. If you remove a cluster from your Kubeconfig file, it will no longer be visible in kubenav.

[2020-04-13 16:58] #28 closed

[2020-04-13 17:04] ricoberger commented on #50
Hi @SeriousM and sorry for the late reply. I like the idea of switching the current context via kubenav. I'm not sure if everyone wants this behavior, therefor this could be an optional parameter in the configuration.

Unfortunately I cannot promise when this feature will be implemented, but I will take a look at it.

[2020-04-13 17:36] SeriousM commented on #50
Thank you Sir!

[2020-04-13 17:55] desaintmartin commented on #31
Hello,
Using self-managed kubernetes (v1.15.x) with OIDC authentication, I still get the same error with 1.4.0. Is that a known issue?

[2020-04-13 19:17] ricoberger commented on #31
Hi @desaintmartin, I'm not aware of any problems with OIDC. Can you share your anonymized Kubeconfig file from `~/.kube/config`?

[2020-04-14 06:12] desaintmartin commented on #31
Sure! Here is a simplified version, with other cluster/users stripped.
[code]

Using the same cluster but with serviceaccount works as expected.

[2020-04-14 16:55] ricoberger commented on #31
Hi @desaintmartin, thanks for sharing. I can confirm that OIDC isn't working on desktop. I will look into the issue.

[2020-04-14 18:41] ricoberger commented on #31
Hi @desaintmartin, the bug should be fixed in version [1.4.1](https://github.com/kubenav/kubenav/releases/tag/1.4.1). Sorry about the circumstances.

[2020-04-14 20:07] desaintmartin commented on #31
Indeed, thanks for the quick fix!

[2020-04-15 06:19] uhlhosting opened #57 "Beta testing ios?"
Is there any beta testing in testflight?

[2020-04-16 06:50] uhlhosting commented on #52
[code]
This one is very repeating. Once the cluster is minimized or something else can do this?

[2020-04-17 01:29] w564791 opened #58 "not support insecure-skip-verify"
import kubeconfig file not support insecure-skip-verify   parameter

[2020-04-17 21:25] ricoberger commented on #57
Hi, currently there is no Testflight beta available. Maybe I can try this for the next release.

[2020-04-17 21:39] ricoberger commented on #58
Hi, you are right the `insecure-skip-tls-verify`is not supported on the mobile version of kubenav. I didn't try it yet, because there are some restrictions on iOS with insecure connections. I can try it, but would only support if if this doesn't have any complications with the review process.

The desktop version should support the `insecure-skip-tls-verify` parameter.

[2020-04-23 18:47] #58 closed

[2020-04-24 15:51] ricoberger commented on #58
Hi, the `insecure-skip-tls-verify` field is now used when you add a cluster via Kubeconfig or via the Manual way.

On Android you can try this in the current beta version: https://play.google.com/apps/testing/io.kubenav.kubenav. The iOS Testflight version is currently in review by Apple.

[2020-04-24 18:11] ricoberger commented on #57
Hi, beta testing is now available for iOS and Android. I added the links to the **[Beta and Nightly Builds](https://github.com/kubenav/kubenav#beta-and-nightly-builds)** section in the readme.

- [Apple Testflight](https://testflight.apple.com/join/RQUFGkHi)
- [Google Play](https://play.google.com/apps/testing/io.kubenav.kubenav)

I would close the issue now. If you have any further questions or s

[2020-04-24 18:16] #57 closed

[2020-04-24 23:22] w564791 commented on #58
thanks

发自我的iPhone

在 2020年4月24日，下午11:51，Rico Berger <notifications@github.com> 写道：

﻿

Hi, the insecure-skip-tls-verify field is now used when you add a cluster via Kubeconfig or via the Manual way.

On Android you can try this in the current beta version: https://play.google.com/apps/testing/io.kubenav.kubenav. The iOS Testflight version is currently in review by Apple.

—
You are receiving this

[2020-04-29 14:46] proxly opened #60 "Viewing container logs"
It would be nice if container logs can also be streamed.

[2020-04-29 14:54] proxly opened #61 "Could not connect to aws eks using token"
Is it possible to connect using a token?

[2020-04-30 17:40] ricoberger commented on #60
Hi, I like the idea and think this would be a useful addition. I'm currently working on the implementation for `kubectl exec`, but don't know how to implement this in a proper way. When I figured out a solution for this, the implementation for streaming logs should also possible.

At the moment a can not promise when this will be ready.

[2020-04-30 17:45] ricoberger commented on #61
Hi, yes this should be possible. When you choose AWS to add a cluster your provided access key ID and secret access key will be used to get all your EKS clusters and to the access token.

When you want to provide your own token, you can choose the manual option and provide the server url, the certificate and your own token.

Maybe the second solution from this comment is interesting for you: https

[2020-05-05 10:29] si458 opened #62 "fresh install cant add new cluster mac"
Hi,

after running the app for the first time, the is no 'Add a cluster' option like the is on iOS

when clicking say Pods i get 'connect ECONNREFUSED 127.0.0.1:8080' so i assume its trying to connect to kubernetes locally as i have docker for mac installed?

but also when i click the clusters tab, the is no ADD icon like the is on iOS ?

macOS Catalina 10.15.4, kubenav 1.4.1

![Screenshot 2020-05

[2020-05-05 11:25] ricoberger commented on #62
Hi @si458, on desktop it is not possible to add a cluster. kubenav will use your Kubeconfig file from `~/.kube/config`.

[2020-05-05 11:48] si458 commented on #62
That’s very disappointed to hear :(

As I’m currently playing with kubernetes from different places

AWS, azure, locally and home built using k3s

So I’m forever changing clusters and it’s brilliant via the iOS app as it’s perfect to flip bk n forth between the clusters

Sent from my iPhone

[2020-05-05 16:09] si458 commented on #62
so after googling and trying things, it turns out you are correct and i feel embarrassed...

you simply setup multiple contexts in your .kube/config file which are your different clusters and even different namespaces,

once i did this, the kubenav simply shows the clusters and you selected which one you wanted to use!

[2020-05-05 16:09] #62 closed

[2020-05-13 05:22] ricoberger commented on #52
Hi, the error shouldn't occur in the latest nightly build anymore: https://github.com/kubenav/kubenav/actions?query=workflow%3ABuild+event%3Aschedule

[2020-05-17 18:24] uhlhosting commented on #52
[code]

This is the last error I get, any idea what could cause this?

[2020-05-17 18:25] uhlhosting commented on #52
Just noticed the new build, already downloading it, will give a try.

[2020-05-17 23:53] morhook opened #67 "Ability to change default namespace without namespace permission"
On my work cluster the permission to list namespaces has been revoked. I cannot use anymore kubenav for any functionality on my iOS device (listing pods, deployments, etc).

Is there any way to do this via the interface for my use case? Or do I need a modification on the interface?

![B5B94568-4967-41D8-B5C2-620CB2E756BF](https://user-images.githubusercontent.com/1264354/82163273-78508480-9880-11e

[2020-05-18 05:43] uhlhosting commented on #52
I am using the latest build, the issue now is that no cluster is now visible whatsoever in my kubenav.

[2020-05-18 05:44] uhlhosting commented on #52
`7:43:58 [cosmic:~/.kube] % ls
cache/                   config                   http-cache/              kube_config_cluster.yml`

[2020-05-18 05:56] ricoberger commented on #67
Hi @morhook, currently there is no way to change the namespace without the permission to list all namespaces. Maybe we should add a new input field in the `EditCluster` component which also allows the modification of the namespace. Currently the namespace isn't editable there: https://github.com/kubenav/kubenav/blob/master/src/components/settings/clusters/EditCluster.tsx#L108

[2020-05-19 16:00] morhook commented on #67
On `EditCluster` will certainly work! Thanks a lot!

[2020-05-19 19:29] ricoberger commented on #52
Mh this looks good. Have you set the `KUBECONFIG` environment variable? I changed the logic so it should take the kubeconfig from the `--kubeconfig` flag, the `KUBECONFIG` environment variable or `~/.kube/config`?

https://github.com/kubenav/kubenav/blob/master/pkg/kube/kube.go#L60

[2020-05-21 05:37] uhlhosting commented on #52
It works in the end guess the KUBECONFIG got some issues with the current .yml file, and then I moved the settings from .yml into config thus resulting in it working.

[2020-05-22 15:46] #67 closed

[2020-05-22 21:19] #60 closed

[2020-05-23 09:38] #50 closed

[2020-05-23 09:40] ricoberger commented on #50
Hi, it's now possible to save changes to the context and namespace back to your Kubeconfig file. You can use the build from here to test this feature: https://github.com/kubenav/kubenav/actions/runs/113134412

[2020-05-24 18:41] #52 closed

[2020-05-24 18:45] ricoberger commented on #52
Hi, since the errors on macOS should be fixed with the new architecture and the support for multiple Kubeconfig files was implemented in #75 I closed this issue.

To try out the support for multiple Kubeconfigs you can download the binaries from here: https://github.com/kubenav/kubenav/actions/runs/114060878

If you have problems with this feature feel free to reopen the issue. If you have further

[2020-05-25 20:52] ricoberger commented on #60
HI @proxly, the streaming logs feature can now be tested on iOS, Android and the desktop:

- [Apple Testflight](https://testflight.apple.com/join/RQUFGkHi)
- [Google Play](https://play.google.com/apps/testing/io.kubenav.kubenav)
- [Desktop](https://github.com/kubenav/kubenav/actions/runs/114374289)

[2020-05-25 20:53] ricoberger commented on #67
HI @morhook, the beta versions with the change are now available for iOS, Android and the desktop:

- [Apple Testflight](https://testflight.apple.com/join/RQUFGkHi)
- [Google Play](https://play.google.com/apps/testing/io.kubenav.kubenav)
- [Desktop](https://github.com/kubenav/kubenav/actions/runs/114374289)

[2020-05-27 13:17] david9991 opened #78 "Too many open files."
![IMG_2001](https://user-images.githubusercontent.com/123219/83022705-7fd11400-a05e-11ea-82cb-f30097a82190.png)

[2020-05-27 16:34] ricoberger commented on #78
Hi @david9991, thanks for reporting the issue. Which version of kubenav do you use?

[2020-05-28 00:06] david9991 commented on #78
@ricoberger
Kubenav: v1.4.1
OS: iOS 13.5

[2020-05-28 00:58] david9991 opened #79 "Incorrect page displayed."
Kubenav: v1.4.1
OS: macOS 10.15.4

1. Select Config Map Menu with a very long list of Config Maps.
2. While Config Map page it's loading, select the Service Menu imminently.
3. Service Page displayed.
4. After Config Map loaded, it'll override the Service Page.
5. I think this issue will happen in same circumstance in other pages.

A video here: https://youtu.be/zTYXx0ujptI

[2020-05-28 18:40] SeriousM opened #80 "Improvement: Scale Deployment"
The k8s dashboard (which is horrible imho) has a neat feature which is showing a scaling button for deployments which easily changes the replica count on deployments.

![image](https://user-images.githubusercontent.com/462013/83180177-57f7b400-a123-11ea-9a76-179a7c0c3b07.png)

would you mind to add such a button? this would also help to support scaling deployments from mobile as editing the yaml o

[2020-05-28 18:42] SeriousM opened #81 "Improvement: Show Deployments yellow if..."
... they have less pods ready than desired.
this would help distinguish between red = no pods ready and green = all pods ready.

[2020-05-30 15:17] ricoberger commented on #81
Hi @SeriousM, I like the idea and changed the status checks accordingly. The current checks can be found in the following commit: https://github.com/kubenav/kubenav/pull/82/commits/1884b9bab4ea05926e269c83d472caa49b357fbe

If you have further suggestions, please let me know.

[2020-05-30 15:24] ricoberger commented on #78
Thank you for the information. I wasn't able to reproduce the issue in the mentioned version 1.4.1.

Can you try the newest [beta version](https://testflight.apple.com/join/RQUFGkHi) if the bug still exists. There were a lot of changes, on how the API requests are handled, so maybe this is already fixed.

[2020-05-30 15:27] ricoberger commented on #79
Hi and thank you for reporting the issue. The fix from #82 will be included in the next release.

[2020-05-30 19:14] schnable opened #83 "Loadbalancer external IP address isn't shown"
I have several services configured as loadbalancers and all have been assigned external IP addresses by metallb.

When I view the Service configuration, the Status area displays the correct cluster IP address, but shows "**None**" for the external IP.

[2020-05-30 19:41] schnable commented on #78
FYI - I also saw this issue on ios - same version.  Took a day or so of light use before the open error was seen.

[2020-05-30 20:01] morhook commented on #67
I can see the edition of the namespace, but I’m getting an error that says “Could not create Kubernetes API client”

[2020-05-30 20:04] schnable opened #84 "Credential Management / Security"
I configured kubenav on my IOS device to manage my local cluster.  I loaded my config file (copy / paste!) for cluster authentication.   Later I downloaded the windows application and was surprised to see that my cluster configuration was already present (named loaded-context).

I looked around for documentation on how credentials are safeguarded and whether they are ever copied off your phone but

[2020-05-30 20:19] si458 commented on #84
The credentials for the windows/Mac apps are loaded from the kubectl config ~/.kube/config

I had the issue at first when I first started using the app and I was confused?

But you have to manually enter/copy the config from server/laptop to the mobile apps for them to work :)

[2020-05-30 21:35] ricoberger commented on #83
Hi and thanks for reporting. There were some values missing in the service page. I added the missing values in https://github.com/kubenav/kubenav/pull/82/commits/a33a9e522996cbaede57553c574cbcb4517035b1.

[2020-05-30 21:51] ricoberger commented on #84
Thank you @si458 for your explanation 🙂.

Your cluster credentials are stored in the local storage of your device on mobile. They are never synced across devices. The same applies for the credentials of your cloud provider.

On desktop your Kubeconfig from `~/.kube/config` is used like @si458 already mentioned. The configuration file is loaded during the start of the app. If you edit your Kubeconf

[2020-05-30 21:56] ricoberger commented on #67
Hi, sorry that it didn't work for you. Do you add your cluster using the Kubeconfig/manual option or do you use a cloud provider?

[2020-05-31 01:54] david9991 opened #85 "Losses connect if don't do anything in a period."
Kubenav: TestFlight v1.4.4
OS: iOS 13.5

If you don't do anything in a period, it'll loss connection and will no longer reconnect until you KILL Kubenav completely.
![IMG_2014](https://user-images.githubusercontent.com/123219/83342577-ad9aaf00-a323-11ea-94a9-3db1c5573271.png)

[2020-05-31 01:55] david9991 commented on #78
Seems the `too many open files` can't reproducible in TestFight version v1.4.4, but found a new one, #85

[2020-05-31 06:38] si458 commented on #85
I have spotted a similar issue, when I switch from WiFi to 4G but I have WireGuard running as an always on VPN to access my cluster internally

I can access the api end point no problem using safari but the app says can’t connect, and to connect back to it I have to kill the app and re-run it

I’m using the latest beta version on TestFlight

I think maybe a reconnect button inside the cluster tab

[2020-05-31 10:30] SeriousM commented on #81
That looks good I guess. I need to see it in action to really judge if another state is missing. Thank you very much!

[2020-05-31 14:47] #79 closed

[2020-05-31 14:47] #81 closed

[2020-05-31 14:47] #83 closed

[2020-05-31 22:04] ricoberger commented on #80
Hi, I like the idea and implement this similar to the Kubernetes dashboard (#86). The option will be available with the next release.

![Bildschirmfoto 2020-05-31 um 23 42 45](https://user-images.githubusercontent.com/18552168/83363636-402a6500-a39b-11ea-9649-c979baea1783.png)

[2020-05-31 22:26] #80 closed

[2020-05-31 23:20] morhook commented on #67
I used a manual configuration. It’s not cloud based the cluster I work on.

El El sáb, 30 may. 2020 a la(s) 18:56, Rico Berger <notifications@github.com>
escribió:

[2020-06-01 04:40] SeriousM commented on #80
Wohooo, perfect! Thank you

[2020-06-01 04:42] SeriousM commented on #80
What does restart do to a deployment?

[2020-06-01 12:37] ricoberger commented on #80
Restart adds/replaces an annotation `kubenav.kubernetes.io/restartedAt` to `spec.template.metadata.annotations` like `kubectl rollout restart`. It can be used to restart the rollout of a Deployment, StatefulSet or DaemonSet.

[2020-06-02 18:30] ricoberger commented on #67
Hi, I was able to reproduce your problem. For me the error occurred when I add a slash or space to the URL in the edit modal. I will improve this with the next version (https://github.com/kubenav/kubenav/blob/bfff5d33a15898fd2461f330aacc1f2749fd7d1b/src/utils/context.tsx#L224).

Can you check the fields in the edit modal, that they didn't contain any spaces please?

[2020-06-02 19:36] ricoberger commented on #85
Hi currently I'm not able to reproduce the issue, so that I can debug it properly. I saw the following error once, but I'm not sure, how this is related to the issue:

[code]

[2020-06-04 03:43] morhook commented on #67
I’ve confirmed. No spaces on my URL.

[2020-06-04 20:00] ricoberger commented on #67
Mh, not sure what the problem is here. I think I tested every possible combination now. I only run into the problem, when one of the provided values wasn't formatted correctly or when I enabled the **Insecure Skip TLS Verify** toggle and also provide the **Certificate Authority Data**.

[2020-06-04 22:18] morhook commented on #67
On my config I put a name, a Token, a server URL, a username and a namespace.

[2020-06-05 04:49] ricoberger commented on #67
Thanks for sharing, If you didn't provide the **Certificate Authority Data** you have to enable the **Insecure Skip TLS Verify** option. Also **Token** + **Username** wouldn't work. You have to set **Username** + **Password** for basic auth header or **Token** for the `Authorization: Bearer` header.

[2020-06-05 16:02] proxly opened #90 "Could not connect to AWS EKS using token/username password"
![374862E3-0CEE-4917-8D56-076E3F7DFC65](https://user-images.githubusercontent.com/1580465/83897756-97a84680-a788-11ea-9177-91e2d6efbdd4.png)

![A3C9DF92-8BC0-411C-AAC9-31B6A0903AA0](https://user-images.githubusercontent.com/1580465/83897764-9a0aa080-a788-11ea-9fae-8f1b201ee27c.png)

I am using the beta 1.4.4. on iOS device.
Previously I was able to connect, but now I am seeing those results.

I ho

[2020-06-05 16:17] ricoberger commented on #90
Hi, so you didn't use the AWS option for adding your cluster?

If you used the AWS option to add the cluster: There is a bug in the beta version, which was introduced during the restructuring and which will be fixed with #87.

[2020-06-05 17:57] morhook commented on #67
That did it! Thanks @ricoberger !

[2020-06-07 15:04] si458 opened #93 "ports listed under services are incorrectly displayed"
ports listed under services are incorrectly displayed

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/765314/83972356-9b96ae80-a8d7-11ea-94b0-629ff448b838.png">

tested by creating a minio deployment with a simply loadbalancer and its showing port 900032013 is mapped to 9000

https://github.com/kubenav/kubenav/blob/b53e93e08df53231054a7eb872c7ac4239ce6bed/src/componen

[2020-06-07 15:06] proxly commented on #90
Hello,
I did use the aws option for adding eks clusters.
My main credential using service tokens but I am not able to connect still.

[2020-06-07 16:05] si458 commented on #93
ok i have checked the kubernetes api docs...
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#serviceport-v1-core
**name is optional if only one ServicePort is defined on the service.**
so you wont get a spec.name variable which is probably why its displayed incorrectly in the app

[2020-06-07 16:23] si458 commented on #93
ok after changing my service to use multiport config with a name
https://kubernetes.io/docs/concepts/services-networking/service/#multi-port-services
the name is now displayed but no space now so its still confusing ???
![image](https://user-images.githubusercontent.com/765314/83974202-760fa200-a8e3-11ea-8a21-75df5cd50c8e.png)

[2020-06-07 16:39] si458 commented on #93
#94 should fix issue :)

[2020-06-08 20:20] ricoberger commented on #93
Closed by #94. Thanks again for your contribution 🙂

[2020-06-08 20:20] #93 closed

[2020-06-08 20:31] si458 commented on #93
Keep up amazing work! Just waiting for latest mobile TestFlight build now :)

[2020-06-08 20:42] ricoberger commented on #90
Hi, a new beta version (1.4.5) should be available via Apple Testflight and Google Play.

The version fixes a bug with AWS, can you please verify that everything is working now.

[2020-06-08 20:45] ricoberger commented on #85
Hi, a new beta version should be available via Apple Testflight and Google Play.

The new version includes the fix from PR #92, so that the server is restarted if the background thread is stopped during inactivity.

Can you verify that everything is working now please.

[2020-06-09 10:29] si458 opened #95 "cluster role bindings generates blank white page"
For some reason on my k3s single node cluster (v1.18.3+k3s1)

whenever i select `Cluster Roles` and then select `Cluster Role Bindings`

it seems to generate a blank white page?

im using latest build (darwin/mac) from Actions tab

only way around this is to press CMD+R to reload the window OR close the app and reopen it ?

[2020-06-10 01:39] david9991 commented on #85
Seems it was fixed.

[2020-06-10 09:30] himslm01 opened #96 "[feature request] add Endpoints"
Currently there isn't an `Endpoints` menu and Endpoints cannot be viewed, edited or deleted.

[2020-06-10 09:32] si458 commented on #96
how are you using the app? mobile? mac? window?
you can add endpoints on mobile devices but not desktop devices
as the software currently loads whatever is in your config file inside .kube folder

[2020-06-10 09:39] ricoberger commented on #96
Hi, the Endpoints menu was added with #88. The menu item is available in the current beta (1.4.5) and in the latest nightly build.

[2020-06-10 09:43] himslm01 commented on #96
Both mobile (iPad) and desktop (Linux).
I'm not talking about "Clusters" (which are populated from .kube).

[2020-06-10 09:44] himslm01 commented on #96
Oh, brilliant. Thanks - I'll try the nightly.

[2020-06-10 09:46] si458 commented on #96
@himslm01 just realised what you meant! forgive me...

[2020-06-10 18:08] himslm01 opened #98 "[feature request] display which cluster (context) and namespace currently being viewed"
After two days of using Kubenav on desktop and tablet I'm really enjoying the UI - especially on an iPad.

But I'd really like to have the context and namespace I'm currently interacting with displayed all the time.

I've currently got 11 contexts registered, each has several namespaces.

I was on a call today looking at resource usage in a pod and I was asked "which environment is that?" Without

[2020-06-11 14:22] himslm01 commented on #98
Hi @ricoberger. On Linux when I download the build from that PR I get a Zip, containing a tar.gz, containing one file - the kubenav executable. What do I do to make it run?
I tried replacing the kubenav executable in the previous install - leaving the electron framework around it - but I didn't notice any difference. Sorry to be thick.

[2020-06-11 17:54] ricoberger commented on #98
Hi @himslm01, it should be enough when you start the executable via double click. Then it should be create two folders `vendor` and `resources`. It's not necessary to keep the old installation, because I changed the underlying architecture some time ago.

If kubenav doesn't start you can also start it via terminal, there you are also getting an error message in case it doesn't work.

[2020-06-11 19:58] #90 closed

[2020-06-11 19:59] ricoberger commented on #90
Hi @proxly, I closed the issue with the merge of #87. If you still have problems please let me know.

[2020-06-11 20:12] #85 closed

[2020-06-11 20:17] ricoberger commented on #84
Hi @schnable, if you have no further questions, I would close the issue now. Feel free to reopen the issue or to open a new one, in case of questions/problems.

[2020-06-11 20:17] #84 closed

[2020-06-12 07:58] himslm01 commented on #98
Hi @ricoberger,
Thanks.. I ran kubenav in an empty folder from the command line:
[code]
Do you want me to make a new ticket for parsing the KUBECONFIG environment variable correctly?
Kubenav runns as expected if I reduce my KUBECONFIG to one file
[code]
Yes, I really like the Context drop-down-menu. It appears (to my mind) in a slightly strange place at the bottom middle of the window - a long way

[2020-06-12 08:12] ricoberger commented on #98
Thanks for your feedback.

Yes a new ticket for the parsing of the `KUBECONFIG` environment variable would be good.

[2020-06-12 08:27] himslm01 opened #100 "[bug] parsing KUBECONFIG environment variable containing multiple files"
The KUBECONFIG environment variable can contain a list of colon separated file names (Linux).

https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-kubeconfig-environment-variable

In the latest nightly/PR builds of Kubenav, when I have multiple files defined in the KUBECONFIG environment variable Kubenav fails to start because it does not parse t

[2020-06-12 08:32] ricoberger commented on #100
Hi @himslm01, thanks for reporting. I will look into this.

[2020-06-12 18:02] ricoberger commented on #98
@himslm01 I adjusted the position of the clusters selection, feel free to try out the new version: https://github.com/kubenav/kubenav/actions/runs/133598403

@si458 After a first look, it would be a bit more work to move the namespace selection to the menu. I would postpone this to later.

[2020-06-12 18:03] #98 closed

[2020-06-12 18:09] ricoberger commented on #61
I would close this issue due to inactivity. If you still have problems feel free to reopen the issue.

[2020-06-12 18:09] #61 closed

[2020-06-14 10:33] #100 closed

[2020-06-14 10:37] ricoberger commented on #100
The behavior is now the same as for `kubectl`, so that it is possible to use multiple Kubeconfigs via the `KUBECONFIG` environment variable.

You can try out the build from https://github.com/kubenav/kubenav/actions/runs/134937893 or wait for the next release which should be available soon.

[2020-06-16 10:35] hajjimurad commented on #60
I updated the app on my Android, but I can't find the option how to see the logs and how to get the shell. I still see the same commands "Edit" and "Delete" for pods. Some screenshots could be helpful. Thanks

[2020-06-16 10:53] si458 commented on #60
@hajjimurad you have to swipe left on the container you want and it will reveal options
i have asked about changing this as its very well hidden and you don't realise its there...

[2020-06-16 11:46] ricoberger commented on #60
Yes, currently it's very hidden, in one of the next versions it will also be included in the menu at the details page.

[2020-06-16 20:28] ricoberger commented on #78
Thanks again for reporting and testing. Since version [2.0.0](https://github.com/kubenav/kubenav/releases/tag/2.0.0) is now available and the bug wasn't reproducible in the latest Testflight beta, I would close the issue.

If you see this issue again or another one feel free to reopen the issue or open a new one.

[2020-06-16 20:28] #78 closed

[2020-06-17 17:52] mzac opened #107 "Feature request: Docker image"
I see in the development notes that you can run the app locally in a browser, would it be possible to build a docker image of this that could then be deployed inside a Kubernetes cluster and then access through a service?

If so, there might need to be an enhancement to allow authentication and where to store the kubernetes config file.

[2020-06-17 19:07] ricoberger commented on #107
Hi @mzac, yes it should be possible to build a Docker image for kubenav. Some questions from my side:

1. Do you want to install kubenav in one cluster and manage multiple clusters or should kubenav be installed in each cluster and only this cluster should be available via kubenav?
2. Is authentication requirement or can the authentication handled via Ingress?

[2020-06-17 19:15] si458 opened #108 "unable to open releases properly on Mac"
every release i download i have nothing but problems trying to open them

i copy the app to 'Applications' then double click to run which then displays
[code]

i click cancel, then try right clicking on the file and clicking open instead which then displays
[code]
i then click open, but after 1 second it then closes itself again???

so then a third time, i double click the kubenav.app to open (als

[2020-06-18 00:39] mzac commented on #107
@ricoberger
1. I think you could have both options.  Maybe if no kubeconfig has been specified there could be a bind to the local cluster that would let you manage it?  The latest version of Portainer does something like this.
2. I wouldn't say that the authentication would be a requirement, you could always put it behind a nginx proxy for example that would handle the authentication.  Might be go

[2020-06-18 01:39] uhlhosting commented on #108
I was about to open this issue. Thanks!

[2020-06-18 17:50] ricoberger commented on #108
Hi, I think the root cause for this behavior is, that the macOS app isn't signed. This should be fixed with #109, which signs all release versions and the builds from the scheduled GitHub Action.

You can try it with the following build: https://github.com/kubenav/kubenav/actions/runs/139943757

I would keep this issue open until the next release. It should be fixed for the release, but it is not

[2020-06-18 18:35] si458 commented on #108
Hi, that sorta worked,
I no longer get the `macOS cannot verify that this app is free from malware.`
I just get Open or Cancel
**BUT** after i click Open, **it just closes straight away**, no error, no warning, nothing...
its only when you open it **a second time** does it actually load but even then thats after about 10 seconds as again it seems the file size is tiny at first, but then after the

[2020-06-19 17:29] ricoberger commented on #108
Hi, currently I have no idea, why it only works with the second double click. I created an issue in the underlying project to get some input on the issue: https://github.com/asticode/go-astilectron-bundler/issues/75

[2020-06-20 17:02] #107 closed

[2020-06-20 17:07] ricoberger commented on #107
Hi @mzac, a Docker image is now available at [Docker Hub](https://hub.docker.com/r/kubenav/kubenav). A tag is pushed for every master commit and release.

I also added an example, to deploy kubenav to Kubernetes: https://github.com/kubenav/kubenav/tree/master/utils/kubernetes

Any further suggestions and improvements are welcome. If you want to improve the example or add an Ingress example feel fr

[2020-06-20 21:27] mzac commented on #107
Thanks I’ll give it a try as soon as I can!

[2020-06-22 01:19] mzac opened #113 "Add multi-arch for docker images"
Would this application work correctly if built using multiarch?  My kubernestes cluster is a hybrid of Raspberry PI and AMD64 but I prefer to run small workloads on the PIs.

Example here:
https://github.com/marketplace/actions/docker-buildx

BTW awesome work, I got kubenav working with your examples!

[2020-06-22 15:39] proxly opened #115 "Could not create Kubernetes API client"
![28C9ADC1-4462-42E2-AF1D-BE5F1C4B3903](https://user-images.githubusercontent.com/1580465/85306624-54b4d580-b4e1-11ea-89c8-54fbaf5c6f8b.png)
![9172BEA4-048B-4C71-B082-882422ED8805](https://user-images.githubusercontent.com/1580465/85306634-57172f80-b4e1-11ea-9c7c-2d30f492fe25.png)

As per advise, I installed the latest available update from test flight then readded my cluster using the aws functio

[2020-06-22 16:02] ricoberger commented on #115
Hi @proxly, you do not have to add a service token to the configuration. When you are using the AWS option it automatically creates an access token with your provided AWS credentials.

Can you remove all manually added values from the AWS cluster and try it again, please also check that there are no spaces behind the value of the certificate or a slash behind the server url.

If you add the cluste

[2020-06-22 18:32] ricoberger commented on #113
Thank you and thanks for the hint with the GitHub action 🙂.

I adjusted the GitHub Action workflow (#116). Unfortunately I only could test it on [`linux/amd64`](https://hub.docker.com/layers/kubenav/kubenav/0742c773/images/sha256-6f6c17b2585e4c68ec4ff4ac2af78182823e8d15ba7e60092ac81079b2e69505?context=explore). It would be nice if you can give me some feedback if this is running on your Raspberry

[2020-06-22 19:21] mzac commented on #113
Great!  I'm trying to test it out but getting an error.. Need to make sure my Pi is pulling the right architecture.  I've been trying to figure out how to specify the arch in a deployment, do you know how?

[code]

[2020-06-22 19:27] mzac commented on #113
They are showing up

[code]

[2020-06-22 21:00] ricoberger commented on #113
Thanks for testing. I've never worked with a cluster with multiple architectures. If I get it right from the following article https://starkandwayne.com/blog/building-docker-images-for-kubernetes-on-arm/ it shouldn't be necessary to specify the architecture for the Kubernetes deployment.

Maybe there is still sth. wrong with the build process. I will take another look.

[2020-06-23 12:56] mzac commented on #113
Ok thanks I'll test it out when you're ready!

[2020-06-24 11:27] proxly commented on #115
will try the newer version and provide you feedback.

Thanks.

[2020-06-24 12:01] proxly commented on #115
I used the 2.0.0 version and added my AWS EKS.
I need to use a token for both EKS and I was able to connect to one of our EKS setup.
It might be an issue on our configuration but I can say that its now working.

Thank you.

[2020-06-24 12:01] #115 closed

[2020-06-24 18:11] badawe56 opened #119 "Y"
Y

[2020-06-24 19:05] #108 closed

[2020-06-25 12:13] mzac commented on #113
I saw you updated the image recently, but getting a different error now

[code]

[2020-06-25 15:48] ricoberger commented on #113
Yes I played around with Docker image. The failure is expected to speed up the build process. Hopefully I can provide a production ready multi-arch image by the end of the week.

[2020-06-25 17:58] ricoberger commented on #113
Can you test the following image please: `kubenav/kubenav:dc767ba8`

[2020-06-25 19:07] #119 closed

[2020-06-25 21:21] mzac commented on #113
It works!!

[code]

[2020-06-26 15:00] #113 closed

[2020-06-26 15:01] ricoberger commented on #113
Thanks for your help with testing this 🙂

[2020-06-27 17:52] himslm01 opened #120 "[Bug/Feature request] cannot copy text from terminals"
Kubenav 2.0.0 Linux Desktop (Ubuntu 18.04)

I would like to copy text out of the log view.

1) When I select the text it becomes unreadable
2) There is no way to copy the text

![image](https://user-images.githubusercontent.com/1175979/85928629-577b4600-b8a6-11ea-9640-860bd6729bdd.png)

[2020-06-28 08:39] ricoberger commented on #120
Hi @himslm01, thanks for reporting the issue.

- The first issue was fixed in #105, where xterm.js was updated to version 4.7.0 (https://github.com/xtermjs/xterm.js/pull/2952). A new version with the fix will be released soon.
- For the second issue I can confirm that `Strg + C` isn't working. As a workaround you can copy your selected text via the menu: `Edit` -> `Copy`. I'll take a look at why`S

[2020-06-28 10:30] ricoberger commented on #120
It looks like xterm.js doesn't support <kbd>Ctrl</kbd> + <kbd>C</kbd> on Linux, but <kbd>Ctrl</kbd> + <kbd>Insert</kbd> is working (https://github.com/xtermjs/xterm.js/issues/2478).

I can try to support <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>C</kbd>, but I'm not sure if this is a more common shortcut on Linux and whether Electron supports that (https://github.com/xtermjs/xterm.js/issues/292).

[2020-06-28 15:55] himslm01 commented on #120
I guess I'm used to  `Ctrl` + `Shift` + `C` in the standard `GNOME Terminal` app (although I swear at it every day - I do appreciate Apple's extra keyboard modifier!) so that would work on Linux.
I hadn't even considered looking for an `Edit` -> `Copy` menu - it's amazing how you can get stuck in your ways.
Is there a possibility for a `copy` option on tablets too? A long-hold menu on iPad would b

[2020-06-28 16:37] ricoberger commented on #120
No, your suggestions are welcome 🙂.

xterm.js hasn't a good mobile support, so that some feature of the terminal are not working on iOS and Android.

Maybe I can add a select option using the [selectLines](https://xtermjs.org/docs/api/terminal/classes/terminal/#selectlines) API of xterm.js. This would allow a user to set the start and end line for selection, which then can be copied. The selection

[2020-06-29 05:49] amiga23 opened #123 "Current Version 2.1.0 crashes on up to date ArchLinux"
[code]

[2020-06-29 18:48] ricoberger commented on #123
Hi @amiga23, thanks for reporting the issue. Can you please check your Kubeconfig, because I can only reproduce the issue, when I remove the `cluster` property from the context:

[code]

I will add a check for `raw.Clusters[details.Cluster]` in https://github.com/kubenav/kubenav/blob/master/pkg/electron/kube/kube.go#L85, so that this doesn't panic.

[2020-06-30 09:42] amiga23 commented on #123
Hi @ricoberger, thank you for the hint with the kube config. I had an additional context defined, for which neither cluster nor user was defined.

[code]

[2020-06-30 16:34] ricoberger commented on #123
Thanks for your feedback, I will come up with a PR to fix the panic.

[2020-06-30 20:42] #123 closed

[2020-06-30 20:44] #120 closed

[2020-06-30 20:46] ricoberger commented on #120
Hi, I merged #124, which includes selection handling for mobile. Once this is released I would be interested in your feedback. I can imagine that the current solution is maybe not the best and that it can be difficult to select the correct lines.

[2020-07-08 16:17] SeriousM opened #128 "Pod Status is green even the pod was evicted"
Hi!

I noticed that the pods are shown as green even if the pod was evicted for whatever reason (in this case out of memory).

![image](https://user-images.githubusercontent.com/462013/86943452-c1b5a580-c146-11ea-8cf2-73cfa71c25d9.png)
![image](https://user-images.githubusercontent.com/462013/86943522-d5f9a280-c146-11ea-8801-856e3616fc95.png)

Could you please change the filter for green?

Thank y

[2020-07-08 17:16] ricoberger commented on #128
Hi @SeriousM, thanks for the detailed issue report. The issue should be fixed by #129. You can already try it with a build from https://github.com/kubenav/kubenav/actions/runs/162225660

[2020-07-08 18:29] #128 closed

[2020-07-10 21:06] LarsKoelpin opened #131 "Feature(ux) Add empty cluster Page"
Hey,
Thanks for this great app.
I think I discovered some ux inconvinience.

I downloaded the app and klicked on the add clusters button on the Deployments tab. I was then greeted with a blank page and the navigation on the left. I at first thought the app had a bug or crashed, when I discovered the Plus-Icon on the topright corner.

I think UX-wise It would be really nice to have atleast some fee

[2020-07-11 16:33] berndonline opened #132 "Issue with DigitalOcean Kubernetes"
Hello,
I have an issue connecting to a DigitalOcean Kubernetes cluster under MacOS. The $PATH variable seems to not include /usr/local/bin/ where doctl is located which is referenced in the kubeconfig users configuration.

Kubeconfig:
[code]

Error message:

[code]

Is there a way to override the PATH for Kubenav or use what is configured in .zshrc?

Thank you for your help, and great app I really

[2020-07-11 19:50] ricoberger commented on #132
Hi @berndonline, thanks for reporting the issue. This should be fixed by #133. You can try the build from https://github.com/kubenav/kubenav/actions/runs/165793730.

You can also replace the content from `/Applications/kubenav.app/Contents/Info.plist` with the following:

[code]

Another option would be to start kubenav via your terminal:

[code]

[2020-07-11 21:09] #132 closed

[2020-07-11 21:47] ricoberger commented on #131
Hi @LarsKoelpin, thanks for your feedback.

I like your suggestion and implemented it in #134. If you notice further improvements, feel free to open a new issue.

[2020-07-11 21:51] #131 closed

[2020-07-22 14:21] lhw opened #136 "Bug: No OIDC re-authentication when refresh token is expired"
Currently there is no option to re-authenticate with the OIDC provider in case that the refresh token has expired during the time the application is not open.

I think the only option right now would be to add another cluster using the same OIDC provider and deleting it afterwards.

![image](https://user-images.githubusercontent.com/351875/88186848-0f95d780-cc36-11ea-9bd3-84da213e1381.png)

[2020-07-22 18:43] ricoberger commented on #136
Hi @lhw, you are right, currently the only way is to add a new OIDC provider and cluster. I'm currently reworking the cluster management (#135). Maybe it would be a good idea to add a authenticate button to the edit cluster page, which can be used to retrieve a new refresh token.

[2020-08-09 17:15] si458 opened #140 "add options to use a proxy"
im trying to forward the kubenav app through my local charles proxy for debugging purposes

but i cant seem to get it to work via the proxy

i have set all options possible on my mac laptop
(http, https, socks on all interfaces and other apps use the proxy no problem)
but it just seems to be doing a direct connection instead of using the proxy

is it possible to add options to use a proxy i specif

[2020-08-09 17:18] si458 opened #141 "clicking links opens up another electron window instead of default browser"
if you click any of the links in the info tab (website, github, twitter) it seems to open another electron window inside the app

it should open the users default browser instead to the links

[2020-08-10 19:49] ricoberger commented on #141
Hi, I agree, it would be better to open links in the default browser instead of a new Electron window.

[2020-08-10 19:57] ricoberger commented on #140
Hi, I didn't tested kubenav with a proxy. I think it shouldn't be a problem to set the proxy in the HTTP client used for the Kubernetes API requests (https://golang.org/pkg/net/http/#RoundTripper).

I'm not sure if this is also possible with the Kubernetes go-client, but by default the Go HTTP client supports a proxy via the the `HTTP_PROXY` environment variable (https://golang.org/pkg/net/http/#P

[2020-08-10 21:11] si458 commented on #140
I will check first thing in the morning 😃

Just strange how it wouldn't use the systems proxy which I setup in the network connections bit of OS X

Tried http, https and socks but just seems to ignore them and do a direct connection

[2020-08-11 13:21] davizucon opened #142 "aws-vault constructing many client instances"
Hello,

   Thanks for building kubenav , great tool ! Very fast.
   When ruining thru console I gate a lot o that warnings , I`m using EKS:

    W0811 10:16:23.799696    6553 exec.go:203] constructing many client instances from the same exec auth config can cause performance problems during cert rotation and can exhaust available network connections; 5564 clients constructed calling "aws-vault"

[2020-08-11 16:10] si458 commented on #140
@ricoberger ok that worked prefectly!
it didnt decrypt the ssl at first until i switched the SSL proxy on,
BUT then i keep getting
`You may need to configure your browser or application to trust the Charles Root Certificate. See SSL Proxying in the Help menu`
and the app kept complaining saying `'Kubernetes API request failed: unexpected end of JSON input'`
but i found that i had to visit the URL

[2020-08-11 17:05] si458 opened #143 "after changing namespace 5 times via quick menu, the app locks up?"
Hi,

after changing the namespace 5 times via the quick menu,

the app just seems to lock up and crash?

then selecting another option just sits with the loading bar?

![Screen Recording 2020-08-11 at 18 01 30](https://user-images.githubusercontent.com/765314/89926741-2dcf7180-dbfd-11ea-92d3-f722d5cb9944.gif)

[2020-08-11 18:22] ricoberger commented on #142
Hi @davizucon, thanks for reporting the issue. I think this isn't sth. which can be fixed in kubenav himself.

There is an open issue in the https://github.com/kubernetes-sigs/aws-iam-authenticator repository which is also used by kubenav: https://github.com/kubernetes-sigs/aws-iam-authenticator/issues/308

[2020-08-13 17:19] ricoberger commented on #143
Thanks for reporting, I will look at this.

You can build the Electron app with `make build-electron`. The Electron app is then available at `cmd/electron/output/darwin-amd64/kubenav.app`.

You can also start the app in the debug mode via `cmd/electron/output/darwin-amd64/kubenav.app/Contents/MacOS/kubenav -debug` this will enable the developer tools which can be opened from the via the menu `kube

[2020-08-13 18:35] si458 commented on #143
thanks for that, i had already tried building from latest git pull but it was the same thing

i wasnt aware of the debug option which is what i needed to try fix it myself but just tried it now and still no luck :(

only thing ive spotted is after switching the namespace 5 times, any requests to
`http://localhost:14122/api/kubernetes/request` seem to sit in a pending state
as if the server backend

[2020-08-14 15:32] ricoberger commented on #143
Debugging is currently not that well supported. I'm [delve](https://github.com/go-delve/delve) together with the following `launch.json` for VSCode:

[code]

To use this I have to copy the `build` folder with the frontend build to the `cmd/server` folder.

For the Electron app I'm mostly using `fmt.Printf` 🙈

[2020-08-14 15:44] ricoberger commented on #140
You can already take a look at #144. I'm struggling a bit with the `--insecure-skip-tls-verify` option, but think it is necessary before this can be merged.

[2020-08-14 17:40] si458 commented on #140
that doesnt have seemed to of worked?
i went into general, enabled proxy and then set my host and then clicked say 'pods'
and it just freezes the app nothing happens?
also when you close the app and re-open it, the settings havnt been saved either?

[2020-08-14 17:43] #141 closed

[2020-08-14 17:50] si458 commented on #140
ok ignore previous message, got it working, think it was just my laptop that crashed stuff
also a helpful note in the box maybe saying the format `http://127.0.0.1:8888` NOT `127.0.0.1:8888`
i now get an error saying `Could not create Kubernetes API client: using a custom transport with TLS certificate options or the insecure flag is not allowed`
the app gets all my details from the `.kube/config`

[2020-08-14 18:08] si458 commented on #140
ok got past this now,
i had to remove/comment out the line `certificate-authority-data` from my `.kube/config` for my cluster
and it works both WITH and WITHOUT proxy,
but i think this will now cause a problem with AWS EKS clusters as i think they dont use user/pass like my k3s cluster
they use CA/TLS certs

[2020-08-16 16:52] #136 closed

[2020-08-16 18:11] ricoberger commented on #136
Hi @lhw, if you already want to test this, a new beta version should be available within the next week via Apple Testflight and Google Play.

[2020-08-16 18:41] si458 opened #148 "pods/events section on deployments arent refreshed when clicking refresh button"
when you scale up or down your deployments from within your deployment

the page information updates fine to say replicates are 2->3->4->3->2 etc after every click of refresh as expected

but the pods section lower down aren't refreshed,
it stays stuck on the original number of pods when you first went into the deployment

only way around this is to come out of your deployment then back into it fo

[2020-08-16 20:13] lhw commented on #136
That's great. I signed up for the beta and forwarded the link to some colleagues.

[2020-08-18 06:47] ricoberger commented on #148
Hi @si458, I will look into this. Currently only the API call for the details page is executed within the refresh logic, but not the call for the embedded Pods list, Events list, etc.

[2020-08-21 20:12] si458 opened #152 "feature request: portforward for pods/services"
it would be amazing if we could have an option to portfoward on the pods/services
you could click the port number, then it asks do you want to map it to the same port or another port
then when you visit the port, it actually forwards the traffic to that pod/service
sorta like that `kubectl portforward` does but kubenav would manage the local ports and forwards
javascript example here: https://gith

[2020-08-22 17:51] si458 opened #153 "feature request: auto refresh pages automatically"
it would be amazing if the refresh button could drop down with options like '30sec,1min,5min,etc'
and once one of them is ticked/selected the page your on (e.g pods) would auto refresh itself at the interval 👍

[2020-08-24 20:03] ricoberger commented on #152
Hi @si458, I was working on a feature which also needs port forwarding. I extracted the logic and implemented it for Pods, Container and Services. You feedback for #156 would be very useful.

The build can be found in some minutes at: https://github.com/kubenav/kubenav/actions/runs/222572205

[2020-08-25 10:56] si458 commented on #152
Hi @ricoberger sorry for delay,
seems to be perfect that! no issues what so ever!
i found a slight bug, but doesnt appear to affect anything
when you select a pod container instead of the pod itself
![image](https://user-images.githubusercontent.com/765314/91165743-1d24fe00-e6c9-11ea-9dfa-6750251ae76c.png)
and then click the port number, it lets you setup a port forward but oversally it shouldnt a

[2020-08-25 11:16] si458 commented on #152
another bug i have just found:
you are able to select UDP labels and setup portforward, HOWEVER port-foward is TCP ONLY!
https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/#discussion
https://github.com/kubernetes/kubernetes/issues/47862

[2020-08-25 13:41] davizucon opened #157 "feature request: Close button on tab Logs"
Hello,
   Would be great if have a close button on log view tab close. If I have containers with same name, I cant identify witch on I have close.

Thanks

[2020-08-25 13:46] si458 commented on #157
i have a similar issue but ive gotten use to the 50/50 guess madness which one i needed to close,
i open up logs from one pod `speedtest-85b948dc57-wrttn` the tab shows as `speedtest`
but then i open other logs from other pod similar name `speedtest-85b948dc57-wrabvz` and that also shows tab as `speedtest`

maybe changing the tabs to say `{PODNAME} - {CONTAINER NAME}` might be easier to identify t

[2020-08-25 14:11] si458 commented on #152
another bug i have found: (i have to run it as /Applications/kubenav.app/Contents/MacOS/kubenav --debug to find this out)

I port-forwarded a HTML speedtest pod, just playing around, under heavy load of it (about 2 seconds in) the connect just dropped and disconnected

i spotted in the terminal the following to prove this
`E0825 15:01:17.860597    8243 portforward.go:233] lost connection to pod`

[2020-08-25 17:07] ricoberger commented on #152
Hi @si458, thanks for your detailed feedback, thats awesome!

I implemented your feedback:

- It is not possible to start the port forwarding for UPD ports and within the pod template.
- When an open port forwarding session is now selected, a list with three different action items is shown:
  - **Open** to open a website with the local port
  - **Copy** to copy the local port
  - **Stop** to close

[2020-08-25 17:10] si458 commented on #152
Hi @ricoberger

Sadly I've left my laptop in the office tonite doh! So when I get into the office tomorrow I will give it a try and see if anymore bugs or improvements

I am wondering tho if the port forwarding would work on mobile now it's implemented???

Any chance of releasing a new TestFlight to try?

Simon

[2020-08-25 18:32] ricoberger commented on #152
Hi, I also tested it on iOS and Android and it works without problems. Hopefully the same counts when distributed via Google Play or the App Store.

I would try to publish a new Testflight version on Sunday.

[2020-08-25 19:16] ricoberger commented on #157
Hi @davizucon and @si458, unfortunately it's not possible to add a close button to the tab. I played around with the naming of the tabs. I am not 100% convinced of my results so far:

![Bildschirmfoto 2020-08-25 um 21 05 23](https://user-images.githubusercontent.com/18552168/91217118-4e2c1f80-e717-11ea-9f77-b286f3ace307.png)
![Bildschirmfoto 2020-08-25 um 21 05 14](https://user-images.githubuserco

[2020-08-26 10:30] si458 commented on #152
Hi, ive given it a go this morning and all seems perfect! no issues that i can see 👍

[2020-08-26 10:41] si458 commented on #157
Hi @ricoberger
i mean yes it works?
but how would it look on a mobile device?
wouldn't it be a bit cramped?
i mean that is the best way around i can think of without adding a close button on the tabs itself
![image](https://user-images.githubusercontent.com/765314/91294080-e61a1f80-e790-11ea-81a2-5e0ef5510d96.png)

[2020-08-26 10:43] si458 commented on #157
Hi @ricoberger
i mean yes it works?
but how would it look on a mobile device?
wouldn't it be a bit cramped?
i mean that is the best way around i can think of without adding a close button on the tabs itself
![image](https://user-images.githubusercontent.com/765314/91294342-46a95c80-e791-11ea-9573-d508df3635a8.png)

[2020-08-26 18:00] #152 closed

[2020-08-26 19:08] ricoberger commented on #157
The feature is implemented in #159, so there is no need to change the naming.

Thanks @davizucon for the feature request and @si458 for trying it out.

![Bildschirmfoto 2020-08-26 um 20 59 29](https://user-images.githubusercontent.com/18552168/91345619-ea215e00-e7df-11ea-8d30-89a1baf2cb5e.png)

[2020-08-26 19:40] #157 closed

[2020-08-26 21:11] davizucon opened #160 "Feature Request: Custom Shortcut/Pins for CRD or General"
Hello,
       I have to check frequently some Deployment (K8s) status, and virtualservices from istio (CRD).

       Would be great if I can pin some "pages" and that pins show up in left menu, like a "shortcut" to CRD or other resource.
       Those pins , should be in top of menu, maybe, right down "Clusters" and above "Workloads", like "Bookmarks".

        It would be great in mobile phones, t

[2020-08-26 21:22] si458 commented on #160
Hi

Maybe an option on left side that says shortcuts

And when clicked the right side loads a list of shortcuts you have created

Maybe when you in a section/page you want as a shortcut, click the three dots on the top right an a drop down option to say create shortcut/delete shortcut?

That might be an idea?

Regards

Simon

[2020-08-26 21:32] davizucon commented on #160
Yes, sure, your way can handle more shortcuts, and can manage then.

Great!

[2020-08-27 14:50] davizucon opened #161 "Feature Request: font size of log window"
Hello folks,
      Thanks for all help !

     This is a small feature, I'm getting old and I cant read log files as before, is it possible to increase de font size, like adjusting with buttons + / - ?  would help me a lot  :)

Best!

[2020-08-28 06:27] ricoberger commented on #161
Hi @davizucon, PR #162 adds two new settings for the terminal to the general settings page. One of them is the font size used in the terminal.

[2020-08-28 06:41] #161 closed

[2020-08-28 14:13] si458 commented on #152
just spotted another bug,
the open link opens the full url as expected
but the copy link only copys the port number and i expected it to copy the full url `localhost:14122` instead of just `14122`

[2020-08-30 09:48] si458 opened #164 "new ionrange sliders look squashed on laptop"
the text thats listed above the new sliders are all squashed, unreadable and appears to be cut off?
screen resolution is 1440x900 (scaled default)
![Screenshot 2020-08-30 at 10 45 55](https://user-images.githubusercontent.com/765314/91656136-2be72880-eaae-11ea-9dba-47d12cf27ae9.png)

[2020-08-30 13:24] ricoberger commented on #152
Hi @si458, yes this was intended, but I'm also ok with changing this behavior.

[2020-08-30 14:06] si458 commented on #152
@ricoberger maybe change the list slightly to accodate everyone? Open url, copy url, copy port?

[2020-08-30 16:42] ricoberger commented on #152
I would go with `localhost:12345` for now (#165) and rework this after a while of testing.

[2020-08-30 16:43] ricoberger commented on #164
Hi, thanks for reporting. The labels should be fixed by #165.

[2020-08-30 17:42] #164 closed

[2020-08-31 16:56] si458 opened #166 "Missing log/terminal headers on mobile"
Just updated to 2.2.2 via TestFlight and it appears the update to allow closing of tabs has goofed up the header text of each tab?

It seems to be blank/empty?

![image](https://user-images.githubusercontent.com/765314/91745689-4a831780-ebb3-11ea-9cb1-5d6c51c28499.png)

[2020-08-31 18:01] ricoberger commented on #166
Hi @si458, I can confirm this and will take a look at the bug.

It seems that this only effects the first tab on iOS and every tab except the first one on Android.

[2020-08-31 18:04] si458 commented on #166
Hi @ricoberger

It appears to affect all tabs on iOS

Also it's very hard to identify the tabs too? As you can see I actually have 3 open but the second one selected?

![image](https://user-images.githubusercontent.com/765314/91751500-c2a20b00-ebbc-11ea-98b1-9b3430839f91.png)

[2020-08-31 18:08] ricoberger commented on #166
Very strange maybe also related to the length of the container name...

![IMG_434C68C29661-1](https://user-images.githubusercontent.com/18552168/91751884-c2f2d400-ebc5-11ea-9307-895d1c72393d.jpeg)

[2020-08-31 18:20] si458 commented on #166
![image](https://user-images.githubusercontent.com/765314/91752882-ebc39b00-ebbe-11ea-8b98-529de1804bbd.png)
At least dark mode shows the close icons now but now all my header stuff has vanished like time battery WiFi etc

[2020-08-31 18:44] si458 opened #167 "Feature request: Auto dark mode"
It would be amazing if the app detected if the mobile device was running in dark mode or not and activate it accordingly

I have found a plug-in which might help with the detection automatically in capacitor

https://www.npmjs.com/package/capacitor-dark-mode

[2020-08-31 19:52] ricoberger commented on #167
Hi, automatic dark mode detection is done via https://github.com/kubenav/kubenav/blob/f403fc3fd79276ae059b8384a585e760b1fe86c8/src/utils/constants.ts#L11. This wouldn't apply when the app was installed before this automatic detection was available, because the value is already saved https://github.com/kubenav/kubenav/blob/master/src/utils/storage.ts#L131.

So if you reinstall the app, the app shou

[2020-08-31 20:01] si458 commented on #167
Hi,

ok so ive removed the app, and then reinstalled it via testflight (2.2.2), and indeed it does work
BUT ONLY ON THE APP START UP, so a feature request maybe for while the app is running?

if you load the app up in say light mode, go into the phones settings and change to dark mode, then go back into the app,
its still stuck on light mode until you terminate the app and reopen it for it to show

[2020-08-31 20:15] ricoberger commented on #167
Sure we can keep this as feature request.

With the current logic this would be difficult to implement. As a first quick idea: We can replace the IonToggle component in the settings with an IonSelect component. The possible values should be sth. like `System`, `Dark` and `Light`. This also requires a new settings value to not conflict with existing installations (maybe `settings. theme`).

[2020-08-31 20:20] si458 commented on #167
in theory the plugin i mentioned above shows it can detect the system change
so you could do an `on event` IF`dark mode` THEN `flip switch on` ELSE`flip switch off`

i would really love to help! but i just dont understand react :(

give me standalone html+js+css any day

[2020-08-31 20:35] #166 closed

[2020-09-06 15:36] himslm01 opened #170 "Why $HOME/.kube/.config"
Sorry for the silly question.

With reference to https://github.com/kubenav/kubenav/blob/4dbffa3428527a9e76c1e2ca0af60af1a65235a6/src/components/settings/ClustersPage.tsx#L56

Why read cluster config from $HOME/.kube/.kubeconfig or $HOME/.kube/.config when other tools read $HOME/.kube/config?

https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#explore-t

[2020-09-06 15:41] si458 commented on #170
Hi,
erm i think the wording `~/.kube/.kubeconfig` is a mistake?
as from what ive read its either `~/.kube/.config` OR the ENV `kubeconfig`
https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/

[2020-09-06 16:17] #170 closed

[2020-09-06 16:20] ricoberger commented on #170
Hi @himslm01, thanks for pointing out. It is like @si458 said: The used Kubeconfig file must be located at `~/.kube/config/` or set via the `KUBECONFIG` environment variable.

This should be fixed with https://github.com/kubenav/kubenav/commit/fe745c2d1f1d6e8ad1f86f1c02a9a1a4237e30be

[2020-09-07 08:09] si458 commented on #29
@ricoberger im not sure if its possible,
but could you run a watch timer on the `.kube/config` file and if the file changes run the command that does the initializes the cluster stuff?

[2020-09-07 10:26] si458 opened #172 "Feature Request: use either bash or sh for terminal sessions"
it would be amazing if i was given the option to use either `/bin/bash` or `/bin/sh` before you start your ssh session in a pod

only reason I say this is because `sh` doesnt work with arrow keys or tab autocomplete where as if a container includes `bash` the arrow keys and tab autocomplete work no problem

it would also be ok for a generic option under `general` which controls everything for the

[2020-09-07 10:31] si458 opened #173 "going back a page doesnt refresh the old page until refresh clicked"
when im in a deployment and then say scale up and click refresh it shows its scaled to 2 as expected

BUT if you click the back arrow to the deployment lists, it still showing the old scale of 1 until i click refresh

i believe as you navigate around the app, the pages should refresh themselves as they are loaded,
this makes it accurate, instead of having to always click refresh for the page to up

[2020-09-07 11:13] ricoberger commented on #172
Hi @si458, I will look into this. It shouldn't be difficult to add a popover/action sheet to select the shell which should be used.

I think this can be implemented similar to how it is done for the logs:

- https://github.com/kubenav/kubenav/blob/master/src/components/resources/misc/modify/LogsItem.tsx#L79
- https://github.com/kubenav/kubenav/blob/master/src/components/terminal/AddLogs.tsx#L29

A

[2020-09-07 11:14] si458 commented on #172
Brilliant 👍  look forward to trying it!

[2020-09-07 11:16] si458 opened #174 "Donation links"
it would be nice to have some donation links to donate to the software!

the software is fabulous and amazing, and it just works!

im always chuffed helping out with testing,

i just wish i could learn react properly and contribute to code/improvements

[2020-09-07 20:33] #172 closed

[2020-09-07 20:34] ricoberger commented on #172
Hi @si458, this feature is implemented in PR #175 and can be tried out with a build from here: https://github.com/kubenav/kubenav/actions/runs/243524349

[2020-09-07 20:39] ricoberger commented on #29
Hi, yes this would be an option. The problem here is that we have to watch the provided config file and when the file changes we have to change the menu and pass the configuration to the frontend.

Maybe this can be done via SSE which is already used for the navigation within the Electron menu (https://github.com/kubenav/kubenav/blob/master/src/components/menu/Menu.tsx#L43).

Unfortunately this ha

[2020-09-07 20:44] ricoberger commented on #173
Hi @si458, this behavior is be design, to avoid an additional API call when a user visits the same details page again.

I'm not sure if this should be changed. For the desktop and web implementation I think this would make totally sense, but I'm not sure about the mobile version and the additional transmitted data.

[2020-09-07 20:46] si458 commented on #173
Hi @ricoberger ok thats fine, ill close this then if its by design
maybe my other request #153 might be a better idea?

[2020-09-07 20:46] #173 closed

[2020-09-07 20:58] si458 commented on #172
Hi @ricoberger brilliant works a treat on all of my containers!
i cant speak for windows ones tho using `cmd` or `powershell` but if the linux ones work i guess the windows ones will too

[2020-09-07 21:11] ricoberger commented on #153
I like the idea. With the described solution I only see a problem for the mobile version, because the refresh logic is currently only available via the *pull-to-refresh* function.

Maybe this can also be solved via a global option in the settings, where the user can enable the auto refresh feature and choose an interval. This would mean that this is then always enabled/disabled for all pages.

Wha

[2020-09-07 21:15] si458 commented on #153
Hi @ricoberger
i understand what you mean about the mobile,
ive just looked at my iphone myself, it would be tricky to implement it
so i would have to say a global option for the moment seems like a good idea then
until we have an idea how we auto-refresh the mobile version

[2020-09-07 22:36] si458 commented on #170
@himslm01 out of curiosity, how do you set the `KUBECONFIG` env variable to multiple files?
are the files static (in set folder and set filenames)?
do they load configs in a folder?

[2020-09-09 06:01] ricoberger commented on #170
You have to specify each Kubeconfig file, I think folders are not possible:

[code]

[2020-09-09 18:59] si458 opened #177 "Feature Request: export/save yaml to file"
it would be nice if we had an export/save yaml option in the menu for each type of resource

for example, i need to backup a few secrets and config maps before i destroy them,

currently i can either use the command line `kubectl get secret/mysecret --namespace=mynamespace -o yaml > outputfile.yaml` but its long winded typing out each value
OR browsing to the secret/config map in question, click e

[2020-09-11 11:18] si458 opened #178 "Feature Request: app crashes if too many events try to be listed"
i have just spotted an issue with the events

i accidentally installed k3s-agent on a k3s-master node, it didnt appear to affect the server in anyway,
but it appears the k3s-agent was trying to run alongside the master but wasnt allowed cuz the port was already in use
(i didnt realise sadly so it had been trying to start for about 2 days)

and it appears the cluster has detected the kubelet logs f

[2020-09-11 11:50] si458 opened #179 "Bug: port-forward for grafana service uses wrong port"
for some reason if you try to port-forward the `prometheus-stack-grafana` service it uses port 80 instead of 3000

i setup the prometheus-monitoring using there [new helm chart](https://github.com/prometheus-community/helm-charts)

using `kubectl port-forward` uses the right port however?
[code]

it would also appear the [offical helm chart for grafana](https://github.com/grafana/helm-charts/tree/

[2020-09-11 12:31] ricoberger commented on #179
Hi @si458, thanks for reporting. I think in the following line `port.targetPort` instead of `port.port` must be passed to the component: https://github.com/kubenav/kubenav/blob/0bb6ad5d2c637bf3568c9f8a017ee3bc55270a19/src/components/resources/discoveryAndLoadbalancing/services/ServiceDetails.tsx#L62

I will fix this soon, maybe we also have to check if `port.targetPort` is defined.

[2020-09-11 12:35] si458 commented on #179
Hi,
found this in kubernetes docs
[code]
so yes it should really be using targetPort IF the entry exists, if not then port 👍

[2020-09-11 12:40] ricoberger commented on #178
Hi @si458, I would track this as feature request, because this can only be solved in a good way when we support pagination in the list views.

**Note:** The description how pagination works for the Kubernetes API can be found here: https://kubernetes.io/docs/reference/using-api/api-concepts/#retrieving-large-results-sets-in-chunks

[2020-09-11 14:21] si458 commented on #179
Hi @ricoberger
i have also discovered another BUG too, `targetPort` can be a NAME instead of a portnumber, and you are required to look up the relevant pod for the name to work out which port you need
(https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#serviceport-v1-core)

i came across this bug because i couldn't port-forward the longhorn UI and thats because there helm repo us

[2020-09-12 07:48] #179 closed

[2020-09-12 07:49] ricoberger commented on #179
Hi @si458, this should be fixed by #181. You can test it with the build from here: https://github.com/kubenav/kubenav/actions/runs/251018549

[2020-09-12 11:28] si458 commented on #179
Hi @ricoberger brilliant seems to work!
only thing ive spotted is if i use a random port i still cant access the longhorn ui so i MUST set a port of 8000
(might be a longhorn ui bug so dont worry no biggie)

[2020-09-12 15:27] si458 opened #182 "BUG: selecting a longhorn crd generates a blank white screen"
when you click any of the [longhorn](https://github.com/longhorn/longhorn) CRDs it then generates a blank white page?
also if you press CMD+R to reload the app, it just shows a 404 page not found error?

this doesnt happen however on say `traefik or cert-manager` CRDs?

HOWEVER after looking at the requests using Charles proxy and disabling the TLS,
it appears the app returns the request fine as 2

[2020-09-12 16:15] ricoberger commented on #182
Hi @si458 and thanks for reporting. Unfortunately I can not reproduce the problem with one of my CRDs, do you have a minimal setup to reproduce this problem on minikube?

Or maybe you can start kubenav with the debug flag `/Applications/kubenav.app/Contents/MacOS/kubenav --debug` and select `Debug` from the kubenav menu. After that you can inspect the request in the networking tab.

[2020-09-12 16:59] si458 commented on #182
Hi @ricoberger
`traefik` and `cert-manager` crds are all fine and dont have problems,
it only appears to be the `longhorn` crds that display the white blank screen?

ive just created a quick minikube cluster and it happens there too
1. create minikube
2. install iscsi for longhorn in minikube vm `minikube ssh "sudo apt-get update;sudo apt-get install -y open-iscsi;sudo systemctl start iscsid"
3. a

[2020-09-12 22:21] ricoberger commented on #182
Thank you for the detailed instructions to reproduce the bug. The problem is that Longhorn doesn't use an array for their conditions, instead they are using an object.

We are now checking if the `status.conditions` contains an array or object and adjusting the logic to render the conditions table. You can try out the fix with the following build https://github.com/kubenav/kubenav/actions/runs/251

[2020-09-12 22:29] #182 closed

[2020-09-13 08:31] si458 commented on #182
Hi @ricoberger
brilliant that seems to work now, downloaded latest build to try as you pushed before the autobuild
and all seems well!

[2020-09-14 19:10] #177 closed

[2020-09-14 19:12] ricoberger commented on #177
Hi @si458, this was implemented in PR #185. You can already try out the build from here: https://github.com/kubenav/kubenav/actions/runs/254218991

The export feature is available via the new **View** modal from the details menu.

[2020-09-15 17:12] dsb3 opened #186 "Feature Request - delete manual clusters from mobile interface"
/kind featurerequest

I also wasn't able to find any documentation (is there any, beyond README.md?) so perhaps it's covered and I didn't find it.

I added a cluster via manual configuration in the mobile app, and made a typo on the port number.  As far as I've been able to work out, I'm not able to either edit or delete it.  If it's not possible, could this make it's way into the roadmap for a fu

[2020-09-15 18:15] si458 commented on #186
hi @dsb3
go into clusters then swipe on the cluster and click edit 👍
its well hidden

[2020-09-16 19:25] #167 closed

[2020-09-16 19:26] ricoberger commented on #167
Hi @si458, automatic theme changing (when the system theme is changed) is now supported. You can try out this feature with the following build: https://github.com/kubenav/kubenav/actions/runs/258083315

[2020-09-16 19:44] si458 commented on #167
Hi @ricoberger
Brilliant thank you!
Any chance of doing a new TestFlight release?
I don't really use the dark mode on laptop, only my iPhone/iPad

[2020-09-16 19:59] ricoberger commented on #167
I want to submit a new TestFlight version by the end of the week. First I want to take a look at #178, wich I also want to include in the next beta version 🤞

[2020-09-16 20:51] ricoberger commented on #186
Hi @dsb3, besides the `README.md` and these two site:

- https://kubenav.io/help/microsoft-azure-creating-app-credentials.html
- https://kubenav.io/help/google-oauth2-configuration.html

there is currently no documentation.

I'm currently working on the finalization of the next major release and the roadmap for the time after. Adding / improving the documentation will definitely a major topic for

[2020-09-17 10:53] si458 commented on #167
Hi @ricoberger
brilliant, seems to work on mac no problem! cant wait for mobile version now!

[2020-09-18 21:55] ricoberger opened #190 "kubenav doesn't work with Safari 14.0"
There is currently a Bug in Safari 14.0 (https://bugs.webkit.org/show_bug.cgi?id=215622) which also causes problems with kubenav. The bug is already fixed in the latest Safari Technology Preview, so it should also be included in the next official Safari version.

A detailed description of the issue can be found in the following issue in the Ionic repository: https://github.com/ionic-team/ionic-fra

[2020-09-18 21:57] #153 closed

[2020-09-18 21:57] #178 closed

[2020-09-18 22:00] ricoberger commented on #178
Hi @si458, pagination/infinite scrolling is now supported, so that the problem should be solved. You can try this with the build from here: https://github.com/kubenav/kubenav/actions/runs/261840192.

The list of events, pods, etc. in a details page was also limited to 100 items.

[2020-09-18 22:02] ricoberger commented on #153
Hi @si458, this feature is also available now (https://github.com/kubenav/kubenav/actions/runs/261840192). Auto refreshing will be always on for list and details pages. It is not possible to disable the refetching of the data, instead a user should use a very high refetch interval (10 minutes).

[2020-09-19 14:13] si458 commented on #153
Hi @ricoberger
the auto-refresh doesnt seem to work?
i go into a pod and sit on the pods details page (not the list view) and it just sits there and doesnt refresh?
ive even tried changing the refresh value as well to 30 seconds?

[2020-09-19 17:39] ricoberger commented on #153
Hi @si458, I can not reproduce the problem atm. Can you start kubenav with the `--debug` flag and open the developer tools from the debug menu:

[code]

When I set the refresh interval value in the settings to 30 seconds, the requests are looking as follows:

![Bildschirmfoto 2020-09-19 um 19 35 45](https://user-images.githubusercontent.com/18552168/93684908-c3d5a200-faaf-11ea-815f-87e9d5e83a91.pn

[2020-09-19 19:11] si458 commented on #153
Hi @ricoberger
no that shows it doesnt do it either, it does the request then loads of portforwarding but never another request
i have the general set to 30 seconds
and I'm only sat on the pods page, i havent gone into a pod details page
![Screenshot 2020-09-19 at 20 10 29](https://user-images.githubusercontent.com/765314/93687265-43fe0680-fab4-11ea-9bfd-924455cd2f82.png)

[2020-09-19 19:29] si458 commented on #153
Hi @ricoberger
ok it appears the CRD list and CRD detail pages are being refreshed every 30 seconds as shown in your pic
but nothing else

[2020-09-19 19:32] si458 commented on #153
Hi @ricoberger
ok it does appear to be working, ive verified CRD, namespace, storageclass, Secrets, etc
ONLY the pods page doesnt work?

[2020-09-19 19:40] si458 commented on #153
Hi @ricoberger sorry for loads of edits/deletes of comments
i have spotted a bug however tho
when i first load the pods tab, it does loads of requests as expected
(load pod list then grab metrics for each pod, inc changing namespaces etc)
HOWEVER subsequent auto-refreshes, only do a single request for the pod list?
(load post list, doesnt seem to then request each pod metrics?)

[2020-09-19 20:18] ricoberger commented on #153
Hi @si458, no problem your input is always welcome.

In the list and details view the metrics are not refreshed, but I'm open to change this. What do you think?

[2020-09-19 20:22] si458 commented on #153
Hi @ricoberger
In my opinion, if I click refresh, I click refresh
If it auto refreshes, it auto refreshes if that makes sense?
So it should refresh the whole details/list page etc so yes it should inc refresh metrics
But maybe an option in general again to allow customisation?

[2020-09-19 20:42] ricoberger commented on #153
Makes sens for me. I enabled it for the Pod and Node metrics in the following commit: https://github.com/kubenav/kubenav/pull/191/commits/0fe0d6200ae2d860db649ec0fa8e2e4e329195f9

The build should be available here https://github.com/kubenav/kubenav/actions/runs/262968741 in some minutes.

[2020-09-21 06:55] rml1997 opened #193 "Feature request - Manual namespace input"
Okteto provide devloper namespaces, but the default namespace requests performed by the app fail.
I'd like to be able to manually specify the namespace.

[2020-09-21 08:16] ricoberger commented on #193
Hi @rml1997, you can set the namespace manually via the **Clusters** menu. In the cluster overview you can swipe the cluster name to the left and choose **Edit**. In the edit modal you then find an input field for the **Namespace**. When you have changed the namespace there you can save your changes via the **Save** button in the upper right corner.

Sorry for the lack of documentation. Once the n

[2020-09-21 10:43] si458 commented on #153
Hi @ricoberger
sorry to be a pain but the pod list refreshes aren't working again?
its doing a single run at beginning when i select a namespace and then never again?
i have confirmed this via the debug option and console window 👎

[2020-09-21 11:23] si458 opened #194 "BUG: auto-refresh bugs"
i through it was easier to open a new issue with the auto-refresh bugs i have discovered

1. if the window/app isnt in view, the auto-refresh doesnt happen, it just sits there, until you go back into view and wait the 30secs then it refreshes
2. if you go into a pod details (NOT THE LIST VIEW OF PODS BUT THE POD DETAILS PAGE)
the auto-refresh appears to be refreshing the pod list view instead of t

[2020-09-21 18:01] rml1997 commented on #193
Works a treat, thanks! I'm happy to give you a hand with the documentation when you're ready.

[2020-09-21 18:01] #193 closed

[2020-09-21 18:55] ricoberger commented on #194
Hi @si458, the background refreshing wasn't enabled, but I'm with you that this would make sense and enabled it in #195.

When you open the details view from the list view, it will refresh the list and details view. I'm not sure why this happens, but I could imagine that this is a problem how Ionic (React Router) handles the mounting/unmounting of components. I think this shouldn't be a problem, s

[2020-09-21 18:59] si458 commented on #194
Hi @ricoberger

thanks for enabling the background!

Personally I would only like the one/two requests when it's on details page of the pod but if it's too much hassle trying to track down why it's doing the list page requests as well, don't worry about it, I don't think it effects the cluster api in anyway like old wise anyways

[2020-09-21 20:02] ricoberger commented on #194
I wouldn't fix this for now, the recommended solutions like using `<Switch>` or `routerDirection="back"` from https://github.com/ionic-team/ionic-framework/issues/20597 having some other ugly side effects. I would wait until this is resolved within the Ionic framework.

[2020-09-21 20:39] #194 closed

[2020-09-23 11:33] si458 opened #196 "BUG: pod container details panel vanished?"
im trying to work out where the container details panel has vanished?
you use to be able to click the container in the pod details page
and it would show an additional panel with useful information about the pod like below:
![Screenshot 2020-09-23 at 12 27 41](https://user-images.githubusercontent.com/765314/94006943-88312580-fd98-11ea-9d32-67ade676a2a2.png)
![Screenshot 2020-09-23 at 12 28 19](ht

[2020-09-23 14:24] ricoberger commented on #196
Hi @si458, this isn't a bug. I removed the details modal to clean up the interface. I want to add it again, but currently I'm not sure what sections should be included. For now I would only add the following:

- Configuration
- Status
- Resources
- Environment Variables (not 100% sure)
- Volume Mounts (not 100% sure)

This would mean that the *Security Context*, *Liveness Probe*, *Readiness Probe*

[2020-09-23 14:26] si458 commented on #196
Hi

Personally I liked all of it

But I think the resources bit can go because it's located in the pod details page anyways (the containers list) so don't need to list it twice

[2020-09-23 17:45] ricoberger opened #197 "Roadmap"
This issue contains the roadmap for kubenav. This issue should be used for disscussions around the roadmap. If you have a feature request please open a new issue, where the new feature is described. You can also refere to one of the main topics of the roadmap which relates to your feature request.

## Security

Security is very important for kubenav. To increase the security for the mobile version

[2020-09-23 20:32] dsb3 commented on #186
Excellent! Thank you so much for the reply. I'll go ahead and close the issue.

(It seems that I only tried swipeing up, down, and right)

[2020-09-23 20:32] #186 closed

[2020-09-24 20:10] ricoberger commented on #196
Hi @si458, thanks for your input, I just removed the resources from the container details modal and replaced the security context with the startup probe. The security context was replaced by the startup probe, because I personally have to check the specification of the probe more often than the security context. I hope this is ok.

**Off topic:** I created a small roadmap for the future of kubenav

[2020-09-24 20:31] #196 closed

[2020-09-25 10:02] si458 opened #199 "feature request: hover tool tips for usage columns"
it would be nice if we could have some hover tool tips for the usage columns
currently its just in columns and you have to guess what each column means?
![Screenshot 2020-09-25 at 11 01 01](https://user-images.githubusercontent.com/765314/94254369-96a94980-ff1e-11ea-8498-990d3d6cc978.png)

[2020-09-25 18:58] #199 closed

[2020-09-25 18:59] ricoberger commented on #199
Hi @si458, I like the idea and implemented it in #200.

[2020-09-25 19:41] #174 closed

[2020-09-25 19:46] ricoberger commented on #174
Hi @si458, your contribution to kubenav is already awesome. Reporting bug, creating feature requests or improving the documentation is as much important as writing code. Thanks for all your effort.

I added the links to my GitHub Sponsors and Paypal page in #201.

[2020-09-26 08:27] si458 opened #202 "Bug: resize of terminal window on mobile doesn’t resize if open in split view"
I have spotted a bug

If i open the terminal up on my iPad, then say open my email up next to it in split view

The terminal window isn't resized, it's left huge and the text in the terminal view is cut off

I use the terminal view mainly for the logs, but have to debug our open source exchange server, side by side which cuts the text off sadly

![image](https://user-images.githubusercontent.com/7

[2020-09-26 17:52] si458 commented on #196
Hi @ricoberger
sorry to be a pain, any chance of adding back in the Security Context panel?
maybe underneath the others if next to it is too much for mobile devices?
im playing around with syslog-ng which requires the capabilities being added and its hard to see them with kubectl edit
would be nice just to see them with my eyes

[2020-09-26 22:06] ricoberger commented on #196
Hi, I'm fine with adding the security context (#205).

[2020-09-28 09:13] si458 opened #207 "Bug: scale a deployment to 0 when already 0 generates an error"
Hi,
i was playing around with stuff,
and i tried to scale a deployment to 0 when it was already in fact 0 (i didn't realize)
and i get an error on screen that makes no sense?
![Screenshot 2020-09-28 at 10 09 29](https://user-images.githubusercontent.com/765314/94413442-fdbf3c00-0172-11eb-8be7-8a5f37e2ea06.png)

[2020-09-28 10:50] si458 opened #208 "Feature Request: make the terminal/log window popout"
Hi,

I'm finding myself going back and forth between config maps, secrets and the terminal/log window

it would be amazing if the terminal/log window popped out of the app into a separate window all together!
then i can go back and forth between the configmaps, secrets, pods, etc, and still have the terminal/log window open running side by side in split screen

**i understand this wouldn't work fo

[2020-09-28 17:41] ricoberger commented on #207
Thank you for reporting the issue. This should be fixed by #209.

[2020-09-28 18:46] #207 closed

[2020-09-28 19:17] ricoberger commented on #202
Hi @si458, thank you for reporting, this should be fixed by #210.

[2020-09-28 19:25] ricoberger commented on #160
Hi @davizucon and @si458, I like the idea and would look into this as next. Before I start the implementation of this, I would clarify some more detailed questions:

1. Which items should be pinned? Should this be possible only for a specific item like a deployment in a namespace or should this also be possible for a list of deployments in a namespace?
2. Should a pinned item be bound to a cluster

[2020-09-28 19:33] si458 commented on #160
Hi @ricoberger

1. i think any items should be `bookmark-able` e.g. `deployments, pods, services` from any namespaces
2. i think a global bookmark to work across all clusters would be the simplest, as if you start going down the road of per cluster bookmarks, its a lot of configs going to need to be saved, like one per cluster

[2020-09-30 15:50] si458 opened #212 "Feature Request: an add option to each of the sections"
an ADD button would be amazing to add to each of the sections

like you already have an edit and delete buttons

to avoid any complexity of values for each section,

just a simple EDITOR would work to allow the user to write there own yaml file and add to the section in question

sort like what `kubectl apply -f myfile.yaml` does

[2020-09-30 18:50] si458 opened #213 "Bug: long pod name makes terminal/log panel unable to tab"
i have discovered a bug where if a pod container name is too long
then you are unable to close the terminal/log tab as the close button has vanished

i only discovered this because i was playing around with snapshots with ranchers [longhorn](http://github.com/longhorn/longhorn)
and when a snapshot is taken, it creates a pod with the same name as the PVC and i had to check the logs of the pod

![Sc

[2020-10-01 06:21] si458 opened #214 "bug: actions builds are being created as double zips"
it seems the actions builds are being created as double zips?

kubenav-darwin-amd64.zip.zip when downloaded
then kubenav-darwin-amd64.zip when extracted
then kubenav.app when extracted again!

[2020-10-01 16:51] ricoberger commented on #214
Hi @si458, that is correct. To make sure that the steps do not differ too much from the creating of a new release we are uploading the same zip file, as we would do for a release.

The double zips are a known problem: https://github.com/actions/upload-artifact#zipped-artifact-downloads. There is also an open issue in the repository: https://github.com/actions/upload-artifact/issues/39

I wouldn't

[2020-10-01 16:55] si458 commented on #214
ah right ok no worries, ive never used the github actions before, so didnt realise and i will close this then for you :)

[2020-10-01 16:55] #214 closed

[2020-10-01 17:15] ricoberger commented on #213
Hi @si458, thanks for the detailed bug report 🙂. This should be fixed by #215.

[2020-10-02 11:04] si458 opened #218 "Bug: scale deloyment to 0 doesnt wipe pods panel on refresh"
i have discovered another bug (sorry)
if you create a deployment with scale 1
enable auto-refresh of 30 seconds
then use kubenav to scale down the deployment to 0
when the deployment window refreshes itself,
the status information vanishes, events get updated as expected
HOWEVER the pod is still visible on the pods?
even if you click the REFRESH button manually, the pod is still visible?
the only

[2020-10-03 13:47] #160 closed

[2020-10-03 20:27] ricoberger commented on #218
Hi @si458, the problem here is that the list of Pods is only refreshed when the deployment is changed. This means, when you scale down the Deployment to 0 and the Deployment page is refreshed also the Pod list is refreshed.

Now it can happen that the Deployment status correctly shows that there should be 0 Pods, but if one of the Pods is still in a terminating state it will still be shown and not

[2020-10-03 21:04] #218 closed

[2020-10-07 08:16] si458 opened #222 "Bug: when editing a configmap on iPad, the panel isn’t resized when keyboard closed"
For some reason when I'm editing a configmap on my iPad

The view of the editor resizes as expected to fit the keyboard showing

However when the keyboard is closed the view is then stuck at the smaller height?

The pic attached shows the lines stopped at 222 when in fact the is over 600 lines in the file, the scroll view is stuck small?

You also can only scroll in the small view at the top and n

[2020-10-07 10:19] si458 opened #223 "Feature Request: new overview charts are cool, maybe show on per node too?"
the new overview charts are amazing for a quick glance of your whole cluster
could you maybe include the graphs on the per nodes pages?
when you select a node and it gives the pods details, node details etc
maybe include the graph there too but only for that node instead of the cluster?

[2020-10-08 17:23] ricoberger commented on #223
I think this is a good idea and implemented this in #224.

[2020-10-08 17:24] ricoberger commented on #222
Hi @si458, this should be fixed by #224. We have to call the resize function of the editor when the keyboard is shown or closed.

[2020-10-08 18:09] #222 closed

[2020-10-08 18:09] #223 closed

[2020-10-14 11:54] si458 opened #227 "Feature Request: add shortcut for fullscreen mode"
it would be nice to enable keyboard shortcuts to make the app fullscreen and not full screen

firefox currently have CMD+SHIFT+F on mac

also the is no option listed under the View menu bar to enter/exit fullscreen mode,

you have to click the green icon only in the title bar to enter/exit fullscreen

[2020-10-15 09:29] si458 opened #228 "Bug: its possible cluster doesnt have metrics installed"
it is possible you create a cluster without the metrics pod being created [Civo Kube100](https://www.civo.com/?ref=edf1ca)
when this happens, you get a huge gap at the top of the overview page and same in the node page too
can this be hidden if the metrics return invalid or non existent?
or maybe an option to switch the ALL metrics OFF in settings like the `enable pod metrics` ?
![Screenshot 2020-

[2020-10-15 16:36] ricoberger commented on #227
It looks like, that this feature isn't implemented in the used library: https://github.com/asticode/go-astilectron/issues/206

[2020-10-15 16:57] ricoberger commented on #228
Hi @si458, sounds like a good idea to disable the metrics, when the request fails or the pod metrics setting is disabled. It's implemented in #229.

[2020-10-15 18:15] #228 closed

[2020-10-15 18:42] si458 commented on #227
@ricoberger why not have a look at the new community driven 'capacitor electron' ?
https://github.com/capacitor-community/electron

[2020-10-15 19:48] ricoberger commented on #227
The Electron version for Capacitor was used before [version 2.0.0](https://github.com/kubenav/kubenav/releases/tag/2.0.0) of kubenav.

The problem with it was, that we had to implement each change twice: Onetime we had to implement the logic in Go and onetime in Node.js, which was not maintainable. Also the JavaScript client for Kubernetes was lacking some features during this time.

With the swit

[2020-10-15 19:51] si458 commented on #227
@ricoberger ah right ok that makes sense,
would it not be possible to convert the go into nodejs?
as i use the nodejs api without any problems since there last update
and wouldnt it also then be usable in the mobile apps too?

[2020-10-15 20:16] ricoberger commented on #227
I'm not sure if it is possible to run Node.js applications on mobile. I wouldn't switch from Go to Node.js, since I'm more experienced with Go and it would also be a lot of work.

I think the mentioned issue isn't correct anymore, the menu entry and shortcut can be activated by adding one line of code (#231). Sorry for the confusion.

[2020-10-15 20:23] #227 closed

[2020-10-16 11:41] si458 commented on #227
@ricoberger bingo! #231 was just i needed! works perfectly!

[2020-10-17 07:46] si458 opened #232 "Feature Request: extra info for pods like restart reason and time"
it would be amazing if we could see extra information in the pods section about a pod

i currently have an issue where a pod becomes unusable (due to hardware issue)
so i created a script inside it to killall if unusable then kubernetes will restart the pod itself

but using `kubectl describe pod PODNAME -n NAMESPACE` shows i can get extra information including reason for restart and time etc

sam

[2020-10-17 07:51] si458 commented on #232
IGNORE, found this information by clicking the pod name, haha! 👍

[2020-10-17 07:51] #232 closed

[2020-10-21 20:21] ricoberger commented on #212
Hi @si458, this is implemented in #234. If you want to try it out, you can use a build from https://github.com/kubenav/kubenav/actions/runs/320654971 (should be available in some minutes). Your feedback is very welcome.

[2020-10-21 21:06] si458 commented on #212
Hi @ricoberger

Will give it a try first thing in morning,

Had a quick glance at code tho on mobile

Only issue I've spotted briefly is you are creating templates based on the section you are on which is perfectly fine!

But for example the apiversion for deployments you have it set as apps/v1 but that apiversion was only introduced in Kubernetes 1.18 so the version is wrong for older Kubernetes

[2020-10-22 11:36] ricoberger commented on #212
Hi @si458 thanks for looking into it. When I get it right from https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/, the `apps/v1` API is available since version 1.9:

Currently we are only supporting one API version, which means: If a cluster doesn't support the `apps/v1` API, it is also not possible to list deployments. There is a task on the roadmap, to support multiple API versions

[2020-10-22 11:46] si458 commented on #212
Hi @ricoberger

oh ok then my mistake! ive only used 1.18 never anything lower (even tho AWS has only just released 1.18 on the EKS)

i have spotted a few things while testing now:

1. the template for deployments fails straight away
`YAMLException: bad indentation of a mapping entry at line 2, column 9: kind: Deployment ^`
it appears the formatting if wrong
[code]

2. when you first click create,

[2020-10-22 16:37] ricoberger commented on #212
Hi @si458, thanks for your feedback. The indentation should be fixed and the currently selected namespace is used now. Also the template for Pods and CronJobs was added.

Regarding your third point, I'm not sure if we want to add more fields. I think this would be a great feature, but then we should also add options for other fields like, arguments, affinity, node selectors, etc., which can become

[2020-10-22 16:40] si458 commented on #212
Hi @ricoberger

Thank you will give those a check soon

Regarding point 3 I think you are correct as I just realised I said myself in the original post that an editor of different values might get too complicated

[2020-10-23 12:48] ricoberger commented on #212
Hi @si458, thanks a lot. I would merge the current version and extend the form with some other useful features like environment variables.

I like the idea of refreshing the list view and added this functionality. The list is refreshed after the user clicked the create button, without a timeout. For me it looks like this works, so I would omit the 2 seconds timeout.

[2020-10-23 13:09] #212 closed

[2020-10-24 16:00] si458 opened #235 "BUG: namespaces arent refreshed in dropdown selector"
im having a strange one at the moment but might be a bug

1. have kubenav open
2. create a new namespace via kubectl `kubectl create ns mattermost`
3. select the dropdown in say deployments and its not listed?
4. then select say pods and select the dropdown, the namespace isnt listed there either?

only way i found to refresh the namespaces:
1. select the namespaces tab itself
2. it should show th

[2020-10-24 20:04] ricoberger commented on #235
Hi @si458, thanks for reporting this bug. The problem should be fixed by #236.

[2020-10-24 20:30] #235 closed

[2020-10-25 16:17] si458 opened #237 "BUG: click deployment and seems to show all pods?"
im having another strange issue but not sure if its the setup or the way it is?

1 master, 2 slaves, all with k3s installed

installed openebs via helm (https://github.com/openebs/charts/tree/master/charts/openebs)

go to say `openebs-apiserver` or `openebs-snapshot-operator` deployments

its then showing ALL the pods inside the openebs namespace?

even tho the is only 1 or 2 pods inside each of t

[2020-10-25 16:44] si458 opened #238 "Feature Request: list installed helm applications in cluster"
it would be amazing if we had an option down the side to list all installed helm applications on the cluster
it would be amazing if we could get both `per namespace` and `all namespaces` too

you can retrieve installed helm repos using the following api
`GET /api/v1/namespaces/NAMESPACE/secrets?labelSelector=owner%3Dhelm HTTP/1.1`
`GET /api/v1/secrets?labelSelector=owner%3Dhelm HTTP/1.1`
sample re

[2020-10-25 17:55] madeddie opened #239 "AWS SSO authentication"
When an AWS account is using SSO authentication, you either have to copy temporary credentials from a website (which also use a session token, which is not yet supported) or the app needs to be able to do the SSO auth init itself.

So, I'm asking to at the least support the session token in the authentication process.
Even better would be supporting the SSO auth flow (comparable to SAML, which I t

[2020-10-26 04:31] atn opened #240 "Feature Request: Widgets"
Add widgets for iOS to show data at a glance

[2020-10-26 06:04] ricoberger commented on #237
Hi @si458, we are using the selectors of the Deployment to get all Pods: https://github.com/kubenav/kubenav/blob/c0e109ce4e8ccacdd6c65a352b4e7888e1bab524/src/components/resources/workloads/deployments/DeploymentDetails.tsx#L90

It sounds like all Pods are matching the selector of the selected Deployment.

[2020-10-26 06:06] ricoberger commented on #240
Hi @atn, sounds like a useful feature, but I'm not sure which data would make sense for the widgets.

[2020-10-26 14:44] si458 commented on #237
Hi @ricoberger
ive just had a look myself at the web JSON requests
and yeh for some DUMB reason openebs is using two standard labels which is actually applying to ALL there containers?
but if i select say there admission-server deployment, its only then listing one pod because the labelSelector is looking for something different

[2020-10-26 21:52] ricoberger commented on #238
Hi @si458, I started working on this. Feel free to try out the new Helm Plugin with a build from https://github.com/kubenav/kubenav/actions/runs/330032058.

I would like to add the history for each Helm release and maybe the rollback function, when this can be done without to much magic.

[2020-10-26 22:16] si458 commented on #238
@ricoberger you sir are brilliant! please buy yourself a beer from me! works a treat!

it even has the values used for that helm install/upgrade which is just what im always looking for!
(i can never remember after doing a upgrade, what my old values where as i have already closed vscode and cant UNDO)

i was wondering why it was showing revision 4 and where the others where
so indeed the next sta

[2020-10-27 12:47] si458 commented on #237
Hi @ricoberger
ok after testing openebs using the yaml files instead of there helm,
the deployments are now selecting certian pods only instead of all of them
will close this issue as its an openebs issue not a kubenav issue 👍

[2020-10-27 12:47] #237 closed

[2020-10-27 19:34] #238 closed

[2020-10-27 19:35] ricoberger commented on #238
Hi @si458, thanks for your feedback. I added the correct icon and an option to show all version.

[2020-10-27 21:56] ricoberger commented on #239
Hi @madeddie, sorry I haven't that much experience with AWS. Can you maybe share the Kubeconfig file or the command which is invoked for the SSO authentication?

[2020-10-27 22:33] madeddie commented on #239
So SSO auth is more of an authentication flow, comparable like SAML auth. After authenticating a session is created with temporary credentials. See: https://aws.amazon.com/blogs/security/aws-single-sign-on-now-enables-command-line-interface-access-for-aws-accounts-using-corporate-credentials/

These days AWS SSO is directly supported in awscli, so you don't have to copy/paste the credentials from

[2020-10-27 22:58] si458 opened #242 "Bug: click open on port foward opens in app on mobile"
I've just got myself a new samsung android tablet and noticed this weird bug
I click a service to start a port forward and then click open
I expected it to pop up my browser selector or open my default browser to the url
But instead it just opens the url directly inside the kubenav app?
So the app is then useless? And you need to fully close the app and reopen it to get the app back
On another not

[2020-10-27 23:30] madeddie commented on #239
The kubeconfig is not quite useful, since it looks the same as when I use IAM tokens. AWS CLI is used to generate a kubernetes api token.

[2020-10-28 01:26] atn commented on #240
Probably CPU usage, memory usage, maybe some graphs etc.

[2020-10-28 08:56] si458 commented on #240
@atn ill chime in here too,
the overview graphs that's released in the latest beta would be amazing for the widgets!
also maybe widgets for android home screen too?
i think the widgets for ionic/capacitor is currently in beta
(https://forum.ionicframework.com/t/ios-14-widget-support/198285)

[2020-10-28 09:19] si458 opened #243 "Bug: bug with selecting revision in helm"
i have just noticed a bug with the history part of the new helm page
a helm chart is listed with only 1 revision
it then loads up that history table, and shows 1 as expected, but the number 1 in the table is clickable
if you click it, nothing happens, so end user (myself) keeps clicking it, nothing happens
BUT if you then click the back button, you are forever clicking the back button to come out

[2020-10-28 17:18] #243 closed

[2020-10-28 17:19] ricoberger commented on #243
Hi @si458, yeah thats weird and should be fixed by the mentioned commit.

[2020-10-28 18:31] ricoberger commented on #239
Hi @madeddie, I added an optional field for the session token, which is included in the [latest release](https://github.com/kubenav/kubenav/releases/tag/3.1.0). The iOS and Android version should be available within the next days.

Your feedback for this would be really helpful, since I'm currently not able to test this in a proper way.

[2020-10-28 19:10] madeddie commented on #239
Cool, that gets me 70% of the way, it'll be functional right away. Thanks!

I'll work on the SSO flow and update here.

[2020-10-28 23:50] madeddie commented on #239
Very high level the flow is:

- Register a client (device or app)
- Start authentication flow, which returns a URL to open in a browser to authenticate with the actual authentication source, either AWS or Active Directory, Okta, etc
- Retrieve SSO device token
- Use SSO device token to retrieve role credentials

[code]

[2020-10-29 00:24] madeddie commented on #239
@ricoberger I tried the new release on my phone and I get a 403 error after filling in my credentials, but in AVD on my Macbook it works fine, so I'll uninstall and clear and try again on my phone.

[2020-10-29 00:42] madeddie commented on #239
Weird, but I cleared all data, uninstalled and reinstalled, no dice. Uninstalled and installed the debug apk built on my mac. And it worked. Not quite sure what's happening.
Using a Android Pixel 3 with newest firmware btw.

[2020-10-29 01:10] madeddie commented on #239
![Screenshot_20201028-210948.png](https://user-images.githubusercontent.com/140660/97513207-023d6700-1962-11eb-83a3-98dd80d45fa1.png)

[2020-10-29 08:20] si458 commented on #239
@madeddie @ricoberger only pushed the update for mobile yesterday
It should be on the app stores in a few days time

[2020-10-29 10:58] madeddie commented on #239
Right, I see the optional session token field already though, and the version the play store gives me is 3.1.0.

[2020-10-29 15:44] si458 opened #244 "BUG: big charts on large tablet"
Just updated the app on my new samsung galaxy tab s6 lite
And the charts that load up are huge!
Also they are one per line?
Its on both the overview pages and the node pages
Any chance of changing the size of them?
![Screenshot_20201029-153928_kubenav.jpg](https://user-images.githubusercontent.com/765314/97597299-96104100-19fd-11eb-8afd-0239e373f83b.jpg)

[2020-10-29 17:17] ricoberger commented on #239
Hi @madeddie, thanks for the detailed explanation of the SSO flow.

I'm sorry that the session token doesn't work in the latest version, there were some fuck up in the gomobile build for the latest commit https://github.com/kubenav/kubenav/commit/412ce9f1b2413e6e3c708c9b122ae2882740a11a.

[2020-10-29 17:26] ricoberger commented on #244
I think I wouldn't change it, when we change the size of the column it will look like the following, which is also not perfect. What do you think?

![ipad](https://user-images.githubusercontent.com/18552168/97609736-438e4f00-1a14-11eb-916f-b0e4e8aa5f3c.png)

[2020-10-29 17:43] si458 commented on #244
Hmm yeah I think ur right actually leave it as it is

The 3 column looks nicer as it matches the desktop version
But at the same time it does looked crammed by the text

Plus the landscape view has the three side by side anyways
Its only the portrait view that has them underneath one another like the mobile versions

[2020-10-29 17:43] #244 closed

[2020-10-29 20:29] #242 closed

[2020-10-29 20:30] ricoberger commented on #242
Hi @si458, thanks for reporting. The bug should be fixed by the linked commit.

[2020-10-29 20:35] si458 commented on #242
Brilliant thanks can't wait for next update / Beta update

[2020-10-30 16:00] madeddie commented on #239
@ricoberger so it's correct the current release in the Google Play Store doesn't work with SessionToken? Or am I misreading your comment?

[2020-10-30 16:32] ricoberger commented on #239
@madeddie you are correct, the current release in the Google Play Store doesn't work with session tokens.

I will try to get SSO working for my AWS account and maybe I can made some progress on this. On Sunday I will submit a new beta version were session tokens should work and maybe also with a first implementation for SSO, when I can make some progress there.

[2020-10-30 16:45] madeddie commented on #239
Cool! Thank you.
Purely for session token you don't need sso, you can use aws sts to generate session credentials.

But if you'll be working on sso, sure by all means. Let me know if you need help with that, I've found sso configuration a bit weird compared to IAM.

Also I could give you some access to my AWS account to test.

[2020-10-31 06:09] DP19 opened #245 "kubenav doesn’t show all helm releases"
We have around 90+ helm releases in one of our clusters in a single namespace. It's currently only showing around 20. I can see releases with the names starting from a to b but nothing else shows up.

[2020-10-31 21:13] ricoberger commented on #239
Hi @madeddie, thank you for the offer. I started working on the SSO support in PR #246 and made some good progress there.

The only thing I'm wondering about is the expiry date of the different credentials:

- The created client (client id, client secret, and so on) is valid for several weeks
- The device code is valid for 10 minutes
- The access token which is used for the credentials is valid fo

[2020-10-31 21:26] ricoberger commented on #245
Hi @DP19, thanks for reporting the issue. Currently the number shown Helm releases is limit to 100: https://github.com/kubenav/kubenav/blob/0e6eec6214e52ec69e67125823be7168c619b53f/src/components/plugins/helm/ReleasesPage.tsx#L59

Do you have enabled the **All Versions** option or does the problem also occurs when only the last version of each Helm release is shown?

[2020-10-31 21:43] madeddie commented on #239
Hi @ricoberger , indeed the user has to go through authentication (go to the web url) every time the sso access token expires.
This is a bit annoying of SSO (AWS is working on a refresh work flow, but that'll take a while). The access token can be set to expire every 12 hours (in the AWS SSO console), but that's as long as it can be.

That's why having the SSO flow in kubenav would be good, it wou

[2020-11-01 03:12] DP19 commented on #245
It happens with both, even though it's grouping them it still shows only the same subset of releases

[2020-11-01 10:34] si458 commented on #245
@DP19 i think the 100 limit is just for performance issues as at times I have abit of sluggishness when it tried to show all and I only have about 10 helm releases over my 20 namespaces

It's also annoying as the api returns all revisions and also extra huge data embedded in base64 which has to be discarded but can't be discarded before

[2020-11-01 15:37] #239 closed

[2020-11-01 15:40] ricoberger commented on #239
Hi @madeddie, I will submit a new beta version for Apple Testflight (https://testflight.apple.com/join/RQUFGkHi) and Google Play (https://play.google.com/apps/testing/io.kubenav.kubenav)  today. Your feedback for the AWS SSO authentication would be really helpful.

[2020-11-01 18:27] #245 closed

[2020-11-01 18:31] ricoberger commented on #245
Hi @DP19, I will submit a new beta version for Apple Testflight (https://testflight.apple.com/join/RQUFGkHi) and Google Play (https://play.google.com/apps/testing/io.kubenav.kubenav) today. The new beta version contains a new setting called **Limit**, which can be increased to 1000 items. This should be enough to fetch all Helm releases in for the most cases.

As @si458 mentioned, there is no way

[2020-11-01 19:20] si458 commented on #245
@ricoberger just read up on the kubernetes API, they suggest
`clients may request the more efficient Protobuf representation of these objects for better performance at scale`
(https://kubernetes.io/docs/reference/using-api/api-concepts/#alternate-representations-of-resources)
they have a node plugin for it (https://www.npmjs.com/package/protobufjs)
have you tried this to see if the helm releases d

[2020-11-01 21:08] ricoberger commented on #245
Hi @si458, yes Protobuf would be an improvement, but this would also mean a lot of rework. The most expensive operations are within the frontend, since we have to decode each Helm release.

[2020-11-01 22:17] si458 commented on #245
@ricoberger is it pretty stupid that helm base encode the data which needs decoding but then also compresses the data which needs uncompressing, its a waste of time and cpu
would it be possible to maybe use Protobuf just for the helm and worry about the other stuff layer?
it only requires adding the accept into the header, and then other steps to decode/convert the data?

[2020-11-02 09:52] si458 commented on #245
@ricoberger the nightly build failed so unable to test the new app of osx

[2020-11-02 10:02] si458 opened #248 "Feature Request: filter events"
it would be amazing if you could filter in the events tab

for example, ive spotted this morning in the overview warnings for `SystemOOM` and `Unhealthy`
(node had got confused during the night it seems)
so i went into the events tab, and selected all namespaces so i could work out which namespace it was that killed a process
but its currently listing everything and having to scroll just looking W

[2020-11-02 21:52] ricoberger commented on #248
Hi @si458, the search only filters for the title of the event at the moment. I'm not sure if we should implement a filter or if we rework the search for events to include other fields like the message, reason and type. What do you think?

I also want to rework the events list, to be similar as the events list in the overview. So that the title will be the involved object and the paragraph below th

[2020-11-02 21:54] ricoberger commented on #245
I rerun the nightly build.

Sorry currently I wouldn't invest the time into switching to Protobuf, also not only for the Helm releases since they are using the same API calls as all other resources.

[2020-11-03 19:14] madeddie commented on #239
@ricoberger, I've just tested the beta version sso flow, I think the idea is correct, but when I click verify and continue the flow in the browser and then return, kubenav has forgotten its state and I have to start over. The auth flow never finishes in kubenav.

I'll add some screenshots to this issue in a couple of minutes, but if you'd like me to open a new issue, let me know.

[2020-11-03 20:13] madeddie commented on #239
I was mistaken. I rebooted my Android phone, since I didn't remember the state loss from testing the SessionToken flow. That solved the loss of state on app switch.

It works!

Are you planning on adding a flow to choose account and role? In case you are not, then having the form fail on missing account and/or role at the start would be good UX.

Also are you planning on some flow where a cluster

[2020-11-03 21:10] ricoberger commented on #239
Hi @madeddie, thanks for your feedback. Currently it isn't planed to add a flow, were the user can choose the account and role. Maybe we can add this later or you want to create a PR for this. I think we have to break the flow here: https://github.com/kubenav/kubenav/blob/8daf9d88c04f340cb7759274ff97bc44a33de745/pkg/api/aws.go#L275 and use the access token to get all accounts and roles for the use

[2020-11-05 09:04] si458 commented on #248
Hi @ricoberger forgive delay
its up to yourself really as your coding hehe,
if its easier to just change the search to search all bits of text (message, reason and type) do that
or if its easier to add in an drop down to filter the type (warning, error, ok)

[2020-11-05 20:47] #248 closed

[2020-11-05 20:49] ricoberger commented on #248
Hi @si458, I merged a PR which should improve the handling of events. The build to test this can be found here: https://github.com/kubenav/kubenav/actions/runs/348249323

[2020-11-06 11:59] si458 opened #250 "Bug: edit option showing wrong yaml?"
i have just spotted a bug but it only happens in a certain order?

create clean 3 node cluster and deploy say kubenav inside your cluster using helm

1. open kubenav
2. open services
3. select kubenav from namespace selector in services
4. click kubenav service then 3 dots and click edit
5. it shows the service yaml as expected!
6. close the editor window (not save button but X button)
7. go to de

[2020-11-06 12:01] si458 opened #251 "Bug: blank white screen after selecting service, deployment then service again"
following on from #250

you can also produce a blank white screen which happens on all devices (web, mobile, app)

create clean 3 node cluster and deploy say kubenav inside your cluster using helm

1. open kubenav
2. open services
3. select kubenav from namespace selector in services
4. click kubenav service then 3 dots and click edit
5. it shows the service yaml as expected!
6. close the editor w

[2020-11-06 17:05] #250 closed

[2020-11-06 17:06] ricoberger commented on #250
Hi @si458, thanks for reporting this should be fixed by the mentioned commit.

[2020-11-06 17:34] #251 closed

[2020-11-06 17:35] ricoberger commented on #251
Hi @si458, thanks for reporting. The issue was related to some wrong caching keys and should be fixed now.

[2020-11-08 10:48] si458 opened #254 "Bug: all namespaces arent grouping namespaces together"
it would be nice if we could group the namespaces together when they get returned when using the `all namespaces` option

currently if i select say pods then select all namespaces, as you scroll down the list you can see nothing is grouped together
they are just all over the place

screenshot ive attached shows an example, longhorn-system and metallb-system pods but they arent grouped together
![S

[2020-11-08 15:49] ricoberger commented on #254
Hi @si458, thanks for reporting. I think this is a bug, normally everything should be grouped by namespaces. Unfortunately I wasn't able to reproduce this for now. Which version are you using?

[2020-11-08 15:58] si458 commented on #254
Hi @ricoberger im using the latest automated build from last night

from the looks of it, when kubenav does an API request,
it returns the items as expected in an array,
but im guessing kubenav is just looping each item and displaying them,
rather than re-organizing them into namespaces using the `metadata->namespace` and then displaying them

this actually happens on a few tabs (pods, pvc, servic

[2020-11-08 16:15] si458 commented on #254
i think ive narrowed it down to the map function in the list page
https://github.com/kubenav/kubenav/blob/57bc15dc9bb9a8f055eb42b0e5aaf9c41363d25c/src/components/resources/ListPage.tsx#L157-L187

[2020-11-08 20:45] si458 opened #255 "Bug: new authentication plugin has no fallover/retry option"
just found a bug with the new authentication plugin, tested on ios
1. tick box in general for authentication
2. close app then reopen app
3. click cancel, the app is then frozen and you cant do anything

ALSO
1. tick box in general for authentication
2. close app then reopen app
3. try wrong fingerprint 3 times, app then asks for your passcode of your device
4. click cancel and again the app is fr

[2020-11-09 18:12] ricoberger commented on #254
Hi @si458, normally all items returned by the Kubernetes API should be ordered by namespace, so that we can just loop over them. Manual sorting of the items is currently not possible, because we are relying on React Query for infinite scrolling.

Maybe it is related to a never Kubernetes version, which version you are using?

[2020-11-09 18:14] si458 commented on #254
Hi @ricoberger
I'm using k3s latest 1.18.10 I believe but it's defo returning stuff out of order from the api?

[2020-11-09 19:12] si458 commented on #254
Hi @ricoberger
ok it appears the sort feature is client side not server side
ran this command and it sorts it
but looking at the API results with my proxy, its not sorting them on the server but the client side itself...
[code]

[2020-11-09 21:41] #255 closed

[2020-11-09 21:43] ricoberger commented on #255
Hi @si458, this was by design. I adjusted it a bit to have a **Sign In** button, which should be more user friendly.

[2020-11-09 21:45] si458 commented on #255
Hi @ricoberger brilliant thanks! looking forward to new beta test again hehe
it was more annoying that i had to close the app to then reopen it just to try again,
where as most apps i have authentication on,
they have a retry button or a passcode that was set in the app as a fallover method

[2020-11-10 17:09] ricoberger commented on #254
Hi @si458, since there is no server side ordering at all, it normally should be ordered alphabetical (I only found the following message on Reddit regarding this https://www.reddit.com/r/kubernetes/comments/b6x6sb/default_sorting_when_getting_resources_with/).

Currently I haven't planned to implement any client side ordering, so I would close this as won't fix. Maybe I can look into this in the f

[2020-11-10 17:10] #254 closed

[2020-11-10 17:13] ricoberger commented on #29
Hi @AmazingTurtle and @si458. I'm sorry, but the effort to implement this, without adding any side effects is not realistic at the moment. I would close this issue as won't fix for now, but I'm open to accept PRs, when someone founds a good solution.

[2020-11-10 17:13] #29 closed

[2020-11-12 09:37] guyguy333 opened #257 "Computer restart results in Electron window"
Hello,

When you restart computer on macOS, kubenav starts automatically if it was previously opened before restart. However, you get this window instead of kubenav.

<img width="902" alt="Screenshot 2020-11-12 at 10 33 38" src="https://user-images.githubusercontent.com/4040959/98922705-11c8be00-24d3-11eb-9f1f-a1b6513b50d7.png">

Thanks

[2020-11-12 10:02] si458 commented on #257
Hi
I have noticed this as well but i tend to just close it and reopen it
Mine happens when my laptop crashes and auto restarts and auto logs in
Simon

[2020-11-15 17:32] ricoberger commented on #190
This is fixed in Safari Version 14.0.1 (15610.2.11.51.10, 15610).

[2020-11-15 17:32] #190 closed

[2020-11-16 18:23] ricoberger commented on #257
Hi @guyguy333 and @si458, thanks for reporting. I have no idea, whats going wrong here, but I opened an issue in the go-astilectron project, which we are using for the Electron implementation: https://github.com/asticode/go-astilectron/issues/292

[2020-11-19 12:33] core-code opened #260 "kubenav does not have version numbers on macOS"
i've downloaded version 3.0 but when selecting it in the macOS Finder it doesn't have any version number

both the  CFBundleShortVersionString and the CFBundleVersion entries in your Info.plist file are missing

this is a regression, the 1.4.x releases did have version numbers just fine

<img width="377" alt="Screenshot 2020-11-19 at 13 32 25" src="https://user-images.githubusercontent.com/1261954

[2020-11-19 12:38] si458 commented on #260
i confirm this, also on version 3.1.0
it has no affect really, the app still works fine,
you just dont know what version you have without running the app then going into info under settings and checking there

[2020-11-19 12:40] core-code commented on #260
it is still a bug
• if multiple versions are installed macOS won't be able to determine the newest one
• third party updaters won't be able to detect the app

[2020-11-19 20:36] #260 closed

[2020-11-19 20:37] ricoberger commented on #260
Hi @core-code, thanks for reporting the issue. This should be fixed by #261, you can try it out with the latest build from the PR: https://github.com/kubenav/kubenav/actions/runs/373001690

[2020-11-19 21:05] core-code commented on #260
awesome, thanks! i can confirm that the linked build already has version numbers again

[2020-11-29 09:27] si458 opened #263 "Bug: android in landscape mode hides login button"
When starting the app on my android tablet in landscape mode
The sign in button when I have authentication enabled is hidden
You have to scroll down to find the button
Can it be moved to the middle of the screen?
![Screenshot_20201129-092421_kubenav.jpg](https://user-images.githubusercontent.com/765314/100538141-b5310700-3225-11eb-925a-8ec1deb49187.jpg)

[2020-11-29 09:29] si458 opened #264 "Bug: authentication enabled still requires clicking sign in to open prompt"
Would it be possible to automatically click the sign in button when the app starts?
Its nice having the authentication but it requires you to click the sign in button
instead of like other apps where it automatically starts the authentication process when the app opens

[2020-11-30 03:37] songhanpoo opened #265 ""Esc" not work with shell"
Hi Team !

this key "`~" on my ipad can't work with your shell when execute into pod.

i have modifier this key change to "Esc" but when i used then cancel modal shell.

Thanks

[2020-11-30 21:54] #265 closed

[2020-11-30 21:56] ricoberger commented on #265
Hi @songhanpoo,

thanks for reporting the issue. I added a fix (https://github.com/kubenav/kubenav/commit/42dd9ff3b09a6aa944454db025cf8975ad1457c4), so that the modal for terminals and logs isn't closed with the ESC character.

[2020-12-01 17:07] tkrause opened #267 "Unexpected JSON error when logging in with GKE on Android"
After configuring the credentials as specified in the instructions, I'm receiving a "Could not load GKE clusters. Unexpected token } in JSON at position 3" error.

The OAuth configuration has been checked multiple times against the instructions to confirm it is correct.

Is this a bug or are the instructions outdated?

[2020-12-01 18:13] tkrause commented on #267
Something to note is that the listed SHA1 fingerprint said it was taken so I changed it.

However, my guess is this is part of the issue. This is what the instructions say to do though.

Any help would be appreciated as this looks like an awesome tool.

[2020-12-01 20:52] ricoberger commented on #267
Hi @tkrause, sorry for the issue. I think you did everything right, but there is a bug in the redirect handling for Google and OIDC. This should be fixed by #268.

I will submit a new version as fast as possible. Until the new version is available, you could try to add the cluster via a Service Account, like it is described here: https://github.com/kubenav/kubenav/issues/14#issuecomment-578434342

[2020-12-01 21:33] ricoberger commented on #263
Hi @si458, thanks for reporting. This should be fixed by #269.

[2020-12-01 21:33] ricoberger commented on #264
Hi @si458, you are right, it is better to automatically start the unlock process. This is fixed by #269.

[2020-12-02 07:17] #263 closed

[2020-12-02 07:17] #264 closed

[2020-12-02 07:32] #267 closed

[2020-12-07 12:18] si458 opened #272 "Feature: filter services (loadbalancer, clusterip, etc)"
it would be nice to have a filter option in the services list
Im playing around with loadbalancer and sharing them etc using metallb
so im always looking at all my services in all my namespaces
but then i want to quickly filter and only show the loadbalancer services,
but this is currently not possible

[2020-12-08 18:44] ricoberger commented on #272
Hi @si458, I extended the search function, so that is also possible to filter for the type of a service.

I tried to make it possible to filter for different fields, for example the search term for a service of type loadbalancer looks as follows:

[code]

If you want you can try it out with the build from here: https://github.com/kubenav/kubenav/actions/runs/408853390. I would wait some days befor

[2020-12-08 18:46] si458 commented on #272
Hi @ricoberge, sure ill do some testing and let you know in a few days
ill also try do a PR for docs too to include this to help others out

[2020-12-08 19:31] si458 commented on #272
hmmm... some querys dont seem to be working?
[code]
i would need to use these querys to list all services which use the fixed ip address set by metallb for example

[2020-12-08 21:32] ricoberger commented on #272
Mh I do not have a service with the `loadBalancerIP` and just tested it with the `clusterIP`. Can you check if the the *Load Balancer IP* is shown in the details view of the service under status, please?

[2020-12-08 21:42] si458 commented on #272
It does indeed contain the value - https://pastebin.com/raw/7fT2sReL

[2020-12-09 18:52] ricoberger commented on #272
Hi @si458, I tried it with your file and could not reproduce the issue:

![Bildschirmfoto 2020-12-09 um 19 49 23](https://user-images.githubusercontent.com/18552168/101673705-cbc23400-3a57-11eb-9fd5-0aa4ec8fb793.png)

Could you start kubenav with the `--debug` flag and check the networking tab, if the field is present in the returned data for the API call?

[2020-12-09 18:54] si458 commented on #272
Hi @ricoberger
I already used the debug before responding...
The reply does include the value spec.loadbalancerip on the services that have it
Is it maybe because some have the value and some don't have the value?

[2020-12-09 19:27] ricoberger commented on #272
Good hint, but it looks like this isn't the issue 😕. Are the other examples working, like `$.spec.type: LoadBalancer`?

Maybe it's also related to the infinite scrolling. The filter is only applied for items, which are already loaded. But since you already saw the request with which contains the service this is also a bit unlikely.

I have no idea, what the problem can be. Maybe you can clone the

[2020-12-09 20:02] si458 commented on #272
Hi @ricoberger,
ok so `$.spec.clusterIP: 10.43.246`  works as you suggested (missing a digit, as it shows any services within that range)
same with `$.spec.type: LoadBalancer`
so im totally confused why the `$.spec.LoadBalancerIP` isnt working then?

[2020-12-09 20:07] si458 commented on #272
Hi @ricoberger,
OMG its now working with the latest commit you have done,
i have also spotted its casesensitive!?
`$.spec.loadBalancerIP: 192.168.168.172` WORKS
`$.spec.loadbalancerip: 192.168.168.172` DOESNT WORK

[2020-12-09 20:19] ricoberger commented on #272
Nice 🙂.

I think this isn't possible, since we are selecting the field with `obj[field]`, where the entered field must be the exact same as the field in the object.

[2020-12-09 20:42] #272 closed

[2020-12-12 10:57] si458 opened #274 "Bug: overview page blank if no cluster connection"
It would be nice to have the overview page display a messaging saying something like 'cluster unavailable' when you can't access the cluster

My k3s is behind a firewall and only accessible via my vpn not externally

But when I connect directly from my mob and forget to enable my vpn, the overview page just shows blank and I'm not sure if it's still connecting or failing?

It's only when you selec

[2020-12-13 00:55] kferrone opened #275 "unexpected end of json input"
I can no longer import my k3s cluster. It used to work, now it just tells me
[code]
This is a k3s cluster v1.19
Seems I have the latest version of the android app too.

[2020-12-13 08:26] si458 commented on #275
Can you please share ur yaml config file?
As I have no issues here with a k3s 1.19 cluster?

[2020-12-13 18:30] #274 closed

[2020-12-17 08:49] zoic21 opened #278 "Issue with prometheus configuration"
Hello,

I recently deploy prometheus on my cluster :

`helm install prometheus --namespace monitoring stable/prometheus -f prometheus.yaml`

With juste that on `prometheus.yaml` :

[code]

Prometheus is ok I can get data into grafana or lens but not into kubenav. I got `context deadline exceeded`. On kubenav prometheus configuration I do :

- namespace : `monitoring`
- selector : `component=server

[2020-12-17 19:12] ricoberger commented on #278
Hi @zoic21, thanks for reporting. Could you try the following please:

- Increase the **Request Timeout (in seconds)**, which can be found at the top of *Settings* -> *General*
- Could you run the following Prometheus query `sum(container_cpu_usage_seconds_total) by (job)`, we are setting the `job` label to `kubelet`. I saw during testing, that this could be different.

[2020-12-17 19:13] ricoberger commented on #275
Hi @kferrone, is there any update, regarding your issue?

[2020-12-17 19:20] kferrone commented on #275
Still won't work for me, same error.

Here is the config I got from k3s when I installed it, with secrets omitted of course:
[code]

I just copied from the main node after k3s finished installing, then pasted it into Google Drive so I could access from my Android Device.

[2020-12-17 19:23] si458 commented on #275
@kferrone is this a fresh install? ive never seen k3s use certs to login before?
all my clusters use user/pass method?
also my config is similar but the server url was `http://localhost:6443` which i had to change to `http://myserverip:6443`

[2020-12-17 19:38] kferrone commented on #275
The certs just recently started happening. I rebuilt my cluster from scratch about two weeks ago and I noticed it uses certs now.
I did just find the problem though. I have Google Fi for my cell provider. When you use a Google made phone like Pixel they give you access to their Google Fi VPN. I simply turned off the VPN and it started working. I'm guessing I used an IP address before instead of th

[2020-12-17 20:53] ricoberger commented on #275
I would close the issue then. If you come encounter other issues, feel free to create a new issue.

[2020-12-17 20:53] #275 closed

[2020-12-18 08:31] zoic21 commented on #278
Hello,
Thank for your reply. I try :
- Increase timeout : same issue
- I run query it's ok :
![image](https://user-images.githubusercontent.com/1536036/102592299-8ff03400-4113-11eb-91b1-35f02e8f6aa2.png)

I try to play url request error on prometheus (`/api/v1/series?end=2020-12-18T07:13:51Z&match[]=kube_pod_container_info{namespace=%22monitoring%22,pod=%22elasticsearch-master-1%22}&start=2020-12-

[2020-12-18 16:06] ricoberger commented on #278
Hi @zoic21, it looks like the problem is `job` label. kubenav uses `kubelet` for these metrics, but in your setup the label is `kubernetes-nodes-cadvisior`.

I will remove the job label from the queries and submit a new beta version. I let you know, when the new beta version is available in the stores.

[2020-12-18 23:05] #278 closed

[2020-12-18 23:06] ricoberger commented on #278
I merged the fix, you can already try the desktop version from here: https://github.com/kubenav/kubenav/actions/runs/431490062

If you still have problems with the Prometheus metrics, please let me know.

[2020-12-19 09:21] si458 opened #282 "Feature: create arm and arm64 builds"
It would be nice to have arm and arm64 builds of the app

I no the is arm builds of it in docker but I'm talking about the electron version

I have k3s running on a pi in Debian desktop and would love a gui that runs as an app rather than in browser

[2020-12-19 13:17] si458 opened #284 "bug: weird port forward delay with firefox"
I'm having a strange one with firefox and port-forwarding?
`Mac 10.15.7, Kubenav 3.2.1, K3S 1.18.10, Firefox 84.0`
1. setup port-forwarding on a pod `phpmyadmin` for example
2. click open and firefox then opens but the webpage just sits there and never seems to load up the page?
3. copy the url and open in a new tab but again same thing? just sits there never loads?
4. copy the url and pasted it i

[2020-12-20 08:49] balibebas commented on #197
For Plugins I'd like to leverage existing metrics from the `lens-metrics` namespace created when [configuring Lens](https://habd.as/post/lens-app-primer-kubernetes-k3s/#configure-lens). This could also help power a more shiek dashboard leveraging Lens' Electron UI components. Does that feel like a possible Roadmap item short- or long-term?

[2020-12-20 13:23] ricoberger commented on #284
Hi @si458, I tested it with Firefox and it looks like the first page load takes very long (> 1m).

I'm not sure, if this is really a problem with kubenav, because it isn't reproducible with Safari or Chrome. I'm not a Firefox user so I do not know if this could be related to some settings in Firefox.

[2020-12-20 13:25] si458 commented on #284
Hi @ricoberger
At least it's not just me then having this issue!
Glad your able to replicate it!
It is indeed very strange?
I've googled so much but not having much luck?

[2020-12-20 15:08] si458 commented on #284
@ricoberger i might of found the issue
its due to ipv6 (even tho i dont use it) https://support.mozilla.org/en-US/questions/1011967#answer-608219
when you start a port forward the following ports are visible
[code]
when you try connecting with firefox it doesnt work but shows the connections to the ipv4 address
[code]
when you then try going to the port using chrome which works, suddenly the ipv4

[2020-12-20 15:11] si458 commented on #284
@ricoberger ive also verified with just using chrome and not firefox
start the portforward
[code]
then access port using chrome
[code]
the ipv4 listen vanishes or crashing and firefox works no problem

[2020-12-20 16:27] ricoberger commented on #282
Hi @si458, I created a PR (#286) to add support for arm and arm64. Unfortunately I do not have an device to test it at the moment.

Could you test the builds from the GitHub Action (https://github.com/kubenav/kubenav/actions/runs/434112838) and verify that everything is working?

[2020-12-20 16:49] ricoberger commented on #284
Hi @si458, very nice finding, thank you. The problem shouldn't occur, when you specify a port in the port forwarding request.

I also created a PR (#287) to fix the bug, when a random port ist used for the port forwarding.

[2020-12-20 17:27] si458 commented on #284
Hi @ricoberger
Mad enough if you specify a port you don't have the issue,
It's only a random port you have the issue as you said,
Glad I helped track down a bug!

[2020-12-20 17:52] #284 closed

[2020-12-20 22:10] ricoberger commented on #197
Hi @balibebas, I tested the Lens setup and if I'm correct they are installing Prometheus into the `lens-metrics` namespace. Prometheus can already be used with kubenav. The documentation for the Prometheus plugin can be found here: https://docs.kubenav.io/plugins/prometheus/.

To use the Prometheus instance shipped with Lens, you have to set the namespace to `lens-metrics` and the selector to `nam

[2020-12-20 22:11] si458 commented on #282
Hi @ricoberger
well ive tested it on my old raspberry pi 3b, and it did indeed run once, but then randomly crashed?
and ive not been able to get it to run again?
[code]
it might be because the pi is SLOW and using its SD card instead of an external hdd drive

another weird thing i spotted was when i run it with `./kubenav`
suddenly 2 folders appeared in the same folder as the app `resources` and `

[2020-12-21 07:51] zoic21 commented on #278
Perfect I update on android with new beta and it's work.

Thank a lot

[2020-12-21 09:40] ricoberger commented on #278
Thanks for testing 🙂

[2020-12-24 12:41] anthosz opened #290 "Unable to connect to node (failed to find pem in certificate input)"
Hello

I cannot connect to kubernetes node due to this issue :
![Screenshot_20201224_132853_io kubenav kubenav](https://user-images.githubusercontent.com/14294064/103088792-3b095d80-45ec-11eb-9377-f57083ec070e.jpg)

Copied from ~/.kube/config:
Certificate-authority-data: xx
Server: xxx
client-certificate-data: xxxx
client-key-data: xxxx

If I try to enable insecure tls + CA data = not works if CA

[2020-12-24 12:48] si458 commented on #290
To remove a cluster you swipe left on the row and it reveals options

Also can you show us ur cluster config file if possible?

[2020-12-24 14:13] anthosz commented on #290
Thx for the swap, it works!

Concerning cluster config (I use manual mode and not config file mode (json issue)):
`apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: xxxxxxx==
    server: https://xxxxxx:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kin

[2020-12-24 22:15] ricoberger commented on #290
Hi @anthosz, could you check that there isn't an additional newline character at the end of the entered certificate-authority-data, client-certificate-data and client-key-data please.

[2020-12-25 15:09] anthosz commented on #290
Hi @ricoberger

I confirm that there are no additional newline character.

![Screenshot_20201225_160716_io kubenav kubenav](https://user-images.githubusercontent.com/14294064/103137712-8a728b00-46cb-11eb-9721-f5fa7b697685.png)

[2020-12-25 18:49] ricoberger commented on #290
Thanks for checking. I tested the manual cluster configuration via minikube, so I think the problem is within the provided certificates. Could you try the following:

1. Use the [desktop version](https://github.com/kubenav/kubenav/releases/tag/3.2.1) and check if it working with you kubeconfig file. It will automatically load your config from `~/.kube/config`.
2. [Edit the cluster](https://docs.ku

[2020-12-25 23:18] anthosz commented on #290
@ricoberger,

Thank you for your feedback.

Currently, I have only a 32bits laptop available so I cannot execute the kubenav binary. I tried also via x forwarding and it doesn't works due to other constraint on my side.

So I tried to copy paste from ~/.kube/config and adding the --- BEGIN/END but same issue.

I tried the same but with a mix of /etc/kubelet/kubelet.conf & /var/lib/kubelet/pki/* an

[2020-12-25 23:27] anthosz commented on #290
Finally, it works!

- I copied the .kube/config in my smartphone and created a new config in kubenav via kubeconfig = WORKS
- After diff with previous config:
- My issue was due to the fact that connectbot add separate newline in the content of certificates
- BEGIN/END are not needed

Thank you!

[2020-12-25 23:27] #290 closed

[2020-12-26 09:30] si458 opened #291 "BUG: unable to run latest schedule builds as REQUIRES Mac 11"
ive woke up this morning and decided to try the latest daily schedule build but i am unable to run it

it seems the build has LOCKED to REQUIRING Mac 11

im still using Catalina 10.15.7 and i REFUSE to upgrade to Mac 11 due to horrible bug issues/incompatible software!

please can you revert the schedule build to support old versions of OSX

this will also cause problems in the future as all new r

[2020-12-26 13:44] si458 commented on #291
#292 should fix the issue 👍

[2020-12-26 18:58] ricoberger commented on #291
Fixed by #292.

[2020-12-26 18:58] #291 closed

[2020-12-26 19:39] ricoberger commented on #282
Hi @si458, thanks for testing. The two folders, which are created are normal for the Linux version.

I also ask a colleague to test it and like you said it seems to be "just" a memory issue. I would merge the PR for now, since we can not do much regarding the memory usage.

[2020-12-26 19:39] #282 closed

[2020-12-28 09:59] si458 opened #293 "BUG: can’t scroll info panel on iOS"
I'm having a strange bug where if you go to the info page on iOS and then try to scroll you can't scroll?

So you can't get to the information bit at the bottom?

A few things I've spotted too:

1. If you turn your iPhone into landscape and it then scrolls?
2. if you rotate ur iPhone landscape then portrait you can then scroll?
3. If you load the info page up then minimise the app then reopen the

[2020-12-28 16:43] ricoberger commented on #293
Hi @si458, thanks for reporting. It looks like this was caused by the displayed text, but I'm not sure how this could happen 😕. #294 removes the paragraphs so that it should work.

[2020-12-28 20:24] #293 closed

[2020-12-29 13:38] si458 commented on #282
just a little screenshot of it running on my new pi 4 4gb 32bit!
it also works on 64bits too!
only thing that's missing now is a .deb setup file!
![Screenshot 2020-12-29 at 13 34 03](https://user-images.githubusercontent.com/765314/103287612-d890d280-49da-11eb-8b87-4e32669c12ce.png)

[2020-12-29 19:58] ricoberger commented on #282
Nice 🙂.

If you want to take a look on how we can build and distribute a .deb file via GitHub Actions your welcome.

[2021-01-07 11:44] si458 commented on #257
@guyguy333 just wondering if you can try the latest version, and see if electron v11 fixes this issue?

[2021-01-08 15:41] oxr463 opened #298 "F-Droid"
It would be cool to have this on F-Droid.

[2021-01-08 15:44] si458 commented on #298
link for how to contribute to f-droid for @ricoberger
https://gitlab.com/fdroid/fdroiddata/blob/master/CONTRIBUTING.md

[2021-01-12 17:15] guyguy333 commented on #257
I did the test with the latest version of Kubenav using Electronic v11.1.1 and the issue remains 😕

[2021-01-29 19:57] si458 opened #301 "BUG: js-yaml edit error in latest builds"
when trying to edit a storageclass im getting a yaml error and never applies or closes window
thats only appears in latest build doesnt appear in 3.3.0,
it appears to be a dependency update of js-yaml thats upset it
DESKTOP:
![Screenshot 2021-01-29 at 19 54 57](https://user-images.githubusercontent.com/765314/106321391-1a2bcc00-626c-11eb-95e9-e3907bba1e90.png)
MOBILE:
![2765C1DC-CF00-4D83-A298-6D6

[2021-01-30 14:41] #301 closed

[2021-01-30 14:42] ricoberger commented on #301
Hi @si458, thanks for reporting. This should be fixed by https://github.com/kubenav/kubenav/commit/4eea3d86b5f8e6da66c738385648d6ed2b50207e

[2021-02-08 15:00] si458 opened #302 "componentstatus is deprecated"
the componentstatus API is deprecated now in 1.20+
https://kubernetes.io/docs/setup/release/notes/#deprecation-5

currently creating a new cluster from scratch with kubeadm adds extra componentstatus entrys
but these will always return a fail due to the changes in 1.20+

this is then always displaying errors in the warning table on the overview page 24/7

can the componentstatus entries NOT be inc

[2021-02-08 16:59] ricoberger commented on #302
Hi @si458, yes this shouldn't be a problem. Can you share the JSON payload for the overview page please?

I couldn't reproduce this, because for us it doesn't generate an event for failed components.

[2021-02-08 17:04] si458 commented on #302
Hi @ricoberger

sadly i cant generate a JSON payload anymore, as the kubeadm now generates authentication via cert/key method instead of user/pass, so my proxy method no longer works as it breaks the TLS config in kubenav 👎

ill have a think what else i can do

[2021-02-08 17:33] ricoberger commented on #302
Can you try to run kubenav with the `--debug` flag, then select `Debug` from the menu, switch to the Networking tab and hit `CMD` + `R` on the overview page.

It should then show the request to get the events for the overview page, with the complete JSON object. Only the event for the component status line would be interesting, you can omit the other events.

[2021-02-09 12:28] si458 commented on #302
sample output for you - https://pastebin.com/Yv7GTcBq
totally forgot about the debug option haha
also im aware i have a few other errors included it the output

[2021-02-09 17:57] ricoberger commented on #302
Hi @si458, thanks for sharing. Looking at the events, I don't think we can do anything here, because the `involvedObject` for all events is of `kind: Pod`.

My hope was, that we can filter the events on this field, but since they are related to a Pod I don't see a good way to omit them, without the risk of loosing other events.

[2021-02-09 17:59] si458 commented on #302
hi @ricoberger
ive had a look too myself and its a real pain as the events seem to return everything, including the errors being listed by the componentstatus, groan,
i will keep looking tho as the must be a way because the App [Lens](https://github.com/lensapp/lens) doesnt show the errors or warning, but kubenav does?

[2021-02-10 07:52] nextsux opened #303 "Ability to specify extra scopes for OIDC"
It would be nice to provide fields for extra scopes for OIDC auth. Using current OIDC auth in kubenav this is not available but some providers need a specific request so they include email and groups in response JWT token.

Currently I'm talking about google (groups not supported, email needs to be requested) and dex (both supported but needs to be specified in scopes).

For example using https://

[2021-02-15 19:47] #303 closed

[2021-02-15 19:52] ricoberger commented on #303
Hi @nextsux, with #304 it is now possible to set additional scopes for the OIDC authentication.

I published a new beta version via Apple Testflight and Google Play, which should be available soon. It would be nice if you can try it out. If you have any problems with the new feature, please let me know.

[2021-02-16 08:28] nextsux commented on #303
just checked and works great! Great work, thank you :clap:

[2021-02-16 08:41] ricoberger commented on #303
Nice, thanks for testing.

[2021-02-22 14:05] stevenGravy opened #305 "README Language updates"
Thanks for providing a great application!  Here are some minor language updates to the README language I thought could help. Would have done a push request but don't have access.

[README.md.zip](https://github.com/kubenav/kubenav/files/6022415/README.md.zip)

Minor changes in spelling and words.  The before and after diffed.

[code]

[2021-02-25 07:14] #305 closed

[2021-02-25 07:15] ricoberger commented on #305
Hi @stevenGravy, thanks for your suggestions 🙂. I fixed it in #306.

[2021-03-04 05:30] bilalbayasut opened #308 "Cannot get metrics working"
Hi, I'm using my iphone to connect to my cluster. I have configured in the app to get prometheus enabled and all setting should be correct. However I couldn't see the metrics.
![image](https://user-images.githubusercontent.com/3622158/109915963-5926c480-7ce5-11eb-9f6c-1cc3625ac390.jpeg)
Any idea?

[2021-03-04 21:46] ricoberger commented on #308
Hi @bilalbayasut, thanks for using kubenav. Can you check:

- Which version of kubenav you are using? We updated the metrics handling in the latest version, was it working before this update?
- If the `kube_pod_container_info` metric exists in your Prometheus setup?

[2021-03-05 13:16] bilalbayasut commented on #308
Hi , @ricoberger thanks for your reply, really appreciate it.
1. it's version 3.4.0
2. yes I have that metric in my prometheus

[2021-03-06 14:50] ricoberger commented on #308
Hi @bilalbayasut, thanks for checking. Unfortunately I couldn't reproduce the problem. Could you try the following please:

Go to **Settings** -> **General** and increase the **Request TImeout**. If this doesn't help could you try the desktop version of kubenav (binaries can be found [here](https://github.com/kubenav/kubenav/releases/tag/3.4.0)).

If the problem als occurs with the desktop version

[2021-03-06 18:02] bilalbayasut commented on #308
@bilalbayasut ri

[2021-03-06 18:04] bilalbayasut commented on #308
@ricoberger I've tried to run windows version, but after I double click the app, nothing happends

[2021-03-06 18:25] ricoberger commented on #308
I will check this. In the meantime, can you start kubenav via your terminal with `kubenav.exe --debug` this works for me. Then in the **File** menu you have a point named **Debug**, which opens the Developer Tools. In the **Networking** tab you should see a **plugins** request, when you view the details of a Pod and the Prometheus plugin is enabled.

[2021-03-08 05:16] bilalbayasut commented on #308
![image](https://user-images.githubusercontent.com/3622158/110277584-1d9f3980-8008-11eb-853e-d220181d7772.png)

@ricoberger that was what I got when I access my cluster from kubenav desktop windows

[2021-03-08 06:45] FriedCircuits commented on #308
I have the same problem. I can't open the Windows desktop version unless I use CLI with `--debug`. I also can't get metrics in the app. Same error as in the OP.

[2021-03-10 17:36] dbrennan opened #310 "Windows release doesn't start on Win 10 Pro 19043"
Windows popped up security warning, I clicked More, and Run but still nothing happened.
Tried running again, no popup, nothing happens.
I do see the .exe appear in Task Manager briefly then go away.

[2021-03-10 17:57] si458 commented on #310
Hi
What version are you running?
Also have you tried running it with the debug command from the command line?
**kubenav.exe --debug**

[2021-03-10 18:17] dbrennan commented on #310
Version= 3.4.0 release.
Interestingly running from cmdline popped up network allow dialog and the main window opens (with or without debug) but the window didn't open when trying to launch from explorer.

[2021-03-10 23:50] jbravo94 opened #311 "kubeconfig import from Rancher"
Hi @ricoberger,

i stubled across this cool project and i like it!

I just wanted to ask if there is already a automatic way of Plan to add a Rancher kubeconfig (without manual copy) and if not you i just wanted to ask if i may develop contribute this feature?

Best regards,
Johannes

[2021-03-10 23:54] si458 commented on #311
Hi @jbravo94

Kubenav should automatically read the ~/.kube/config file on desktop os, sadly mobile devices require inputting the file or typing out manually

But so long as you have your rancher config setup on cli and use kubectl then you should be good to go!

[2021-03-11 17:17] ricoberger commented on #310
Hi @dbrennan, thanks for reporting.

Yes this seems to be a bug in the current Windows version, so that the binary can only be executed via the command-line. I will look into it.

[2021-03-11 17:21] ricoberger commented on #311
Hi @jbravo94, if you are talking about the mobile version, your contribution would be very welcome 🙂.

[2021-03-11 17:38] ricoberger commented on #298
Hi @oxr463, great idea and sorry for the late feedback.

I struggled a lot with F-Droid support during the last weeks and opened a request for it https://gitlab.com/fdroid/rfp/-/issues/1670

[2021-03-11 18:14] oxr463 commented on #298
It's kind of hard getting apps in, not going to lie. But I appreciate the effort.

[2021-03-13 13:53] jbravo94 commented on #311
@si458 @ricoberger Yes i mean the mobile version, I know that it’s working now by manually copying it but a direct Import would be convenient.
Cool, then i hopefully will find time soon and submit a PR. I will follow your guidelines https://docs.kubenav.io/contributing/getting-started/
Thanks,
Johannes

[2021-03-13 13:56] si458 commented on #311
@jbravo94 you can already directly import the config file!
1. upload the file to your device (iphone use icloud drive, or email it to yourself then save the file to local device)
2. add cluster using the import kubeconfig and select kubeconfig button and it will load up the file manager to select a file, read it and then import it!

[2021-03-13 13:58] jbravo94 commented on #311
@si458 Ok thanks, i will try that for sure!

[2021-03-13 14:17] ricoberger commented on #311
Hi @jbravo94, if you need help with the setup, please let me know.

@si458 I think an automated way for Rancher would be a nice to have, if it improves the user experience with kubenav.

[2021-03-13 14:19] si458 commented on #311
Hi @ricoberger
Indeed an import way would be helpful, sadly I've never used rancher since I wouldn't be of much help here sadly

[2021-03-14 11:56] #310 closed

[2021-03-14 15:25] ricoberger commented on #310
Hi @dbrennan, the issue should be fixed in the following build https://github.com/kubenav/kubenav/actions/runs/651238225 and will be included in the next nightly run.

[2021-03-16 20:48] swsnr opened #315 "Running linux binary creates resources and vendor folders in current working directory"
Hello,

while attempting to make a flatpak for this app I noticed that the [latest `kubenav` Linux binary](https://github.com/kubenav/kubenav/releases/download/3.4.0/kubenav-linux-amd64.zip) attempts to write to a sandboxed directory within the flatpak environment.

And indeed when starting the binary directly via `./kubenav` the binary creates `resources` and `vendor` directories in the current w

[2021-03-18 12:33] rinaldou opened #316 "Building image on s390x plataform"
Hi!
I would like to test kubenav in my kubernetes cluster.
But from what I saw, the images are not build to s390x plataform.
Can you tell me if there are instructions to build an image?

[2021-03-18 12:56] si458 commented on #316
Hi @rinaldou
the build instructions are here - https://docs.kubenav.io/contributing/development/
however i have no knowledge or experience with Linux on IBM Z so you will have to see if it works

[2021-03-18 20:48] atn commented on #240
bumping this, still would be a good idea

[2021-03-19 23:35] ricoberger commented on #316
Hi @rinaldou, I tried to build the Docker image for linux/s390x via the GitHub Action, but unfortunately this doesn't work #317.

You can try to build the image by yourself, with the following command:

[code]

[2021-03-19 23:41] ricoberger commented on #315
Hi @lunaryorn, yes this is the default behavior of [go-astilectron](https://github.com/asticode/go-astilectron).

I looked a little bit into the [bundler](https://github.com/asticode/go-astilectron-bundler), but couldn't find a suitable option. Maybe we can provide a custom `RestoreAssets` function to restore the assets into another location: https://github.com/kubenav/kubenav/blob/98376ab73a245d3

[2021-03-20 07:26] lunaryorn commented on #315
Thanks.  I'll try to patch this, but I really wonder if it was possible to build kubenav without binding at all?  I understand that it's really helpful to distribute a single binary, but for packaging it really gets in the way.

It'd be great if I could just copy the resources to a directory and then tell kubenav to load resources from that directory 🤔

[2021-03-21 09:27] ricoberger commented on #308
Hi, I only can can reproduce the error, if I provide some invalid settings for the Prometheus. Can you check the following please:

[code]

Can you also check if you have set the `--web.external-url` and `--web.route-prefix` flags for Prometheus, please.

As note for me:

[code]

[code]

PS: The latest nightly build should now also work as expected for Windows.

[2021-03-21 09:27] #302 closed

[2021-03-26 14:21] rinaldou commented on #316
Thks!
I was able to build the image and put it to work.
Just needed to change Dockerfile from '--plataform=linux/amd64' to '--plataform=linux/s390x'
It builded the image and I was able to run it.

[2021-03-29 20:07] ricoberger commented on #316
Thanks for your feedback. I would keep this issue open and hopefully we can also build the image via the GitHub action in the future.

[2021-03-31 13:38] jarekuk opened #319 "Kubernetes API request failed error="unexpected end of JSON input" in Ubuntu and Android"
I'm trying to connect to my homelab kubernetes cluster using  .kube/config and I get error:
[code]

Same config file work in windows version of the kubenav but doesn't work on Ubuntu 20.04 or Android.
config:
[code]

[2021-04-05 19:41] ricoberger commented on #319
Hi @jarekuk, the kubeconfig looks good to me.

It's a bit strange that the kubeconfig works on one system, but not the other ones. Some things you can check are:

- The request timeout in the general settings.
- The cluster configuration on Android: On the clusters page you can swipe the cluster to the left and then click the edit button. Make sure that there are no additional characters in the ur

[2021-04-05 19:52] ricoberger commented on #240
Hi @atn, I found some time over the holidays to look into this. The current problem is, that Capacitor doesn't support widgets, which means that this feature must be implemented directly in the iOS code. This also causes the next problem: The configuration is saved in the local storage of the app, so that we do not have access to the configuration within the iOS code.

The chances are very low tha

[2021-04-06 01:07] atn commented on #240
So like a REST API that is exposed through an ingress, then fetching the data in scriptable and creating a widget with it?

[2021-04-06 05:59] ricoberger commented on #240
Yes exactly.

[2021-04-06 10:49] atn commented on #240
This would be pretty cool, and would also make it easy to make custom provision dashboards, etc.

[2021-04-06 13:52] jarekuk commented on #319
Hi Rico,
Thanks for your reply. I checked for additional characters, no problem here. I also tried to change EOL characters, didn't solve the issue.

After some more trial and errors the issue on Ubuntu seems to be related to certificate. I managed to get it to work on my by browsing in Firefox to https://192.168.0.x:6443 and accepting risks, then starting Kubenav.

But there seems to be a problem

[2021-04-06 15:13] ricoberger commented on #319
Thanks for your feedback, I would close the issue.

[2021-04-06 15:13] #319 closed

[2021-04-08 08:13] ricoberger commented on #298
Hi @oxr463, kubenav is now available on F-Droid: https://f-droid.org/de/packages/io.kubenav.kubenav/

[2021-04-08 08:13] #298 closed

[2021-04-10 11:45] pasdam opened #321 "MacOS amd64 does not start"
I tried latest release and latest nightly and I can't get it run on macOS 11.2.3

[2021-04-10 11:57] si458 commented on #321
Hi @pasdam
can you try running it in debug mode from the command line for us and tell us the output?
`/Applications/kubenav.app/Contents/MacOS/kubenav --debug`

[2021-04-10 12:16] pasdam commented on #321
Running it from command line like

[code]

works.

Weirdly enough if I open the app as before now it works as well.
Before I tried to open 2-3 times by double clicking on the app and it wasn't starting, now after running it from command line, it works also by directly opening the app.

I guess we can close this, although this might means that on macos for the first run you have to run it from comm

[2021-04-10 12:19] si458 commented on #321
it could be a number of issues as i no from previous issues with the latest mac version 11
(im on 10 at moment and refuse to update)

1. gatekeeper taking too long or blocking it (this can be bypassed by right clicking the app and the clicking open)
2. running from the command line (again this is a weird security thing ive spotted recently in 11)
3. im sure i could think of more reasons but ill le

[2021-04-10 17:58] ricoberger commented on #321
Hi @pasdam and @si458, sorry this was my fault. While working on the flag handling (#313) I forgot that we need a special handling for macOS, because macOS adds an additional flag when the app is started the first time.

Thanks for reporting, this should be fixed by #322, so that the next nightly build should work as expected.

[2021-04-10 19:04] #321 closed

[2021-04-12 08:55] LenglBoy commented on #197
Hello @ricoberger,
do you accept any feature requests for evaluation?
If so - what's your favored way to bring them up?

[2021-04-12 09:01] danderton opened #324 "Unable to add multiple Azure AKS clusters"
Hi,

We have multiple azure aks clusters within our subscriptions within different resource groups. When i try connecting, even when providing the RG name it fails to connect and tries to use the wrong clusters.

See screen shot:

![aks](https://user-images.githubusercontent.com/986583/114369047-e7f4ef80-9b75-11eb-8107-17c464506f4c.jpg)

In this screenshot its trying to access of one our clusters

[2021-04-12 16:21] ricoberger commented on #197
Hi @LenglBoy, you can create an issue with an explanation of the feature. Then we can discuss the feature and if the goal is clear, you or someone else can create a PR for it.

[2021-04-12 20:55] LenglBoy opened #325 "Feature request: Select multiple clusters to monitor"
Since it's a common thing not only to have a primary cluster running I would like to select multiple clusters at once for checking the related pods/...
Possible value could be to monitor a full environment at once and see how many application pods are running in case you want to check the current scaling faster and count the DB connections which might be limited on azure/...

Selecting a full clus

[2021-04-13 15:46] danderton commented on #324
Does the app require contributor access to the subscriptions? I have provided it with the correct RBAC roles for aks management but i'm a little reluctant to give an Azure AD app full control. Are you able to list the full set of roles it requires?

Our clusters also use RBAC, does this have an impact on how the app works?

[2021-04-14 16:25] #311 closed

[2021-04-15 07:17] Stummi opened #326 "Feature Request: Download and Upload Files from and into pods"
Kubernetes provides a feature to transfer files from and into pods. It would be nice to have this available through kubenav frontend.

[2021-04-15 07:18] Stummi opened #327 "Feature Request: Filter in namespace dropdown"

[2021-04-16 08:33] #327 closed

[2021-04-19 19:24] ricoberger commented on #324
I have not that much experience with Azure. We only using the [ListClusterUserCredentials](https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/listclustermonitoringusercredentials) / [ListClusterAdminCredentials](https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/listclusteradmincredentials), so maybe the permissions can be restricted to this scope.

I'm not sure if RBAC can b

[2021-04-19 19:32] ricoberger commented on #325
Hi @LenglBoy, thanks for your request. A better multi cluster support / viewing the resources of multiple clusters could be problematic. I will check if we can do sth. regarding this, but currently I think this would require to much changes in the core functionality of kubenav.

Same for the logs. Maybe we can extend it to get all logs of one deployment, but I'm not sure 100% sure at the moment.

[2021-04-20 11:17] LenglBoy commented on #325
Filtering the logs using REGEX and only show results including matches would already help a lot since most logs could be ignored then.
Having the current search's always showing everything which could be a lot of information on production stages that is not needed. That's causing issues finding the expected entries.

[2021-05-19 08:05] noampc opened #332 "Searching a pod is not working until clicking "Load More" a few times"
When I search an existing pod name I get an empty screen:
![Screen Shot 2021-05-19 at 11 02 27](https://user-images.githubusercontent.com/24469468/118777646-f5e31200-b891-11eb-8f4c-f0965a0c9649.png)

When I click two times on "Load More" I can finally see the pod:
![Screen Shot 2021-05-19 at 11 03 59](https://user-images.githubusercontent.com/24469468/118777652-f8de0280-b891-11eb-8c10-9b4cf840b3eb

[2021-05-19 11:01] noampc opened #333 "JSON editor"
It would be nice if there would be a JSON editor for editing resources (In addition to the existing Yaml editor).
Thank you :)

[2021-05-19 17:01] si458 commented on #332
this is a bug with pageination
if you goto pods then keep clicking the load more to load the full list of your pods
THEN search for the pod name, it will show it
sadly its a hard one to fix but im sure it could have a work around

[2021-05-19 19:15] #333 closed

[2021-05-19 19:16] ricoberger commented on #333
Hi @noampc, I like the idea and created a PR (#334) for it.

The feature should be available in the beta version at the beginning of the next week.

[2021-05-23 03:58] anthhub commented on #152
how to forward for service?

[2021-05-23 09:30] si458 commented on #152
Create a server or pod,
Go onto that pod or service
Then click on the port number and it will ask would you like to use a certain port or leave as -1 for a random port,
Click ok then use/go to that port
Note: only tcp works!

[2021-05-23 17:11] krivonos28 opened #335 "Can't run on macOS"
I got the error: `The application "kubenav" can't be open. 1`

[2021-05-23 19:22] si458 commented on #335
Hi @krivonos28,
can you elabrate abit more?
what OS?
did you download the release or build it by hand?
what version?

[2021-05-23 19:41] krivonos28 commented on #335
I downloaded this file (https://github.com/kubenav/kubenav/releases/download/3.5.0/kubenav-darwin-amd64.zip) .
I use macOS Big Sur 11.2.3

[2021-05-24 09:47] ricoberger commented on #335
Hi @krivonos28, can you try to start kubenav from your command line with the `--debug` flag and provide us the output please:

[code]

[2021-06-07 14:11] khalidjshaikh commented on #335
Works on macOS 10.4

[2021-06-07 14:11] khalidjshaikh commented on #335
![Uploading Screen Shot 2021-06-07 at 10.11.47 AM.png…]()

[2021-06-07 17:09] ricoberger commented on #335
Hi @khalidjshaikh, thanks for your feedback.

@krivonos28 does the issue still exists for you. If not I would close the issue.

[2021-06-07 18:19] #335 closed

[2021-06-08 04:38] anthhub commented on #152
how to port forward for services ??? there are some examples about it?

[2021-06-08 16:38] ricoberger commented on #152
Hi @anthhub as @si458 mentioned, you can port forward a services by clicking on the port in the details view for a service:

![IMG_0142](https://user-images.githubusercontent.com/18552168/121224032-6fb25e00-c888-11eb-8043-3fabace30f5a.PNG)

After you clicked on the port you will see an input field where you can set the local port (if you use `0` as local port a random local port will be selected).

[2021-07-28 17:29] anthhub commented on #152
Hi, I made a library with example forwarding service or pods!  You  can see the repo: 😬 https://github.com/anthhub/forwarder

[2021-07-29 10:42] mindrunner commented on #324
Having the same issue.

I have 2 resource groups [`rg-prod`, `rg-dev`]
Each resource group has one `k8s` cluster.

 The app is asking for a resource-group, so I have to put in either `rg-dev` or `rg-prod`. If I use `rg-prod`, I see the above mentioned error, saying it cannot find my DEV(!!!) cluster. Same happens the other way around.

[2021-07-29 19:28] daviddesmet commented on #324
I'm also experiencing the same issue, I've 5 resource groups each one with one cluster, trying to add a cluster from one resource group fails because it tries to add a cluster from a resource group it doesn't belong to.

[2021-07-29 19:33] danderton commented on #324
Im glad it’s not just me. I had no luck in getting this sorted myself either :(

Sent from my iPhone

[2021-07-29 19:43] mindrunner commented on #324
@ricoberger I deleted the negative feedback on Google Play. Was not aware this is an open source app.

What can we do to get this fixed?

[2021-07-29 19:54] daviddesmet commented on #324
I'm not familiar with go but I think it would be better to get the list of clusters by resource group [Managed Clusters - List By Resource Group](https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/list-by-resource-group) before calling [ListClusterAdminCredentials](https://github.com/kubenav/kubenav/blob/b5976ccc1464688da30ec38e940910d34700fc7e/pkg/api/azure.go#L75) or calling [ListClu

[2021-07-29 20:00] ricoberger commented on #324
@danderton @mindrunner @daviddesmet  can you check the documentation from https://docs.kubenav.io/mobile/microsoft-azure/ and let me know what is different to your setup?

If you can provide the steps how you created the credentials I would try to reproduce the issue.

@mindrunner thank you 🙂
@daviddesmet thanks I will check the linked documentation

[2021-07-29 20:03] daviddesmet commented on #324
@ricoberger I've followed the documentation step by step, nothing different on my side.

[2021-07-29 20:03] mindrunner commented on #324
same here

[2021-07-29 20:08] daviddesmet commented on #324
@ricoberger I've tried the [Managed Clusters - List Cluster Admin Credentials](https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/list-cluster-admin-credentials) endpoint and get the same error if I pass a resource name that doesn't belong to the resource group. So is just a matter of filtering or do a validation check first if the resource belongs to the resource-group using [Managed

[2021-07-29 20:09] mindrunner commented on #324
Is it maybe possible to make `resource group` optional? I would like to import all my clusters from all resource groups if possible.

[2021-07-29 20:11] danderton commented on #324
This is a good idea, that’s what I’m looking to do.

I’ve followed the steps as per the documentation.

Sent from my iPhone

[2021-07-29 20:14] daviddesmet commented on #324
@mindrunner that will be nice to have, I also want to import all clusters from all resource groups. I guess @ricoberger is using [Managed Clusters - List](https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/list) to get a list of clusters, unfortunately it doesn't return a `resource group` property, it would need to be parsed from the `id` property.

[2021-07-30 07:21] ricoberger commented on #324
Thanks for all your input. If someone of you have Go installed the fix from #339 can be tested with the following commands:

[code]

[2021-07-30 08:15] #324 closed

[2021-08-19 06:22] davejhahn opened #342 "Cannot get Port forwarding to work"
On both iPad and Android devices,  Returns an error upgrading connection / error upgrading request.

This would be an incredible option if I could get it t9 work.

any ideas?

[2021-08-19 15:36] si458 commented on #342
i am aware the is an issue with iOS devices:

if you setup the port forwarding, its only active if the kubenav app stays on the screen,

so if you go into another application, the port forwarding stops work,

the only way around this i have found for iOS was with the newver iPads which support multiple apps side by side,

which let me keep kubenav running, while i used safari to look at my grafana

[2021-08-21 02:10] davejhahn commented on #342
I was able to get

[2021-08-22 09:28] tuxpeople opened #343 "Not able to load kubeconfig on iOS"
I can't select a kubeconfig anymore. Not sure when it stopped working, as I don't need to load configs very often. Files are grayed out now and can't be selected:

![image](https://user-images.githubusercontent.com/1506076/130350003-71579014-51c2-4a4f-a323-0f9fee7e5410.jpeg)

[2021-08-22 09:59] ricoberger commented on #343
Hi @tuxpeople, this is related to #341, which was required to get the latest version into the App Store. Without this fix Apple rejects the App, because it is also possible to select the camera or photo library from the input dialog.

For now you could rename you Kubeconfig, so that the file contains a `.yaml`, `.yml` or `.txt` extension. I will also add the `.conf` extension to the list in the me